In [11]:
import sqlalchemy as sqla 
from sqlalchemy import create_engine 
import traceback 
import glob 
import os 

import requests 
import time 
import json


from IPython.display import display


import pymysql

In [12]:
import requests
import traceback
import datetime
import time
import os

In [13]:
URI="dbbikes.cjk4ybuxtkwv.us-east-1.rds.amazonaws.com"
PORT="3306"
DB="dbbikes"
USER="cmcelduff"
PASSWORD="Tullamore1!"

In [14]:
#Connect to database
engine = create_engine("mysql+pymysql://{0}:{1}@{2}:{3}".format(USER, PASSWORD, URI, PORT), echo=True) 
connection = engine.connect()

2023-02-27 11:44:10,473 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-02-27 11:44:10,479 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-02-27 11:44:10,604 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-02-27 11:44:10,606 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-02-27 11:44:10,829 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-02-27 11:44:10,830 INFO sqlalchemy.engine.Engine [raw sql] {}

In [15]:
sql = """
CREATE DATABASE IF NOT EXISTS dublin_bikes;
"""
engine.execute(sql)

2023-02-27 11:44:12,416 INFO sqlalchemy.engine.Engine
CREATE DATABASE IF NOT EXISTS dublin_bikes;

2023-02-27 11:44:12,417 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-02-27 11:44:12,523 INFO sqlalchemy.engine.Engine COMMIT

In [16]:
# command to check database is running
for res in engine.execute("SHOW VARIABLES;"):
    print(res)

2023-02-27 11:44:13,519 INFO sqlalchemy.engine.Engine SHOW VARIABLES;
2023-02-27 11:44:13,521 INFO sqlalchemy.engine.Engine [raw sql] {}
('activate_all_roles_on_login', 'OFF')
('admin_address', '')
('admin_port', '33062')
('admin_ssl_ca', '')
('admin_ssl_capath', '')
('admin_ssl_cert', '')
('admin_ssl_cipher', '')
('admin_ssl_crl', '')
('admin_ssl_crlpath', '')
('admin_ssl_key', '')
('admin_tls_ciphersuites', '')
('admin_tls_version', 'TLSv1.2,TLSv1.3')
('authentication_policy', '*')
('auto_generate_certs', 'ON')
('auto_increment_increment', '1')
('auto_increment_offset', '1')
('autocommit', 'OFF')
('automatic_sp_privileges', 'ON')
('avoid_temporal_upgrade', 'OFF')
('awsauthenticationplugin_max_backoff_delay', '2000')
('awsauthenticationplugin_max_retry_count', '3')
('awsauthenticationplugin_retry_delay', '250')
('back_log', '61')
('basedir', '/rdsdbbin/mysql-8.0.28.R4/')
('big_tables', 'OFF')
('bind_address', '*')
('binlog_cache_size', '32768')
('binlog_checksum', 'CRC32')
('binlog_direct_non_transactional_updates', 'OFF')
('binlog_encryption', 'OFF')
('binlog_error_action', 'ABORT_SERVER')
('binlog_expire_logs_seconds', '2592000')
('binlog_format', 'MIXED')
('binlog_group_commit_sync_delay', '0')
('binlog_group_commit_sync_no_delay_count', '0')
('binlog_gtid_simple_recovery', 'ON')
('binlog_max_flush_queue_time', '0')
('binlog_order_commits', 'ON')
('binlog_rotate_encryption_master_key_at_startup', 'OFF')
('binlog_row_event_max_size', '8192')
('binlog_row_image', 'FULL')
('binlog_row_metadata', 'MINIMAL')
('binlog_row_value_options', '')
('binlog_rows_query_log_events', 'OFF')
('binlog_stmt_cache_size', '32768')
('binlog_transaction_compression', 'OFF')
('binlog_transaction_compression_level_zstd', '3')
('binlog_transaction_dependency_history_size', '25000')
('binlog_transaction_dependency_tracking', 'COMMIT_ORDER')
('block_encryption_mode', 'aes-128-ecb')
('bulk_insert_buffer_size', '8388608')
('caching_sha2_password_auto_generate_rsa_keys', 'ON')
('caching_sha2_password_digest_rounds', '5000')
('caching_sha2_password_private_key_path', 'private_key.pem')
('caching_sha2_password_public_key_path', 'public_key.pem')
('character_set_client', 'utf8mb4')
('character_set_connection', 'utf8mb4')
('character_set_database', 'utf8mb4')
('character_set_filesystem', 'binary')
('character_set_results', 'utf8mb4')
('character_set_server', 'utf8mb4')
('character_set_system', 'utf8mb3')
('character_sets_dir', '/rdsdbbin/mysql-8.0.28.R4/share/charsets/')
('check_proxy_users', 'OFF')
('collation_connection', 'utf8mb4_0900_ai_ci')
('collation_database', 'utf8mb4_0900_ai_ci')
('collation_server', 'utf8mb4_0900_ai_ci')
('completion_type', 'NO_CHAIN')
('concurrent_insert', 'AUTO')
('connect_timeout', '10')
('connection_memory_chunk_size', '8912')
('connection_memory_limit', '18446744073709551615')
('core_file', 'OFF')
('create_admin_listener_thread', 'OFF')
('cte_max_recursion_depth', '1000')
('datadir', '/rdsdbdata/db/')
('default_authentication_plugin', 'mysql_native_password')
('default_collation_for_utf8mb4', 'utf8mb4_0900_ai_ci')
('default_password_lifetime', '0')
('default_storage_engine', 'InnoDB')
('default_table_encryption', 'OFF')
('default_tmp_storage_engine', 'InnoDB')
('default_week_format', '0')
('delay_key_write', 'ON')
('delayed_insert_limit', '100')
('delayed_insert_timeout', '300')
('delayed_queue_size', '1000')
('disabled_storage_engines', '')
('disconnect_on_expired_password', 'ON')
('div_precision_increment', '4')
('end_markers_in_json', 'OFF')
('enforce_gtid_consistency', 'OFF')
('eq_range_index_dive_limit', '200')
('error_count', '0')
('event_scheduler', 'ON')
('expire_logs_days', '0')
('explicit_defaults_for_timestamp', 'ON')
('external_user', '')
('flush', 'OFF')
('flush_time', '0')
('foreign_key_checks', 'ON')
('ft_boolean_syntax', '+ -><()~*:""&|')
('ft_max_word_len', '84')
('ft_min_word_len', '4')
('ft_query_expansion_limit', '20')
('ft_stopword_file', '(built-in)')
('general_log', 'OFF')
('general_log_file', '/rdsdbdata/log/general/mysql-general.log')
('generated_random_password_length', '20')
('global_connection_memory_limit', '18446744073709551615')
('global_connection_memory_tracking', 'OFF')
('group_concat_max_len', '1024')
('group_replication_consistency', 'EVENTUAL')
('gtid_executed', '')
('gtid_executed_compression_period', '0')
('gtid_mode', 'OFF_PERMISSIVE')
('gtid_next', 'AUTOMATIC')
('gtid_owned', '')
('gtid_purged', '')
('have_compress', 'YES')
('have_dynamic_loading', 'YES')
('have_geometry', 'YES')
('have_openssl', 'YES')
('have_profiling', 'YES')
('have_query_cache', 'NO')
('have_rtree_keys', 'YES')
('have_ssl', 'YES')
('have_statement_timeout', 'YES')
('have_symlink', 'DISABLED')
('histogram_generation_max_mem_size', '20000000')
('host_cache_size', '189')
('hostname', 'ip-10-1-4-121')
('identity', '0')
('immediate_server_version', '999999')
('information_schema_stats_expiry', '86400')
('init_connect', '')
('init_file', '')
('init_replica', '')
('init_slave', '')
('innodb_adaptive_flushing', 'ON')
('innodb_adaptive_flushing_lwm', '10')
('innodb_adaptive_hash_index', 'ON')
('innodb_adaptive_hash_index_parts', '8')
('innodb_adaptive_max_sleep_delay', '150000')
('innodb_api_bk_commit_interval', '5')
('innodb_api_disable_rowlock', 'OFF')
('innodb_api_enable_binlog', 'OFF')
('innodb_api_enable_mdl', 'OFF')
('innodb_api_trx_level', '0')
('innodb_autoextend_increment', '64')
('innodb_autoinc_lock_mode', '2')
('innodb_buffer_pool_chunk_size', '134217728')
('innodb_buffer_pool_dump_at_shutdown', 'ON')
('innodb_buffer_pool_dump_now', 'OFF')
('innodb_buffer_pool_dump_pct', '25')
('innodb_buffer_pool_filename', 'ib_buffer_pool')
('innodb_buffer_pool_in_core_file', 'ON')
('innodb_buffer_pool_instances', '1')
('innodb_buffer_pool_load_abort', 'OFF')
('innodb_buffer_pool_load_at_startup', 'ON')
('innodb_buffer_pool_load_now', 'OFF')
('innodb_buffer_pool_size', '268435456')
('innodb_change_buffer_max_size', '25')
('innodb_change_buffering', 'all')
('innodb_checksum_algorithm', 'crc32')
('innodb_cmp_per_index_enabled', 'OFF')
('innodb_commit_concurrency', '0')
('innodb_compression_failure_threshold_pct', '5')
('innodb_compression_level', '6')
('innodb_compression_pad_pct_max', '50')
('innodb_concurrency_tickets', '5000')
('innodb_data_file_path', 'ibdata1:12M:autoextend')
('innodb_data_home_dir', '/rdsdbdata/db/innodb')
('innodb_ddl_buffer_size', '1048576')
('innodb_ddl_threads', '4')
('innodb_deadlock_detect', 'ON')
('innodb_dedicated_server', 'OFF')
('innodb_default_row_format', 'dynamic')
('innodb_directories', '')
('innodb_disable_sort_file_cache', 'OFF')
('innodb_doublewrite', 'ON')
('innodb_doublewrite_batch_size', '16')
('innodb_doublewrite_dir', '')
('innodb_doublewrite_files', '2')
('innodb_doublewrite_pages', '32')
('innodb_extend_and_initialize', 'ON')
('innodb_fast_shutdown', '1')
('innodb_file_per_table', 'ON')
('innodb_fill_factor', '100')
('innodb_flush_log_at_timeout', '1')
('innodb_flush_log_at_trx_commit', '1')
('innodb_flush_method', 'O_DIRECT')
('innodb_flush_neighbors', '0')
('innodb_flush_sync', 'ON')
('innodb_flushing_avg_loops', '30')
('innodb_force_load_corrupted', 'OFF')
('innodb_force_recovery', '0')
('innodb_fsync_threshold', '0')
('innodb_ft_aux_table', '')
('innodb_ft_cache_size', '8000000')
('innodb_ft_enable_diag_print', 'OFF')
('innodb_ft_enable_stopword', 'ON')
('innodb_ft_max_token_size', '84')
('innodb_ft_min_token_size', '3')
('innodb_ft_num_word_optimize', '2000')
('innodb_ft_result_cache_limit', '2000000000')
('innodb_ft_server_stopword_table', '')
('innodb_ft_sort_pll_degree', '2')
('innodb_ft_total_cache_size', '640000000')
('innodb_ft_user_stopword_table', '')
('innodb_idle_flush_pct', '100')
('innodb_io_capacity', '200')
('innodb_io_capacity_max', '2000')
('innodb_lock_wait_timeout', '50')
('innodb_log_buffer_size', '8388608')
('innodb_log_checksums', 'ON')
('innodb_log_compressed_pages', 'ON')
('innodb_log_file_size', '134217728')
('innodb_log_files_in_group', '2')
('innodb_log_group_home_dir', '/rdsdbdata/log/innodb')
('innodb_log_spin_cpu_abs_lwm', '80')
('innodb_log_spin_cpu_pct_hwm', '50')
('innodb_log_wait_for_flush_spin_hwm', '400')
('innodb_log_write_ahead_size', '8192')
('innodb_log_writer_threads', 'ON')
('innodb_lru_scan_depth', '1024')
('innodb_max_dirty_pages_pct', '90.000000')
('innodb_max_dirty_pages_pct_lwm', '10.000000')
('innodb_max_purge_lag', '0')
('innodb_max_purge_lag_delay', '0')
('innodb_max_undo_log_size', '1073741824')
('innodb_monitor_disable', '')
('innodb_monitor_enable', '')
('innodb_monitor_reset', '')
('innodb_monitor_reset_all', '')
('innodb_numa_interleave', 'OFF')
('innodb_old_blocks_pct', '37')
('innodb_old_blocks_time', '1000')
('innodb_online_alter_log_max_size', '134217728')
('innodb_open_files', '4000')
('innodb_optimize_fulltext_only', 'OFF')
('innodb_page_cleaners', '1')
('innodb_page_size', '16384')
('innodb_parallel_read_threads', '4')
('innodb_print_all_deadlocks', 'OFF')
('innodb_print_ddl_logs', 'OFF')
('innodb_purge_batch_size', '300')
('innodb_purge_rseg_truncate_frequency', '128')
('innodb_purge_threads', '1')
('innodb_random_read_ahead', 'OFF')
('innodb_read_ahead_threshold', '56')
('innodb_read_io_threads', '4')
('innodb_read_only', 'OFF')
('innodb_redo_log_archive_dirs', '')
('innodb_redo_log_encrypt', 'OFF')
('innodb_replication_delay', '0')
('innodb_rollback_on_timeout', 'OFF')
('innodb_rollback_segments', '128')
('innodb_segment_reserve_factor', '12.500000')
('innodb_sort_buffer_size', '1048576')
('innodb_spin_wait_delay', '6')
('innodb_spin_wait_pause_multiplier', '50')
('innodb_stats_auto_recalc', 'ON')
('innodb_stats_include_delete_marked', 'OFF')
('innodb_stats_method', 'nulls_equal')
('innodb_stats_on_metadata', 'OFF')
('innodb_stats_persistent', 'ON')
('innodb_stats_persistent_sample_pages', '20')
('innodb_stats_transient_sample_pages', '8')
('innodb_status_output', 'OFF')
('innodb_status_output_locks', 'OFF')
('innodb_strict_mode', 'ON')
('innodb_sync_array_size', '1')
('innodb_sync_spin_loops', '30')
('innodb_table_locks', 'ON')
('innodb_temp_data_file_path', 'ibtmp1:12M:autoextend')
('innodb_temp_tablespaces_dir', './#innodb_temp/')
('innodb_thread_concurrency', '0')
('innodb_thread_sleep_delay', '10000')
('innodb_tmpdir', '')
('innodb_undo_directory', './')
('innodb_undo_log_encrypt', 'OFF')
('innodb_undo_log_truncate', 'ON')
('innodb_undo_tablespaces', '2')
('innodb_use_fdatasync', 'OFF')
('innodb_use_native_aio', 'ON')
('innodb_validate_tablespace_paths', 'ON')
('innodb_version', '8.0.28')
('innodb_write_io_threads', '4')
('insert_id', '0')
('interactive_timeout', '28800')
('internal_tmp_mem_storage_engine', 'TempTable')
('join_buffer_size', '262144')
('keep_files_on_create', 'OFF')
('key_buffer_size', '16777216')
('key_cache_age_threshold', '300')
('key_cache_block_size', '1024')
('key_cache_division_limit', '100')
('keyring_operations', 'ON')
('large_files_support', 'ON')
('large_page_size', '0')
('large_pages', 'OFF')
('last_insert_id', '0')
('lc_messages', 'en_US')
('lc_messages_dir', '/rdsdbbin/mysql-8.0.28.R4/share/')
('lc_time_names', 'en_US')
('license', 'GPL')
('local_infile', 'ON')
('lock_wait_timeout', '31536000')
('locked_in_memory', 'OFF')
('log_bin', 'ON')
('log_bin_basename', '/rdsdbdata/log/binlog/mysql-bin-changelog')
('log_bin_index', '/rdsdbdata/log/binlog/mysql-bin-changelog.index')
('log_bin_trust_function_creators', 'OFF')
('log_bin_use_v1_row_events', 'OFF')
('log_error', '/rdsdbdata/log/error/mysql-error.log')
('log_error_services', 'log_filter_internal; log_sink_internal')
('log_error_suppression_list', '')
('log_error_verbosity', '2')
('log_output', 'TABLE')
('log_queries_not_using_indexes', 'OFF')
('log_raw', 'OFF')
('log_replica_updates', 'ON')
('log_slave_updates', 'ON')
('log_slow_admin_statements', 'OFF')
('log_slow_extra', 'OFF')
('log_slow_replica_statements', 'OFF')
('log_slow_slave_statements', 'OFF')
('log_statements_unsafe_for_binlog', 'OFF')
('log_throttle_queries_not_using_indexes', '0')
('log_timestamps', 'UTC')
('long_query_time', '10.000000')
('low_priority_updates', 'OFF')
('lower_case_file_system', 'OFF')
('lower_case_table_names', '0')
('mandatory_roles', '')
('master_info_repository', 'TABLE')
('master_verify_checksum', 'OFF')
('max_allowed_packet', '67108864')
('max_binlog_cache_size', '18446744073709547520')
('max_binlog_size', '134217728')
('max_binlog_stmt_cache_size', '18446744073709547520')
('max_connect_errors', '100')
('max_connections', '61')
('max_delayed_threads', '20')
('max_digest_length', '1024')
('max_error_count', '1024')
('max_execution_time', '0')
('max_heap_table_size', '16777216')
('max_insert_delayed_threads', '20')
('max_join_size', '18446744073709551615')
('max_length_for_sort_data', '4096')
('max_points_in_geometry', '65536')
('max_prepared_stmt_count', '16382')
('max_relay_log_size', '0')
('max_seeks_for_key', '18446744073709551615')
('max_sort_length', '1024')
('max_sp_recursion_depth', '0')
('max_user_connections', '0')
('max_write_lock_count', '18446744073709551615')
('min_examined_row_limit', '0')
('myisam_data_pointer_size', '6')
('myisam_max_sort_file_size', '9223372036853727232')
('myisam_mmap_size', '18446744073709551615')
('myisam_recover_options', 'OFF')
('myisam_repair_threads', '1')
('myisam_sort_buffer_size', '8388608')
('myisam_stats_method', 'nulls_unequal')
('myisam_use_mmap', 'OFF')
('mysql_native_password_proxy_users', 'OFF')
('net_buffer_length', '16384')
('net_read_timeout', '30')
('net_retry_count', '10')
('net_write_timeout', '60')
('new', 'OFF')
('ngram_token_size', '2')
('offline_mode', 'OFF')
('old', 'OFF')
('old_alter_table', 'OFF')
('open_files_limit', '1048576')
('optimizer_prune_level', '1')
('optimizer_search_depth', '62')
('optimizer_switch', 'index_merge=on,index_merge_union=on,index_merge_sort_union=on,index_merge_intersection=on,engine_condition_pushdown=on,index_condition_pushdown=on,mr ... (258 characters truncated) ... visible_indexes=off,skip_scan=on,hash_join=on,subquery_to_derived=off,prefer_ordering_index=on,hypergraph_optimizer=off,derived_condition_pushdown=on')
('optimizer_trace', 'enabled=off,one_line=off')
('optimizer_trace_features', 'greedy_search=on,range_optimizer=on,dynamic_range=on,repeated_subselect=on')
('optimizer_trace_limit', '1')
('optimizer_trace_max_mem_size', '1048576')
('optimizer_trace_offset', '-1')
('original_commit_timestamp', '36028797018963968')
('original_server_version', '999999')
('parser_max_mem_size', '18446744073709551615')
('partial_revokes', 'OFF')
('password_history', '0')
('password_require_current', 'OFF')
('password_reuse_interval', '0')
('performance_schema', 'OFF')
('performance_schema_accounts_size', '0')
('performance_schema_digests_size', '0')
('performance_schema_error_size', '0')
('performance_schema_events_stages_history_long_size', '0')
('performance_schema_events_stages_history_size', '0')
('performance_schema_events_statements_history_long_size', '0')
('performance_schema_events_statements_history_size', '0')
('performance_schema_events_transactions_history_long_size', '0')
('performance_schema_events_transactions_history_size', '0')
('performance_schema_events_waits_history_long_size', '0')
('performance_schema_events_waits_history_size', '0')
('performance_schema_hosts_size', '0')
('performance_schema_max_cond_classes', '0')
('performance_schema_max_cond_instances', '0')
('performance_schema_max_digest_length', '0')
('performance_schema_max_digest_sample_age', '60')
('performance_schema_max_file_classes', '0')
('performance_schema_max_file_handles', '0')
('performance_schema_max_file_instances', '0')
('performance_schema_max_index_stat', '0')
('performance_schema_max_memory_classes', '0')
('performance_schema_max_metadata_locks', '0')
('performance_schema_max_mutex_classes', '0')
('performance_schema_max_mutex_instances', '0')
('performance_schema_max_prepared_statements_instances', '0')
('performance_schema_max_program_instances', '0')
('performance_schema_max_rwlock_classes', '0')
('performance_schema_max_rwlock_instances', '0')
('performance_schema_max_socket_classes', '0')
('performance_schema_max_socket_instances', '0')
('performance_schema_max_sql_text_length', '0')
('performance_schema_max_stage_classes', '0')
('performance_schema_max_statement_classes', '0')
('performance_schema_max_statement_stack', '0')
('performance_schema_max_table_handles', '0')
('performance_schema_max_table_instances', '0')
('performance_schema_max_table_lock_stat', '0')
('performance_schema_max_thread_classes', '0')
('performance_schema_max_thread_instances', '0')
('performance_schema_session_connect_attrs_size', '0')
('performance_schema_setup_actors_size', '0')
('performance_schema_setup_objects_size', '0')
('performance_schema_show_processlist', 'OFF')
('performance_schema_users_size', '0')
('persist_only_admin_x509_subject', '')
('persisted_globals_load', 'OFF')
('pid_file', '/rdsdbdata/log/mysql-3306.pid')
('plugin_dir', '/rdsdbbin/mysql-8.0.28.R4/lib/plugin/')
('port', '3306')
('preload_buffer_size', '32768')
('print_identified_with_as_hex', 'OFF')
('profiling', 'OFF')
('profiling_history_size', '15')
('protocol_compression_algorithms', 'zlib,zstd,uncompressed')
('protocol_version', '10')
('proxy_user', '')
('pseudo_replica_mode', 'OFF')
('pseudo_slave_mode', 'OFF')
('pseudo_thread_id', '2700')
('query_alloc_block_size', '8192')
('query_prealloc_size', '8192')
('rand_seed1', '0')
('rand_seed2', '0')
('range_alloc_block_size', '4096')
('range_optimizer_max_mem_size', '8388608')
('rbr_exec_mode', 'STRICT')
('read_buffer_size', '262144')
('read_only', 'OFF')
('read_rnd_buffer_size', '524288')
('regexp_stack_limit', '8000000')
('regexp_time_limit', '32')
('relay_log', '/rdsdbdata/log/relaylog/relaylog')
('relay_log_basename', '/rdsdbdata/log/relaylog/relaylog')
('relay_log_index', '/rdsdbdata/log/relaylog/relaylog.index')
('relay_log_info_file', 'relay-log.info')
('relay_log_info_repository', 'TABLE')
('relay_log_purge', 'ON')
('relay_log_recovery', 'ON')
('relay_log_space_limit', '0')
('replica_allow_batching', 'OFF')
('replica_checkpoint_group', '512')
('replica_checkpoint_period', '300')
('replica_compressed_protocol', 'OFF')
('replica_exec_mode', 'IDEMPOTENT')
('replica_load_tmpdir', '/rdsdbdata/tmp')
('replica_max_allowed_packet', '1073741824')
('replica_net_timeout', '60')
('replica_parallel_type', 'LOGICAL_CLOCK')
('replica_parallel_workers', '4')
('replica_pending_jobs_size_max', '134217728')
('replica_preserve_commit_order', 'ON')
('replica_skip_errors', 'OFF')
('replica_sql_verify_checksum', 'ON')
('replica_transaction_retries', '10')
('replica_type_conversions', '')
('replication_optimize_for_static_plugin_config', 'OFF')
('replication_sender_observe_commit_only', 'OFF')
('report_host', '')
('report_password', '')
('report_port', '3306')
('report_user', '')
('require_row_format', 'OFF')
('require_secure_transport', 'OFF')
('resultset_metadata', 'FULL')
('rpl_read_size', '8192')
('rpl_stop_replica_timeout', '31536000')
('rpl_stop_slave_timeout', '31536000')
('schema_definition_cache', '256')
('secondary_engine_cost_threshold', '100000.000000')
('secure_file_priv', '/secure_file_priv_dir/')
('select_into_buffer_size', '131072')
('select_into_disk_sync', 'OFF')
('select_into_disk_sync_delay', '0')
('server_id', '541196055')
('server_id_bits', '32')
('server_uuid', 'd9823ea1-b16c-11ed-9724-02c4f868e17d')
('session_track_gtids', 'OFF')
('session_track_schema', 'ON')
('session_track_state_change', 'OFF')
('session_track_system_variables', 'time_zone,autocommit,character_set_client,character_set_results,character_set_connection')
('session_track_transaction_info', 'OFF')
('sha256_password_auto_generate_rsa_keys', 'ON')
('sha256_password_private_key_path', 'private_key.pem')
('sha256_password_proxy_users', 'OFF')
('sha256_password_public_key_path', 'public_key.pem')
('show_create_table_skip_secondary_engine', 'OFF')
('show_create_table_verbosity', 'OFF')
('show_old_temporals', 'OFF')
('skip_external_locking', 'ON')
('skip_name_resolve', 'OFF')

In [17]:
sql_create_schema = "CREATE SCHEMA `dublin_bikes`;"
try:
    #res = engine.execute("DROP TABLE IF EXISTS station")
    res = engine.execute(sql_create_schema)
    print(res.fetchall())
except Exception as e:
    print(e)

2023-02-27 11:44:15,728 INFO sqlalchemy.engine.Engine CREATE SCHEMA `dublin_bikes`;
2023-02-27 11:44:15,730 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-02-27 11:44:15,926 INFO sqlalchemy.engine.Engine ROLLBACK
(pymysql.err.ProgrammingError) (1007, "Can't create database 'dublin_bikes'; database exists")
[SQL: CREATE SCHEMA `dublin_bikes`;]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [18]:
# command to create table in mysql
sql_create_table = """
CREATE TABLE IF NOT EXISTS `dublin_bikes`.`station` (
address VARCHAR(256),
banking INTEGER,
bike_stands INTEGER,
bonus INTEGER,
contact_name VARCHAR(256),
name VARCHAR(256),
number INTEGER,
position_lat REAL,
position_lng REAL,
status VARCHAR(256)
)
"""

try:
    #res = engine.execute("DROP TABLE IF EXISTS station")
    res = engine.execute(sql_create_table)
    print(res.fetchall())
except Exception as e:
    print(e)

    # tom test 
    # tom test 2

2023-02-27 11:44:16,461 INFO sqlalchemy.engine.Engine
CREATE TABLE IF NOT EXISTS `dublin_bikes`.`station` (
address VARCHAR(256),
banking INTEGER,
bike_stands INTEGER,
bonus INTEGER,
contact_name VARCHAR(256),
name VARCHAR(256),
number INTEGER,
position_lat REAL,
position_lng REAL,
status VARCHAR(256)
)

2023-02-27 11:44:16,464 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-02-27 11:44:16,758 INFO sqlalchemy.engine.Engine COMMIT
This result object does not return rows. It has been closed automatically.

In [19]:
sql_create_table = """
CREATE TABLE IF NOT EXISTS `dublin_bikes`.`availability` (
number INTEGER,
available_bikes INTEGER,
available_bike_stands INTEGER,
last_update INTEGER
)
"""

try:
    #res = engine.execute("DROP TABLE IF EXISTS station")
    res = engine.execute(sql_create_table)
    print(res.fetchall())
except Exception as e:
    print(e)

2023-02-27 11:44:17,222 INFO sqlalchemy.engine.Engine
CREATE TABLE IF NOT EXISTS `dublin_bikes`.`availability` (
number INTEGER,
available_bikes INTEGER,
available_bike_stands INTEGER,
last_update INTEGER
)

2023-02-27 11:44:17,224 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-02-27 11:44:17,427 INFO sqlalchemy.engine.Engine COMMIT
This result object does not return rows. It has been closed automatically.

In [20]:
NAME="Dublin"
STATIONS="https://api.jcdecaux.com/vls/v1/stations/"
DubBike_API = "7f06972a5ed335cf697379627fd13027274927c7"

def write_to_file(text):
    date_underscores = "{:%Y_%m_%d_%H_%M_%S}".format(datetime.datetime.now())
    with open(r"data\bikes_{}".format(date_underscores).replace(" ", "_"), "w") as f:
        f.write(text)

def stations_to_db(text):
    stations = json.loads(text)
    print(type(stations), len(stations))
    for station in stations:
        print(station)
        vals = (station.get("address"),int(station.get("banking")), int(station.get("bike_stands")), int(station.get("bonus")),station.get("contract_name"), station.get("name"), station.get("number"), station.get("position").get("lat"), station.get("position").get("lng"), station.get("status"))
        engine.execute("INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)", vals)
    return

def availability_to_db(text):
    stations = json.loads(text)
    #print(availability)
    for station in stations:
        #print(station.get("name"))
        #print(station.get("number"))
        #print(station.get("available_bikes"))
        #print(station.get("available_bike_stands"))
        #print(station.get("last_update"))
        vals = (int(station.get("number")), int(station.get("available_bikes")), int(station.get("available_bike_stands")), int(station.get("last_update")))
        engine.execute("INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)", vals)
    return
        
                                            
def main():
    print(os.path)
    r = requests.get(STATIONS, params={"apiKey": DubBike_API, "contract" : NAME})
    stations_to_db(r.text)
    while True:
        try:
            now = datetime.datetime.now()
            r = requests.get(STATIONS, params={"apiKey": DubBike_API, "contract" : NAME})
            print(r, now)
            write_to_file(r.text)
            #stations_to_db(r.text)
            availability_to_db(r.text)
            time.sleep(5*60)
        except:
            print(traceback.format_exc())
            #if engine is None:
                #pass
        return

if __name__== "__main__":
    main()

<module 'posixpath' from '/Users/conormcelduff/opt/anaconda3/envs/comp30830/lib/python3.10/posixpath.py'>
<class 'list'> 114
{'number': 42, 'contract_name': 'dublin', 'name': 'SMITHFIELD NORTH', 'address': 'Smithfield North', 'position': {'lat': 53.349562, 'lng': -6.278198}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 16, 'available_bikes': 14, 'status': 'OPEN', 'last_update': 1677498075000}
2023-02-27 11:44:18,839 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:18,841 INFO sqlalchemy.engine.Engine [raw sql] ('Smithfield North', 0, 30, 0, 'dublin', 'SMITHFIELD NORTH', 42, 53.349562, -6.278198, 'OPEN')
2023-02-27 11:44:18,987 INFO sqlalchemy.engine.Engine COMMIT
{'number': 30, 'contract_name': 'dublin', 'name': 'PARNELL SQUARE NORTH', 'address': 'Parnell Square North', 'position': {'lat': 53.3537415547453, 'lng': -6.26530144781526}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 19, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677497778000}
2023-02-27 11:44:19,261 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:19,263 INFO sqlalchemy.engine.Engine [raw sql] ('Parnell Square North', 0, 20, 0, 'dublin', 'PARNELL SQUARE NORTH', 30, 53.3537415547453, -6.26530144781526, 'OPEN')
2023-02-27 11:44:19,434 INFO sqlalchemy.engine.Engine COMMIT
{'number': 54, 'contract_name': 'dublin', 'name': 'CLONMEL STREET', 'address': 'Clonmel Street', 'position': {'lat': 53.336021, 'lng': -6.26298}, 'banking': False, 'bonus': False, 'bike_stands': 33, 'available_bike_stands': 16, 'available_bikes': 17, 'status': 'OPEN', 'last_update': 1677497701000}
2023-02-27 11:44:19,678 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:19,679 INFO sqlalchemy.engine.Engine [raw sql] ('Clonmel Street', 0, 33, 0, 'dublin', 'CLONMEL STREET', 54, 53.336021, -6.26298, 'OPEN')
2023-02-27 11:44:19,807 INFO sqlalchemy.engine.Engine COMMIT
{'number': 108, 'contract_name': 'dublin', 'name': 'AVONDALE ROAD', 'address': 'Avondale Road', 'position': {'lat': 53.359405, 'lng': -6.276142}, 'banking': False, 'bonus': False, 'bike_stands': 35, 'available_bike_stands': 19, 'available_bikes': 16, 'status': 'OPEN', 'last_update': 1677498098000}
2023-02-27 11:44:20,011 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:20,012 INFO sqlalchemy.engine.Engine [raw sql] ('Avondale Road', 0, 35, 0, 'dublin', 'AVONDALE ROAD', 108, 53.359405, -6.276142, 'OPEN')
2023-02-27 11:44:20,135 INFO sqlalchemy.engine.Engine COMMIT
{'number': 20, 'contract_name': 'dublin', 'name': 'JAMES STREET EAST', 'address': 'James Street East', 'position': {'lat': 53.336597, 'lng': -6.248109}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 9, 'available_bikes': 21, 'status': 'OPEN', 'last_update': 1677497970000}
2023-02-27 11:44:20,330 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:20,331 INFO sqlalchemy.engine.Engine [raw sql] ('James Street East', 0, 30, 0, 'dublin', 'JAMES STREET EAST', 20, 53.336597, -6.248109, 'OPEN')
2023-02-27 11:44:20,439 INFO sqlalchemy.engine.Engine COMMIT
{'number': 56, 'contract_name': 'dublin', 'name': 'MOUNT STREET LOWER', 'address': 'Mount Street Lower', 'position': {'lat': 53.33796, 'lng': -6.24153}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 6, 'available_bikes': 33, 'status': 'OPEN', 'last_update': 1677497919000}
2023-02-27 11:44:20,633 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:20,634 INFO sqlalchemy.engine.Engine [raw sql] ('Mount Street Lower', 0, 40, 0, 'dublin', 'MOUNT STREET LOWER', 56, 53.33796, -6.24153, 'OPEN')
2023-02-27 11:44:20,765 INFO sqlalchemy.engine.Engine COMMIT
{'number': 6, 'contract_name': 'dublin', 'name': 'CHRISTCHURCH PLACE', 'address': 'Christchurch Place', 'position': {'lat': 53.343368, 'lng': -6.27012}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 17, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1677498047000}
2023-02-27 11:44:20,959 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:20,961 INFO sqlalchemy.engine.Engine [raw sql] ('Christchurch Place', 0, 20, 0, 'dublin', 'CHRISTCHURCH PLACE', 6, 53.343368, -6.27012, 'OPEN')
2023-02-27 11:44:21,057 INFO sqlalchemy.engine.Engine COMMIT
{'number': 18, 'contract_name': 'dublin', 'name': 'GRANTHAM STREET', 'address': 'Grantham Street', 'position': {'lat': 53.334123, 'lng': -6.265436}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 30, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677497701000}
2023-02-27 11:44:21,267 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:21,269 INFO sqlalchemy.engine.Engine [raw sql] ('Grantham Street', 0, 30, 0, 'dublin', 'GRANTHAM STREET', 18, 53.334123, -6.265436, 'OPEN')
2023-02-27 11:44:21,374 INFO sqlalchemy.engine.Engine COMMIT
{'number': 32, 'contract_name': 'dublin', 'name': 'PEARSE STREET', 'address': 'Pearse Street', 'position': {'lat': 53.344304, 'lng': -6.250427}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 6, 'available_bikes': 21, 'status': 'OPEN', 'last_update': 1677497820000}
2023-02-27 11:44:21,585 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:21,585 INFO sqlalchemy.engine.Engine [raw sql] ('Pearse Street', 0, 30, 0, 'dublin', 'PEARSE STREET', 32, 53.344304, -6.250427, 'OPEN')
2023-02-27 11:44:21,679 INFO sqlalchemy.engine.Engine COMMIT
{'number': 52, 'contract_name': 'dublin', 'name': 'YORK STREET EAST', 'address': 'York Street East', 'position': {'lat': 53.338755, 'lng': -6.262003}, 'banking': False, 'bonus': False, 'bike_stands': 32, 'available_bike_stands': 8, 'available_bikes': 24, 'status': 'OPEN', 'last_update': 1677498025000}
2023-02-27 11:44:21,893 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:21,894 INFO sqlalchemy.engine.Engine [raw sql] ('York Street East', 0, 32, 0, 'dublin', 'YORK STREET EAST', 52, 53.338755, -6.262003, 'OPEN')
2023-02-27 11:44:21,999 INFO sqlalchemy.engine.Engine COMMIT
{'number': 48, 'contract_name': 'dublin', 'name': 'EXCISE WALK', 'address': 'Excise Walk', 'position': {'lat': 53.347777, 'lng': -6.244239}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 16, 'available_bikes': 23, 'status': 'OPEN', 'last_update': 1677498028000}
2023-02-27 11:44:22,306 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:22,308 INFO sqlalchemy.engine.Engine [raw sql] ('Excise Walk', 0, 40, 0, 'dublin', 'EXCISE WALK', 48, 53.347777, -6.244239, 'OPEN')
2023-02-27 11:44:22,411 INFO sqlalchemy.engine.Engine COMMIT
{'number': 13, 'contract_name': 'dublin', 'name': 'FITZWILLIAM SQUARE WEST', 'address': 'Fitzwilliam Square West', 'position': {'lat': 53.336074, 'lng': -6.252825}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 10, 'available_bikes': 20, 'status': 'OPEN', 'last_update': 1677498137000}
2023-02-27 11:44:22,694 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:22,696 INFO sqlalchemy.engine.Engine [raw sql] ('Fitzwilliam Square West', 0, 30, 0, 'dublin', 'FITZWILLIAM SQUARE WEST', 13, 53.336074, -6.252825, 'OPEN')
2023-02-27 11:44:22,819 INFO sqlalchemy.engine.Engine COMMIT
{'number': 43, 'contract_name': 'dublin', 'name': 'PORTOBELLO ROAD', 'address': 'Portobello Road', 'position': {'lat': 53.330091, 'lng': -6.268044}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 29, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677498184000}
2023-02-27 11:44:23,015 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)

2023-02-27 11:44:23,016 INFO sqlalchemy.engine.Engine [raw sql] ('Portobello Road', 0, 30, 0, 'dublin', 'PORTOBELLO ROAD', 43, 53.330091, -6.268044, 'OPEN')
2023-02-27 11:44:23,110 INFO sqlalchemy.engine.Engine COMMIT
{'number': 31, 'contract_name': 'dublin', 'name': 'PARNELL STREET', 'address': 'Parnell Street', 'position': {'lat': 53.350929, 'lng': -6.265125}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 18, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1677498054000}
2023-02-27 11:44:23,365 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:23,366 INFO sqlalchemy.engine.Engine [raw sql] ('Parnell Street', 0, 20, 0, 'dublin', 'PARNELL STREET', 31, 53.350929, -6.265125, 'OPEN')
2023-02-27 11:44:23,466 INFO sqlalchemy.engine.Engine COMMIT
{'number': 98, 'contract_name': 'dublin', 'name': 'FREDERICK STREET SOUTH', 'address': 'Frederick Street South', 'position': {'lat': 53.341515, 'lng': -6.256853}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 7, 'available_bikes': 32, 'status': 'OPEN', 'last_update': 1677497871000}
2023-02-27 11:44:23,701 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:23,703 INFO sqlalchemy.engine.Engine [raw sql] ('Frederick Street South', 0, 40, 0, 'dublin', 'FREDERICK STREET SOUTH', 98, 53.341515, -6.256853, 'OPEN')
2023-02-27 11:44:23,808 INFO sqlalchemy.engine.Engine COMMIT
{'number': 14, 'contract_name': 'dublin', 'name': 'FOWNES STREET UPPER', 'address': 'Fownes Street Upper', 'position': {'lat': 53.344603, 'lng': -6.263371}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 15, 'available_bikes': 15, 'status': 'OPEN', 'last_update': 1677498146000}
2023-02-27 11:44:24,051 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:24,053 INFO sqlalchemy.engine.Engine [raw sql] ('Fownes Street Upper', 0, 30, 0, 'dublin', 'FOWNES STREET UPPER', 14, 53.344603, -6.263371, 'OPEN')
2023-02-27 11:44:24,161 INFO sqlalchemy.engine.Engine COMMIT
{'number': 1, 'contract_name': 'dublin', 'name': 'CLARENDON ROW', 'address': 'Clarendon Row', 'position': {'lat': 53.340927, 'lng': -6.262501}, 'banking': False, 'bonus': False, 'bike_stands': 31, 'available_bike_stands': 10, 'available_bikes': 21, 'status': 'OPEN', 'last_update': 1677498074000}
2023-02-27 11:44:24,384 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:24,385 INFO sqlalchemy.engine.Engine [raw sql] ('Clarendon Row', 0, 31, 0, 'dublin', 'CLARENDON ROW', 1, 53.340927, -6.262501, 'OPEN')
2023-02-27 11:44:24,533 INFO sqlalchemy.engine.Engine COMMIT
{'number': 23, 'contract_name': 'dublin', 'name': 'CUSTOM HOUSE', 'address': 'Custom House', 'position': {'lat': 53.348279, 'lng': -6.254662}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 3, 'available_bikes': 25, 'status': 'OPEN', 'last_update': 1677497797000}
2023-02-27 11:44:24,730 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:24,731 INFO sqlalchemy.engine.Engine [raw sql] ('Custom House', 0, 30, 0, 'dublin', 'CUSTOM HOUSE', 23, 53.348279, -6.254662, 'OPEN')
2023-02-27 11:44:24,828 INFO sqlalchemy.engine.Engine COMMIT
{'number': 106, 'contract_name': 'dublin', 'name': 'RATHDOWN ROAD', 'address': 'Rathdown Road', 'position': {'lat': 53.35893, 'lng': -6.280337}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 34, 'available_bikes': 6, 'status': 'OPEN', 'last_update': 1677497774000}
2023-02-27 11:44:25,034 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:25,036 INFO sqlalchemy.engine.Engine [raw sql] ('Rathdown Road', 0, 40, 0, 'dublin', 'RATHDOWN ROAD', 106, 53.35893, -6.280337, 'OPEN')
2023-02-27 11:44:25,187 INFO sqlalchemy.engine.Engine COMMIT
{'number': 112, 'contract_name': 'dublin', 'name': "NORTH CIRCULAR ROAD (O'CONNELL'S)", 'address': "North Circular Road (O'Connell's)", 'position': {'lat': 53.357841, 'lng': -6.251557}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 30, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677497708000}
2023-02-27 11:44:25,402 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:25,404 INFO sqlalchemy.engine.Engine [raw sql] ("North Circular Road (O'Connell's)", 0, 30, 0, 'dublin', "NORTH CIRCULAR ROAD (O'CONNELL'S)", 112, 53.357841, -6.251557, 'OPEN')
2023-02-27 11:44:25,500 INFO sqlalchemy.engine.Engine COMMIT
{'number': 68, 'contract_name': 'dublin', 'name': 'HANOVER QUAY', 'address': 'Hanover Quay', 'position': {'lat': 53.344115, 'lng': -6.237153}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 27, 'available_bikes': 13, 'status': 'OPEN', 'last_update': 1677497710000}
2023-02-27 11:44:25,712 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:25,713 INFO sqlalchemy.engine.Engine [raw sql] ('Hanover Quay', 0, 40, 0, 'dublin', 'HANOVER QUAY', 68, 53.344115, -6.237153, 'OPEN')
2023-02-27 11:44:25,825 INFO sqlalchemy.engine.Engine COMMIT
{'number': 74, 'contract_name': 'dublin', 'name': 'OLIVER BOND STREET', 'address': 'Oliver Bond Street', 'position': {'lat': 53.343893, 'lng': -6.280531}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 29, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677497649000}
2023-02-27 11:44:26,033 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:26,035 INFO sqlalchemy.engine.Engine [raw sql] ('Oliver Bond Street', 0, 30, 0, 'dublin', 'OLIVER BOND STREET', 74, 53.343893, -6.280531, 'OPEN')
2023-02-27 11:44:26,152 INFO sqlalchemy.engine.Engine COMMIT
{'number': 87, 'contract_name': 'dublin', 'name': 'COLLINS BARRACKS MUSEUM', 'address': 'Collins Barracks Museum', 'position': {'lat': 53.347477, 'lng': -6.28525}, 'banking': False, 'bonus': False, 'bike_stands': 38, 'available_bike_stands': 36, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1677497676000}
2023-02-27 11:44:26,362 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:26,365 INFO sqlalchemy.engine.Engine [raw sql] ('Collins Barracks Museum', 0, 38, 0, 'dublin', 'COLLINS BARRACKS MUSEUM', 87, 53.347477, -6.28525, 'OPEN')
2023-02-27 11:44:26,471 INFO sqlalchemy.engine.Engine COMMIT
{'number': 84, 'contract_name': 'dublin', 'name': 'BROOKFIELD ROAD', 'address': 'Brookfield Road', 'position': {'lat': 53.339005, 'lng': -6.300217}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 30, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677498135000}
2023-02-27 11:44:26,666 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:26,668 INFO sqlalchemy.engine.Engine [raw sql] ('Brookfield Road', 0, 30, 0, 'dublin', 'BROOKFIELD ROAD', 84, 53.339005, -6.300217, 'OPEN')
2023-02-27 11:44:26,762 INFO sqlalchemy.engine.Engine COMMIT
{'number': 90, 'contract_name': 'dublin', 'name': 'BENSON STREET', 'address': 'Benson Street', 'position': {'lat': 53.344153, 'lng': -6.233451}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 15, 'available_bikes': 25, 'status': 'OPEN', 'last_update': 1677498046000}
2023-02-27 11:44:26,958 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:26,959 INFO sqlalchemy.engine.Engine [raw sql] ('Benson Street', 0, 40, 0, 'dublin', 'BENSON STREET', 90, 53.344153, -6.233451, 'OPEN')
2023-02-27 11:44:27,064 INFO sqlalchemy.engine.Engine COMMIT
{'number': 11, 'contract_name': 'dublin', 'name': 'EARLSFORT TERRACE', 'address': 'Earlsfort Terrace', 'position': {'lat': 53.334295, 'lng': -6.258503}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 17, 'available_bikes': 13, 'status': 'OPEN', 'last_update': 1677497948000}
2023-02-27 11:44:27,288 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)

2023-02-27 11:44:27,292 INFO sqlalchemy.engine.Engine [raw sql] ('Earlsfort Terrace', 0, 30, 0, 'dublin', 'EARLSFORT TERRACE', 11, 53.334295, -6.258503, 'OPEN')
2023-02-27 11:44:27,388 INFO sqlalchemy.engine.Engine COMMIT
{'number': 17, 'contract_name': 'dublin', 'name': 'GOLDEN LANE', 'address': 'Golden Lane', 'position': {'lat': 53.340803, 'lng': -6.267732}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 14, 'available_bikes': 6, 'status': 'OPEN', 'last_update': 1677497732000}
2023-02-27 11:44:27,658 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:27,661 INFO sqlalchemy.engine.Engine [raw sql] ('Golden Lane', 0, 20, 0, 'dublin', 'GOLDEN LANE', 17, 53.340803, -6.267732, 'OPEN')
2023-02-27 11:44:27,756 INFO sqlalchemy.engine.Engine COMMIT
{'number': 45, 'contract_name': 'dublin', 'name': 'DEVERELL PLACE', 'address': 'Deverell Place', 'position': {'lat': 53.351464, 'lng': -6.255265}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 21, 'available_bikes': 9, 'status': 'OPEN', 'last_update': 1677498165000}
2023-02-27 11:44:27,965 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:27,967 INFO sqlalchemy.engine.Engine [raw sql] ('Deverell Place', 0, 30, 0, 'dublin', 'DEVERELL PLACE', 45, 53.351464, -6.255265, 'OPEN')
2023-02-27 11:44:28,073 INFO sqlalchemy.engine.Engine COMMIT
{'number': 114, 'contract_name': 'dublin', 'name': 'WILTON TERRACE (PARK)', 'address': 'Wilton Terrace (Park)', 'position': {'lat': 53.333653, 'lng': -6.248345}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 2, 'available_bikes': 38, 'status': 'OPEN', 'last_update': 1677497846000}
2023-02-27 11:44:28,296 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:28,298 INFO sqlalchemy.engine.Engine [raw sql] ('Wilton Terrace (Park)', 0, 40, 0, 'dublin', 'WILTON TERRACE (PARK)', 114, 53.333653, -6.248345, 'OPEN')
2023-02-27 11:44:28,398 INFO sqlalchemy.engine.Engine COMMIT
{'number': 72, 'contract_name': 'dublin', 'name': 'JOHN STREET WEST', 'address': 'John Street West', 'position': {'lat': 53.343105, 'lng': -6.277167}, 'banking': False, 'bonus': False, 'bike_stands': 31, 'available_bike_stands': 31, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677498206000}
2023-02-27 11:44:28,610 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:28,612 INFO sqlalchemy.engine.Engine [raw sql] ('John Street West', 0, 31, 0, 'dublin', 'JOHN STREET WEST', 72, 53.343105, -6.277167, 'OPEN')
2023-02-27 11:44:28,709 INFO sqlalchemy.engine.Engine COMMIT
{'number': 63, 'contract_name': 'dublin', 'name': 'FENIAN STREET', 'address': 'Fenian Street', 'position': {'lat': 53.341428, 'lng': -6.24672}, 'banking': False, 'bonus': False, 'bike_stands': 35, 'available_bike_stands': 11, 'available_bikes': 24, 'status': 'OPEN', 'last_update': 1677498182000}
2023-02-27 11:44:28,914 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:28,916 INFO sqlalchemy.engine.Engine [raw sql] ('Fenian Street', 0, 35, 0, 'dublin', 'FENIAN STREET', 63, 53.341428, -6.24672, 'OPEN')
2023-02-27 11:44:29,015 INFO sqlalchemy.engine.Engine COMMIT
{'number': 113, 'contract_name': 'dublin', 'name': 'MERRION SQUARE SOUTH', 'address': 'Merrion Square South', 'position': {'lat': 53.338614, 'lng': -6.248606}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 18, 'available_bikes': 22, 'status': 'OPEN', 'last_update': 1677497854000}
2023-02-27 11:44:29,228 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:29,230 INFO sqlalchemy.engine.Engine [raw sql] ('Merrion Square South', 0, 40, 0, 'dublin', 'MERRION SQUARE SOUTH', 113, 53.338614, -6.248606, 'OPEN')
2023-02-27 11:44:29,340 INFO sqlalchemy.engine.Engine COMMIT
{'number': 91, 'contract_name': 'dublin', 'name': 'SOUTH DOCK ROAD', 'address': 'South Dock Road', 'position': {'lat': 53.341833, 'lng': -6.231291}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 16, 'available_bikes': 13, 'status': 'OPEN', 'last_update': 1677498130000}
2023-02-27 11:44:29,540 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:29,543 INFO sqlalchemy.engine.Engine [raw sql] ('South Dock Road', 0, 30, 0, 'dublin', 'SOUTH DOCK ROAD', 91, 53.341833, -6.231291, 'OPEN')
2023-02-27 11:44:29,638 INFO sqlalchemy.engine.Engine COMMIT
{'number': 99, 'contract_name': 'dublin', 'name': 'CITY QUAY', 'address': 'City Quay', 'position': {'lat': 53.346637, 'lng': -6.246154}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 3, 'available_bikes': 26, 'status': 'OPEN', 'last_update': 1677497939000}
2023-02-27 11:44:29,836 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:29,837 INFO sqlalchemy.engine.Engine [raw sql] ('City Quay', 0, 30, 0, 'dublin', 'CITY QUAY', 99, 53.346637, -6.246154, 'OPEN')
2023-02-27 11:44:29,934 INFO sqlalchemy.engine.Engine COMMIT
{'number': 9, 'contract_name': 'dublin', 'name': 'EXCHEQUER STREET', 'address': 'Exchequer Street', 'position': {'lat': 53.343034, 'lng': -6.263578}, 'banking': False, 'bonus': False, 'bike_stands': 24, 'available_bike_stands': 3, 'available_bikes': 21, 'status': 'OPEN', 'last_update': 1677498119000}
2023-02-27 11:44:30,131 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:30,134 INFO sqlalchemy.engine.Engine [raw sql] ('Exchequer Street', 0, 24, 0, 'dublin', 'EXCHEQUER STREET', 9, 53.343034, -6.263578, 'OPEN')
2023-02-27 11:44:30,233 INFO sqlalchemy.engine.Engine COMMIT
{'number': 67, 'contract_name': 'dublin', 'name': 'THE POINT', 'address': 'The Point', 'position': {'lat': 53.346867, 'lng': -6.230852}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 39, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677497822000}
2023-02-27 11:44:30,439 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:30,441 INFO sqlalchemy.engine.Engine [raw sql] ('The Point', 0, 40, 0, 'dublin', 'THE POINT', 67, 53.346867, -6.230852, 'OPEN')
2023-02-27 11:44:30,542 INFO sqlalchemy.engine.Engine COMMIT
{'number': 116, 'contract_name': 'dublin', 'name': 'BROADSTONE', 'address': 'Broadstone', 'position': {'lat': 53.3547, 'lng': -6.272314}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 30, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677497798000}
2023-02-27 11:44:30,809 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:30,811 INFO sqlalchemy.engine.Engine [raw sql] ('Broadstone', 0, 30, 0, 'dublin', 'BROADSTONE', 116, 53.3547, -6.272314, 'OPEN')
2023-02-27 11:44:30,906 INFO sqlalchemy.engine.Engine COMMIT
{'number': 55, 'contract_name': 'dublin', 'name': 'HATCH STREET', 'address': 'Hatch Street', 'position': {'lat': 53.33403, 'lng': -6.260714}, 'banking': False, 'bonus': False, 'bike_stands': 36, 'available_bike_stands': 21, 'available_bikes': 15, 'status': 'OPEN', 'last_update': 1677498071000}
2023-02-27 11:44:31,110 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:31,111 INFO sqlalchemy.engine.Engine [raw sql] ('Hatch Street', 0, 36, 0, 'dublin', 'HATCH STREET', 55, 53.33403, -6.260714, 'OPEN')
2023-02-27 11:44:31,210 INFO sqlalchemy.engine.Engine COMMIT
{'number': 62, 'contract_name': 'dublin', 'name': 'LIME STREET', 'address': 'Lime Street', 'position': {'lat': 53.346026, 'lng': -6.243576}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 14, 'available_bikes': 26, 'status': 'OPEN', 'last_update': 1677497701000}
2023-02-27 11:44:31,404 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)

2023-02-27 11:44:31,406 INFO sqlalchemy.engine.Engine [raw sql] ('Lime Street', 0, 40, 0, 'dublin', 'LIME STREET', 62, 53.346026, -6.243576, 'OPEN')
2023-02-27 11:44:31,501 INFO sqlalchemy.engine.Engine COMMIT
{'number': 5, 'contract_name': 'dublin', 'name': 'CHARLEMONT PLACE', 'address': 'Charlemont Street', 'position': {'lat': 53.330662, 'lng': -6.260177}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 35, 'available_bikes': 5, 'status': 'OPEN', 'last_update': 1677498058000}
2023-02-27 11:44:31,693 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:31,695 INFO sqlalchemy.engine.Engine [raw sql] ('Charlemont Street', 0, 40, 0, 'dublin', 'CHARLEMONT PLACE', 5, 53.330662, -6.260177, 'OPEN')
2023-02-27 11:44:31,796 INFO sqlalchemy.engine.Engine COMMIT
{'number': 97, 'contract_name': 'dublin', 'name': 'KILMAINHAM GAOL', 'address': 'Kilmainham Gaol', 'position': {'lat': 53.342113, 'lng': -6.310015}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 28, 'available_bikes': 12, 'status': 'OPEN', 'last_update': 1677497609000}
2023-02-27 11:44:31,992 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:31,995 INFO sqlalchemy.engine.Engine [raw sql] ('Kilmainham Gaol', 0, 40, 0, 'dublin', 'KILMAINHAM GAOL', 97, 53.342113, -6.310015, 'OPEN')
2023-02-27 11:44:32,090 INFO sqlalchemy.engine.Engine COMMIT
{'number': 61, 'contract_name': 'dublin', 'name': 'HARDWICKE PLACE', 'address': 'Hardwicke Place', 'position': {'lat': 53.357043, 'lng': -6.263232}, 'banking': False, 'bonus': False, 'bike_stands': 25, 'available_bike_stands': 20, 'available_bikes': 5, 'status': 'OPEN', 'last_update': 1677498164000}
2023-02-27 11:44:32,289 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:32,291 INFO sqlalchemy.engine.Engine [raw sql] ('Hardwicke Place', 0, 25, 0, 'dublin', 'HARDWICKE PLACE', 61, 53.357043, -6.263232, 'OPEN')
2023-02-27 11:44:32,385 INFO sqlalchemy.engine.Engine COMMIT
{'number': 77, 'contract_name': 'dublin', 'name': 'WOLFE TONE STREET', 'address': 'Wolfe Tone Street', 'position': {'lat': 53.348875, 'lng': -6.267459}, 'banking': False, 'bonus': False, 'bike_stands': 29, 'available_bike_stands': 2, 'available_bikes': 27, 'status': 'OPEN', 'last_update': 1677497930000}
2023-02-27 11:44:32,587 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:32,587 INFO sqlalchemy.engine.Engine [raw sql] ('Wolfe Tone Street', 0, 29, 0, 'dublin', 'WOLFE TONE STREET', 77, 53.348875, -6.267459, 'OPEN')
2023-02-27 11:44:32,687 INFO sqlalchemy.engine.Engine COMMIT
{'number': 4, 'contract_name': 'dublin', 'name': 'GREEK STREET', 'address': 'Greek Street', 'position': {'lat': 53.346874, 'lng': -6.272976}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 5, 'available_bikes': 15, 'status': 'OPEN', 'last_update': 1677498184000}
2023-02-27 11:44:32,883 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:32,886 INFO sqlalchemy.engine.Engine [raw sql] ('Greek Street', 0, 20, 0, 'dublin', 'GREEK STREET', 4, 53.346874, -6.272976, 'OPEN')
2023-02-27 11:44:32,985 INFO sqlalchemy.engine.Engine COMMIT
{'number': 49, 'contract_name': 'dublin', 'name': 'GUILD STREET', 'address': 'Guild Street', 'position': {'lat': 53.347932, 'lng': -6.240928}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 30, 'available_bikes': 10, 'status': 'OPEN', 'last_update': 1677498015000}
2023-02-27 11:44:33,189 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:33,191 INFO sqlalchemy.engine.Engine [raw sql] ('Guild Street', 0, 40, 0, 'dublin', 'GUILD STREET', 49, 53.347932, -6.240928, 'OPEN')
2023-02-27 11:44:33,303 INFO sqlalchemy.engine.Engine COMMIT
{'number': 19, 'contract_name': 'dublin', 'name': 'HERBERT PLACE', 'address': 'Herbert Place', 'position': {'lat': 53.334432, 'lng': -6.245575}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 6, 'available_bikes': 22, 'status': 'OPEN', 'last_update': 1677498093000}
2023-02-27 11:44:33,507 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:33,509 INFO sqlalchemy.engine.Engine [raw sql] ('Herbert Place', 0, 30, 0, 'dublin', 'HERBERT PLACE', 19, 53.334432, -6.245575, 'OPEN')
2023-02-27 11:44:33,611 INFO sqlalchemy.engine.Engine COMMIT
{'number': 7, 'contract_name': 'dublin', 'name': 'HIGH STREET', 'address': 'High Street', 'position': {'lat': 53.343565, 'lng': -6.275071}, 'banking': False, 'bonus': False, 'bike_stands': 29, 'available_bike_stands': 28, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677498059000}
2023-02-27 11:44:33,824 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:33,826 INFO sqlalchemy.engine.Engine [raw sql] ('High Street', 0, 29, 0, 'dublin', 'HIGH STREET', 7, 53.343565, -6.275071, 'OPEN')
2023-02-27 11:44:33,924 INFO sqlalchemy.engine.Engine COMMIT
{'number': 60, 'contract_name': 'dublin', 'name': 'NORTH CIRCULAR ROAD', 'address': 'North Circular Road', 'position': {'lat': 53.359624, 'lng': -6.260348}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 20, 'available_bikes': 10, 'status': 'OPEN', 'last_update': 1677498043000}
2023-02-27 11:44:34,137 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:34,139 INFO sqlalchemy.engine.Engine [raw sql] ('North Circular Road', 0, 30, 0, 'dublin', 'NORTH CIRCULAR ROAD', 60, 53.359624, -6.260348, 'OPEN')
2023-02-27 11:44:34,238 INFO sqlalchemy.engine.Engine COMMIT
{'number': 102, 'contract_name': 'dublin', 'name': 'WESTERN WAY', 'address': 'Western Way', 'position': {'lat': 53.354929, 'lng': -6.269425}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 39, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677498183000}
2023-02-27 11:44:34,440 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:34,442 INFO sqlalchemy.engine.Engine [raw sql] ('Western Way', 0, 40, 0, 'dublin', 'WESTERN WAY', 102, 53.354929, -6.269425, 'OPEN')
2023-02-27 11:44:34,536 INFO sqlalchemy.engine.Engine COMMIT
{'number': 38, 'contract_name': 'dublin', 'name': 'TALBOT STREET', 'address': 'Talbot Street', 'position': {'lat': 53.350974, 'lng': -6.25294}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 7, 'available_bikes': 33, 'status': 'OPEN', 'last_update': 1677498087000}
2023-02-27 11:44:34,735 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:34,738 INFO sqlalchemy.engine.Engine [raw sql] ('Talbot Street', 0, 40, 0, 'dublin', 'TALBOT STREET', 38, 53.350974, -6.25294, 'OPEN')
2023-02-27 11:44:34,833 INFO sqlalchemy.engine.Engine COMMIT
{'number': 53, 'contract_name': 'dublin', 'name': 'NEWMAN HOUSE', 'address': 'Newman House', 'position': {'lat': 53.337132, 'lng': -6.26059}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 23, 'available_bikes': 16, 'status': 'OPEN', 'last_update': 1677498029000}
2023-02-27 11:44:35,049 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:35,051 INFO sqlalchemy.engine.Engine [raw sql] ('Newman House', 0, 40, 0, 'dublin', 'NEWMAN HOUSE', 53, 53.337132, -6.26059, 'OPEN')
2023-02-27 11:44:35,155 INFO sqlalchemy.engine.Engine COMMIT
{'number': 58, 'contract_name': 'dublin', 'name': "SIR PATRICK DUN'S", 'address': "Sir Patrick's Dun", 'position': {'lat': 53.339218, 'lng': -6.240642}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 9, 'available_bikes': 28, 'status': 'OPEN', 'last_update': 1677498014000}
2023-02-27 11:44:35,371 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)

2023-02-27 11:44:35,372 INFO sqlalchemy.engine.Engine [raw sql] ("Sir Patrick's Dun", 0, 40, 0, 'dublin', "SIR PATRICK DUN'S", 58, 53.339218, -6.240642, 'OPEN')
2023-02-27 11:44:35,508 INFO sqlalchemy.engine.Engine COMMIT
{'number': 66, 'contract_name': 'dublin', 'name': 'NEW CENTRAL BANK', 'address': 'New Central Bank', 'position': {'lat': 53.347122, 'lng': -6.234749}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 15, 'available_bikes': 25, 'status': 'OPEN', 'last_update': 1677498188000}
2023-02-27 11:44:35,701 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:35,704 INFO sqlalchemy.engine.Engine [raw sql] ('New Central Bank', 0, 40, 0, 'dublin', 'NEW CENTRAL BANK', 66, 53.347122, -6.234749, 'OPEN')
2023-02-27 11:44:35,802 INFO sqlalchemy.engine.Engine COMMIT
{'number': 104, 'contract_name': 'dublin', 'name': 'GRANGEGORMAN LOWER (CENTRAL)', 'address': 'Grangegorman Lower (Central)', 'position': {'lat': 53.355173, 'lng': -6.278424}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 40, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677497733000}
2023-02-27 11:44:36,013 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:36,015 INFO sqlalchemy.engine.Engine [raw sql] ('Grangegorman Lower (Central)', 0, 40, 0, 'dublin', 'GRANGEGORMAN LOWER (CENTRAL)', 104, 53.355173, -6.278424, 'OPEN')
2023-02-27 11:44:36,117 INFO sqlalchemy.engine.Engine COMMIT
{'number': 101, 'contract_name': 'dublin', 'name': 'KING STREET NORTH', 'address': 'King Street North', 'position': {'lat': 53.350291, 'lng': -6.273507}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 23, 'available_bikes': 7, 'status': 'OPEN', 'last_update': 1677498180000}
2023-02-27 11:44:36,332 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:36,335 INFO sqlalchemy.engine.Engine [raw sql] ('King Street North', 0, 30, 0, 'dublin', 'KING STREET NORTH', 101, 53.350291, -6.273507, 'OPEN')
2023-02-27 11:44:36,431 INFO sqlalchemy.engine.Engine COMMIT
{'number': 115, 'contract_name': 'dublin', 'name': 'KILLARNEY STREET', 'address': 'Killarney Street', 'position': {'lat': 53.354845, 'lng': -6.247579}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 29, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677498167000}
2023-02-27 11:44:36,647 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:36,649 INFO sqlalchemy.engine.Engine [raw sql] ('Killarney Street', 0, 30, 0, 'dublin', 'KILLARNEY STREET', 115, 53.354845, -6.247579, 'OPEN')
2023-02-27 11:44:36,742 INFO sqlalchemy.engine.Engine COMMIT
{'number': 47, 'contract_name': 'dublin', 'name': 'HERBERT STREET', 'address': 'Herbert Street', 'position': {'lat': 53.335742, 'lng': -6.24551}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 26, 'available_bikes': 14, 'status': 'OPEN', 'last_update': 1677497951000}
2023-02-27 11:44:36,944 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:36,946 INFO sqlalchemy.engine.Engine [raw sql] ('Herbert Street', 0, 40, 0, 'dublin', 'HERBERT STREET', 47, 53.335742, -6.24551, 'OPEN')
2023-02-27 11:44:37,058 INFO sqlalchemy.engine.Engine COMMIT
{'number': 117, 'contract_name': 'dublin', 'name': 'HANOVER QUAY EAST', 'address': 'Hanover Quay East', 'position': {'lat': 53.343653, 'lng': -6.231755}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 19, 'available_bikes': 21, 'status': 'OPEN', 'last_update': 1677497921000}
2023-02-27 11:44:37,252 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:37,254 INFO sqlalchemy.engine.Engine [raw sql] ('Hanover Quay East', 0, 40, 0, 'dublin', 'HANOVER QUAY EAST', 117, 53.343653, -6.231755, 'OPEN')
2023-02-27 11:44:37,350 INFO sqlalchemy.engine.Engine COMMIT
{'number': 8, 'contract_name': 'dublin', 'name': 'CUSTOM HOUSE QUAY', 'address': 'Custom House Quay', 'position': {'lat': 53.347884, 'lng': -6.248048}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 18, 'available_bikes': 11, 'status': 'OPEN', 'last_update': 1677498123000}
2023-02-27 11:44:37,557 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:37,559 INFO sqlalchemy.engine.Engine [raw sql] ('Custom House Quay', 0, 30, 0, 'dublin', 'CUSTOM HOUSE QUAY', 8, 53.347884, -6.248048, 'OPEN')
2023-02-27 11:44:37,672 INFO sqlalchemy.engine.Engine COMMIT
{'number': 27, 'contract_name': 'dublin', 'name': 'MOLESWORTH STREET', 'address': 'Molesworth Street', 'position': {'lat': 53.341288, 'lng': -6.258117}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 1, 'available_bikes': 19, 'status': 'OPEN', 'last_update': 1677497733000}
2023-02-27 11:44:37,917 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:37,919 INFO sqlalchemy.engine.Engine [raw sql] ('Molesworth Street', 0, 20, 0, 'dublin', 'MOLESWORTH STREET', 27, 53.341288, -6.258117, 'OPEN')
2023-02-27 11:44:38,015 INFO sqlalchemy.engine.Engine COMMIT
{'number': 16, 'contract_name': 'dublin', 'name': 'GEORGES QUAY', 'address': 'Georges Quay', 'position': {'lat': 53.347508, 'lng': -6.252192}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 9, 'available_bikes': 11, 'status': 'OPEN', 'last_update': 1677497905000}
2023-02-27 11:44:38,243 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:38,246 INFO sqlalchemy.engine.Engine [raw sql] ('Georges Quay', 0, 20, 0, 'dublin', 'GEORGES QUAY', 16, 53.347508, -6.252192, 'OPEN')
2023-02-27 11:44:38,343 INFO sqlalchemy.engine.Engine COMMIT
{'number': 96, 'contract_name': 'dublin', 'name': 'KILMAINHAM LANE', 'address': 'Kilmainham Lane', 'position': {'lat': 53.341805, 'lng': -6.305085}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 30, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677498058000}
2023-02-27 11:44:38,542 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:38,544 INFO sqlalchemy.engine.Engine [raw sql] ('Kilmainham Lane', 0, 30, 0, 'dublin', 'KILMAINHAM LANE', 96, 53.341805, -6.305085, 'OPEN')
2023-02-27 11:44:38,647 INFO sqlalchemy.engine.Engine COMMIT
{'number': 82, 'contract_name': 'dublin', 'name': 'MOUNT BROWN', 'address': 'Mount Brown', 'position': {'lat': 53.341645, 'lng': -6.29719}, 'banking': False, 'bonus': False, 'bike_stands': 22, 'available_bike_stands': 8, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677497968000}
2023-02-27 11:44:38,869 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:38,871 INFO sqlalchemy.engine.Engine [raw sql] ('Mount Brown', 0, 22, 0, 'dublin', 'MOUNT BROWN', 82, 53.341645, -6.29719, 'OPEN')
2023-02-27 11:44:38,968 INFO sqlalchemy.engine.Engine COMMIT
{'number': 76, 'contract_name': 'dublin', 'name': 'MARKET STREET SOUTH', 'address': 'Market Street South', 'position': {'lat': 53.342296, 'lng': -6.287661}, 'banking': False, 'bonus': False, 'bike_stands': 38, 'available_bike_stands': 31, 'available_bikes': 7, 'status': 'OPEN', 'last_update': 1677497899000}
2023-02-27 11:44:39,187 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:39,189 INFO sqlalchemy.engine.Engine [raw sql] ('Market Street South', 0, 38, 0, 'dublin', 'MARKET STREET SOUTH', 76, 53.342296, -6.287661, 'OPEN')
2023-02-27 11:44:39,326 INFO sqlalchemy.engine.Engine COMMIT
{'number': 71, 'contract_name': 'dublin', 'name': 'KEVIN STREET', 'address': 'Kevin Street', 'position': {'lat': 53.337757, 'lng': -6.267699}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 38, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677498024000}
2023-02-27 11:44:39,580 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)

2023-02-27 11:44:39,583 INFO sqlalchemy.engine.Engine [raw sql] ('Kevin Street', 0, 40, 0, 'dublin', 'KEVIN STREET', 71, 53.337757, -6.267699, 'OPEN')
2023-02-27 11:44:39,683 INFO sqlalchemy.engine.Engine COMMIT
{'number': 79, 'contract_name': 'dublin', 'name': 'ECCLES STREET EAST', 'address': 'Eccles Street East', 'position': {'lat': 53.358115, 'lng': -6.265601}, 'banking': False, 'bonus': False, 'bike_stands': 27, 'available_bike_stands': 25, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1677498070000}
2023-02-27 11:44:39,891 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:39,893 INFO sqlalchemy.engine.Engine [raw sql] ('Eccles Street East', 0, 27, 0, 'dublin', 'ECCLES STREET EAST', 79, 53.358115, -6.265601, 'OPEN')
2023-02-27 11:44:39,993 INFO sqlalchemy.engine.Engine COMMIT
{'number': 69, 'contract_name': 'dublin', 'name': 'GRAND CANAL DOCK', 'address': 'Grand Canal Dock', 'position': {'lat': 53.342638, 'lng': -6.238695}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 2, 'available_bikes': 37, 'status': 'OPEN', 'last_update': 1677498077000}
2023-02-27 11:44:40,186 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:40,188 INFO sqlalchemy.engine.Engine [raw sql] ('Grand Canal Dock', 0, 40, 0, 'dublin', 'GRAND CANAL DOCK', 69, 53.342638, -6.238695, 'OPEN')
2023-02-27 11:44:40,300 INFO sqlalchemy.engine.Engine COMMIT
{'number': 25, 'contract_name': 'dublin', 'name': 'MERRION SQUARE EAST', 'address': 'Merrion Square East', 'position': {'lat': 53.339434, 'lng': -6.246548}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 16, 'available_bikes': 14, 'status': 'OPEN', 'last_update': 1677497855000}
2023-02-27 11:44:40,526 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:40,528 INFO sqlalchemy.engine.Engine [raw sql] ('Merrion Square East', 0, 30, 0, 'dublin', 'MERRION SQUARE EAST', 25, 53.339434, -6.246548, 'OPEN')
2023-02-27 11:44:40,623 INFO sqlalchemy.engine.Engine COMMIT
{'number': 51, 'contract_name': 'dublin', 'name': 'YORK STREET WEST', 'address': 'York Street West', 'position': {'lat': 53.339334, 'lng': -6.264699}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 10, 'available_bikes': 28, 'status': 'OPEN', 'last_update': 1677497813000}
2023-02-27 11:44:40,837 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:40,839 INFO sqlalchemy.engine.Engine [raw sql] ('York Street West', 0, 40, 0, 'dublin', 'YORK STREET WEST', 51, 53.339334, -6.264699, 'OPEN')
2023-02-27 11:44:40,944 INFO sqlalchemy.engine.Engine COMMIT
{'number': 37, 'contract_name': 'dublin', 'name': "ST. STEPHEN'S GREEN SOUTH", 'address': "St. Stephen's Green South", 'position': {'lat': 53.337494, 'lng': -6.26199}, 'banking': True, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 18, 'available_bikes': 12, 'status': 'OPEN', 'last_update': 1677498061000}
2023-02-27 11:44:41,151 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:41,153 INFO sqlalchemy.engine.Engine [raw sql] ("St. Stephen's Green South", 1, 30, 0, 'dublin', "ST. STEPHEN'S GREEN SOUTH", 37, 53.337494, -6.26199, 'OPEN')
2023-02-27 11:44:41,252 INFO sqlalchemy.engine.Engine COMMIT
{'number': 59, 'contract_name': 'dublin', 'name': 'DENMARK STREET GREAT', 'address': 'Denmark Street Great', 'position': {'lat': 53.35561, 'lng': -6.261397}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 19, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677497950000}
2023-02-27 11:44:41,524 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:41,526 INFO sqlalchemy.engine.Engine [raw sql] ('Denmark Street Great', 0, 20, 0, 'dublin', 'DENMARK STREET GREAT', 59, 53.35561, -6.261397, 'OPEN')
2023-02-27 11:44:41,626 INFO sqlalchemy.engine.Engine COMMIT
{'number': 95, 'contract_name': 'dublin', 'name': 'ROYAL HOSPITAL', 'address': 'Royal Hospital', 'position': {'lat': 53.343897, 'lng': -6.29706}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 38, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1677497947000}
2023-02-27 11:44:41,959 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:41,962 INFO sqlalchemy.engine.Engine [raw sql] ('Royal Hospital', 0, 40, 0, 'dublin', 'ROYAL HOSPITAL', 95, 53.343897, -6.29706, 'OPEN')
2023-02-27 11:44:42,064 INFO sqlalchemy.engine.Engine COMMIT
{'number': 94, 'contract_name': 'dublin', 'name': 'HEUSTON STATION (CAR PARK)', 'address': 'Heuston Station (Car Park)', 'position': {'lat': 53.346985, 'lng': -6.297804}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 35, 'available_bikes': 5, 'status': 'OPEN', 'last_update': 1677498005000}
2023-02-27 11:44:42,260 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:42,262 INFO sqlalchemy.engine.Engine [raw sql] ('Heuston Station (Car Park)', 0, 40, 0, 'dublin', 'HEUSTON STATION (CAR PARK)', 94, 53.346985, -6.297804, 'OPEN')
2023-02-27 11:44:42,358 INFO sqlalchemy.engine.Engine COMMIT
{'number': 105, 'contract_name': 'dublin', 'name': 'GRANGEGORMAN LOWER (NORTH)', 'address': 'Grangegorman Lower (North)', 'position': {'lat': 53.355954, 'lng': -6.278378}, 'banking': False, 'bonus': False, 'bike_stands': 36, 'available_bike_stands': 35, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677497911000}
2023-02-27 11:44:42,609 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:42,611 INFO sqlalchemy.engine.Engine [raw sql] ('Grangegorman Lower (North)', 0, 36, 0, 'dublin', 'GRANGEGORMAN LOWER (NORTH)', 105, 53.355954, -6.278378, 'OPEN')
2023-02-27 11:44:42,708 INFO sqlalchemy.engine.Engine COMMIT
{'number': 36, 'contract_name': 'dublin', 'name': "ST. STEPHEN'S GREEN EAST", 'address': "St. Stephen's Green East", 'position': {'lat': 53.337824, 'lng': -6.256035}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 19, 'available_bikes': 21, 'status': 'OPEN', 'last_update': 1677497730000}
2023-02-27 11:44:42,906 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:42,908 INFO sqlalchemy.engine.Engine [raw sql] ("St. Stephen's Green East", 0, 40, 0, 'dublin', "ST. STEPHEN'S GREEN EAST", 36, 53.337824, -6.256035, 'OPEN')
2023-02-27 11:44:43,100 INFO sqlalchemy.engine.Engine COMMIT
{'number': 93, 'contract_name': 'dublin', 'name': 'HEUSTON STATION (CENTRAL)', 'address': 'Heuston Station (Central)', 'position': {'lat': 53.346603, 'lng': -6.296924}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 40, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677498132000}
2023-02-27 11:44:43,342 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:43,344 INFO sqlalchemy.engine.Engine [raw sql] ('Heuston Station (Central)', 0, 40, 0, 'dublin', 'HEUSTON STATION (CENTRAL)', 93, 53.346603, -6.296924, 'OPEN')
2023-02-27 11:44:43,443 INFO sqlalchemy.engine.Engine COMMIT
{'number': 22, 'contract_name': 'dublin', 'name': 'TOWNSEND STREET', 'address': 'Townsend Street', 'position': {'lat': 53.345922, 'lng': -6.254614}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 6, 'available_bikes': 13, 'status': 'OPEN', 'last_update': 1677497730000}
2023-02-27 11:44:43,664 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:43,667 INFO sqlalchemy.engine.Engine [raw sql] ('Townsend Street', 0, 20, 0, 'dublin', 'TOWNSEND STREET', 22, 53.345922, -6.254614, 'OPEN')
2023-02-27 11:44:43,765 INFO sqlalchemy.engine.Engine COMMIT

{'number': 50, 'contract_name': 'dublin', 'name': 'GEORGES LANE', 'address': "George's Lane", 'position': {'lat': 53.35023, 'lng': -6.279696}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 36, 'available_bikes': 4, 'status': 'OPEN', 'last_update': 1677497732000}
2023-02-27 11:44:43,973 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:43,975 INFO sqlalchemy.engine.Engine [raw sql] ("George's Lane", 0, 40, 0, 'dublin', 'GEORGES LANE', 50, 53.35023, -6.279696, 'OPEN')
2023-02-27 11:44:44,075 INFO sqlalchemy.engine.Engine COMMIT
{'number': 110, 'contract_name': 'dublin', 'name': 'PHIBSBOROUGH ROAD', 'address': 'Phibsborough Road', 'position': {'lat': 53.356307, 'lng': -6.273717}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 40, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677497952000}
2023-02-27 11:44:44,276 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:44,279 INFO sqlalchemy.engine.Engine [raw sql] ('Phibsborough Road', 0, 40, 0, 'dublin', 'PHIBSBOROUGH ROAD', 110, 53.356307, -6.273717, 'OPEN')
2023-02-27 11:44:44,380 INFO sqlalchemy.engine.Engine COMMIT
{'number': 12, 'contract_name': 'dublin', 'name': 'ECCLES STREET', 'address': 'Eccles Street', 'position': {'lat': 53.359246, 'lng': -6.269779}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 18, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1677498088000}
2023-02-27 11:44:44,589 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:44,591 INFO sqlalchemy.engine.Engine [raw sql] ('Eccles Street', 0, 20, 0, 'dublin', 'ECCLES STREET', 12, 53.359246, -6.269779, 'OPEN')
2023-02-27 11:44:44,708 INFO sqlalchemy.engine.Engine COMMIT
{'number': 34, 'contract_name': 'dublin', 'name': 'PORTOBELLO HARBOUR', 'address': 'Portobello Harbour', 'position': {'lat': 53.330362, 'lng': -6.265163}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 27, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1677497810000}
2023-02-27 11:44:44,923 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:44,925 INFO sqlalchemy.engine.Engine [raw sql] ('Portobello Harbour', 0, 30, 0, 'dublin', 'PORTOBELLO HARBOUR', 34, 53.330362, -6.265163, 'OPEN')
2023-02-27 11:44:45,021 INFO sqlalchemy.engine.Engine COMMIT
{'number': 78, 'contract_name': 'dublin', 'name': 'MATER HOSPITAL', 'address': 'Mater Hospital', 'position': {'lat': 53.359967, 'lng': -6.264828}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 40, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677497943000}
2023-02-27 11:44:45,223 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:45,225 INFO sqlalchemy.engine.Engine [raw sql] ('Mater Hospital', 0, 40, 0, 'dublin', 'MATER HOSPITAL', 78, 53.359967, -6.264828, 'OPEN')
2023-02-27 11:44:45,352 INFO sqlalchemy.engine.Engine COMMIT
{'number': 2, 'contract_name': 'dublin', 'name': 'BLESSINGTON STREET', 'address': 'Blessington Street', 'position': {'lat': 53.356769, 'lng': -6.26814}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 17, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1677497850000}
2023-02-27 11:44:45,566 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:45,569 INFO sqlalchemy.engine.Engine [raw sql] ('Blessington Street', 0, 20, 0, 'dublin', 'BLESSINGTON STREET', 2, 53.356769, -6.26814, 'OPEN')
2023-02-27 11:44:45,671 INFO sqlalchemy.engine.Engine COMMIT
{'number': 75, 'contract_name': 'dublin', 'name': 'JAMES STREET', 'address': 'James Street', 'position': {'lat': 53.343456, 'lng': -6.287409}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 37, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1677498130000}
2023-02-27 11:44:45,880 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:45,883 INFO sqlalchemy.engine.Engine [raw sql] ('James Street', 0, 40, 0, 'dublin', 'JAMES STREET', 75, 53.343456, -6.287409, 'OPEN')
2023-02-27 11:44:45,982 INFO sqlalchemy.engine.Engine COMMIT
{'number': 507, 'contract_name': 'dublin', 'name': 'ORIEL STREET TEST TERMINAL', 'address': 'JCDecaux Ireland, 52 Oriel Street Lower, Dublin 1', 'position': {'lat': 53.35463, 'lng': -6.242615}, 'banking': False, 'bonus': False, 'bike_stands': 1, 'available_bike_stands': 0, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1675786128000}
2023-02-27 11:44:46,177 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:46,179 INFO sqlalchemy.engine.Engine [raw sql] ('JCDecaux Ireland, 52 Oriel Street Lower, Dublin 1', 0, 1, 0, 'dublin', 'ORIEL STREET TEST TERMINAL', 507, 53.35463, -6.242615, 'OPEN')
2023-02-27 11:44:46,276 INFO sqlalchemy.engine.Engine COMMIT
{'number': 111, 'contract_name': 'dublin', 'name': 'MOUNTJOY SQUARE EAST', 'address': 'Mountjoy Square East', 'position': {'lat': 53.356717, 'lng': -6.256359}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 40, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677497803000}
2023-02-27 11:44:46,501 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:46,503 INFO sqlalchemy.engine.Engine [raw sql] ('Mountjoy Square East', 0, 40, 0, 'dublin', 'MOUNTJOY SQUARE EAST', 111, 53.356717, -6.256359, 'OPEN')
2023-02-27 11:44:46,599 INFO sqlalchemy.engine.Engine COMMIT
{'number': 26, 'contract_name': 'dublin', 'name': 'MERRION SQUARE WEST', 'address': 'Merrion Square West', 'position': {'lat': 53.339764, 'lng': -6.251988}, 'banking': True, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 7, 'available_bikes': 13, 'status': 'OPEN', 'last_update': 1677497855000}
2023-02-27 11:44:46,817 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:46,819 INFO sqlalchemy.engine.Engine [raw sql] ('Merrion Square West', 1, 20, 0, 'dublin', 'MERRION SQUARE WEST', 26, 53.339764, -6.251988, 'OPEN')
2023-02-27 11:44:46,924 INFO sqlalchemy.engine.Engine COMMIT
{'number': 65, 'contract_name': 'dublin', 'name': 'CONVENTION CENTRE', 'address': 'Convention Centre', 'position': {'lat': 53.34744, 'lng': -6.238523}, 'banking': True, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 6, 'available_bikes': 34, 'status': 'OPEN', 'last_update': 1677497653000}
2023-02-27 11:44:47,145 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:47,148 INFO sqlalchemy.engine.Engine [raw sql] ('Convention Centre', 1, 40, 0, 'dublin', 'CONVENTION CENTRE', 65, 53.34744, -6.238523, 'OPEN')
2023-02-27 11:44:47,247 INFO sqlalchemy.engine.Engine COMMIT
{'number': 15, 'contract_name': 'dublin', 'name': 'HARDWICKE STREET', 'address': 'Hardwicke Street', 'position': {'lat': 53.355473, 'lng': -6.264423}, 'banking': False, 'bonus': False, 'bike_stands': 16, 'available_bike_stands': 8, 'available_bikes': 5, 'status': 'OPEN', 'last_update': 1677497800000}
2023-02-27 11:44:47,453 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:47,455 INFO sqlalchemy.engine.Engine [raw sql] ('Hardwicke Street', 0, 16, 0, 'dublin', 'HARDWICKE STREET', 15, 53.355473, -6.264423, 'OPEN')
2023-02-27 11:44:47,556 INFO sqlalchemy.engine.Engine COMMIT
{'number': 86, 'contract_name': 'dublin', 'name': 'PARKGATE STREET', 'address': 'Parkgate Street', 'position': {'lat': 53.347972, 'lng': -6.291804}, 'banking': False, 'bonus': False, 'bike_stands': 38, 'available_bike_stands': 38, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677497719000}
2023-02-27 11:44:47,828 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)

2023-02-27 11:44:47,830 INFO sqlalchemy.engine.Engine [raw sql] ('Parkgate Street', 0, 38, 0, 'dublin', 'PARKGATE STREET', 86, 53.347972, -6.291804, 'OPEN')
2023-02-27 11:44:47,938 INFO sqlalchemy.engine.Engine COMMIT
{'number': 35, 'contract_name': 'dublin', 'name': 'SMITHFIELD', 'address': 'Smithfield', 'position': {'lat': 53.347692, 'lng': -6.278214}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 14, 'available_bikes': 15, 'status': 'OPEN', 'last_update': 1677498085000}
2023-02-27 11:44:48,147 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:48,149 INFO sqlalchemy.engine.Engine [raw sql] ('Smithfield', 0, 30, 0, 'dublin', 'SMITHFIELD', 35, 53.347692, -6.278214, 'OPEN')
2023-02-27 11:44:48,260 INFO sqlalchemy.engine.Engine COMMIT
{'number': 10, 'contract_name': 'dublin', 'name': 'DAME STREET', 'address': 'Dame Street', 'position': {'lat': 53.344007, 'lng': -6.266802}, 'banking': True, 'bonus': False, 'bike_stands': 16, 'available_bike_stands': 12, 'available_bikes': 4, 'status': 'OPEN', 'last_update': 1677498085000}
2023-02-27 11:44:48,494 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:48,496 INFO sqlalchemy.engine.Engine [raw sql] ('Dame Street', 1, 16, 0, 'dublin', 'DAME STREET', 10, 53.344007, -6.266802, 'OPEN')
2023-02-27 11:44:48,611 INFO sqlalchemy.engine.Engine COMMIT
{'number': 100, 'contract_name': 'dublin', 'name': 'HEUSTON BRIDGE (SOUTH)', 'address': 'Heuston Bridge (South)', 'position': {'lat': 53.347106, 'lng': -6.292041}, 'banking': False, 'bonus': False, 'bike_stands': 25, 'available_bike_stands': 25, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677497838000}
2023-02-27 11:44:48,811 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:48,814 INFO sqlalchemy.engine.Engine [raw sql] ('Heuston Bridge (South)', 0, 25, 0, 'dublin', 'HEUSTON BRIDGE (SOUTH)', 100, 53.347106, -6.292041, 'OPEN')
2023-02-27 11:44:48,975 INFO sqlalchemy.engine.Engine COMMIT
{'number': 24, 'contract_name': 'dublin', 'name': 'CATHAL BRUGHA STREET', 'address': 'Cathal Brugha Street', 'position': {'lat': 53.352149, 'lng': -6.260533}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 9, 'available_bikes': 11, 'status': 'OPEN', 'last_update': 1677497699000}
2023-02-27 11:44:49,225 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:49,227 INFO sqlalchemy.engine.Engine [raw sql] ('Cathal Brugha Street', 0, 20, 0, 'dublin', 'CATHAL BRUGHA STREET', 24, 53.352149, -6.260533, 'OPEN')
2023-02-27 11:44:49,365 INFO sqlalchemy.engine.Engine COMMIT
{'number': 64, 'contract_name': 'dublin', 'name': 'SANDWITH STREET', 'address': 'Sandwith Street', 'position': {'lat': 53.345203, 'lng': -6.247163}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 4, 'available_bikes': 35, 'status': 'OPEN', 'last_update': 1677497855000}
2023-02-27 11:44:49,617 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:49,620 INFO sqlalchemy.engine.Engine [raw sql] ('Sandwith Street', 0, 40, 0, 'dublin', 'SANDWITH STREET', 64, 53.345203, -6.247163, 'OPEN')
2023-02-27 11:44:49,725 INFO sqlalchemy.engine.Engine COMMIT
{'number': 109, 'contract_name': 'dublin', 'name': 'BUCKINGHAM STREET LOWER', 'address': 'Buckingham Street Lower', 'position': {'lat': 53.353331, 'lng': -6.249319}, 'banking': False, 'bonus': False, 'bike_stands': 29, 'available_bike_stands': 6, 'available_bikes': 23, 'status': 'OPEN', 'last_update': 1677497617000}
2023-02-27 11:44:49,932 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:49,934 INFO sqlalchemy.engine.Engine [raw sql] ('Buckingham Street Lower', 0, 29, 0, 'dublin', 'BUCKINGHAM STREET LOWER', 109, 53.353331, -6.249319, 'OPEN')
2023-02-27 11:44:50,033 INFO sqlalchemy.engine.Engine COMMIT
{'number': 85, 'contract_name': 'dublin', 'name': 'ROTHE ABBEY', 'address': 'Rothe Abbey', 'position': {'lat': 53.338776, 'lng': -6.30395}, 'banking': False, 'bonus': False, 'bike_stands': 35, 'available_bike_stands': 29, 'available_bikes': 6, 'status': 'OPEN', 'last_update': 1677497794000}
2023-02-27 11:44:50,275 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:50,277 INFO sqlalchemy.engine.Engine [raw sql] ('Rothe Abbey', 0, 35, 0, 'dublin', 'ROTHE ABBEY', 85, 53.338776, -6.30395, 'OPEN')
2023-02-27 11:44:50,372 INFO sqlalchemy.engine.Engine COMMIT
{'number': 107, 'contract_name': 'dublin', 'name': 'CHARLEVILLE ROAD', 'address': 'Charleville Road', 'position': {'lat': 53.359157, 'lng': -6.281866}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 22, 'available_bikes': 18, 'status': 'OPEN', 'last_update': 1677497667000}
2023-02-27 11:44:50,603 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:50,606 INFO sqlalchemy.engine.Engine [raw sql] ('Charleville Road', 0, 40, 0, 'dublin', 'CHARLEVILLE ROAD', 107, 53.359157, -6.281866, 'OPEN')
2023-02-27 11:44:50,703 INFO sqlalchemy.engine.Engine COMMIT
{'number': 33, 'contract_name': 'dublin', 'name': "PRINCES STREET / O'CONNELL STREET", 'address': "Princes Street / O'Connell Street", 'position': {'lat': 53.349013, 'lng': -6.260311}, 'banking': True, 'bonus': False, 'bike_stands': 23, 'available_bike_stands': 12, 'available_bikes': 11, 'status': 'OPEN', 'last_update': 1677498124000}
2023-02-27 11:44:50,931 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:50,934 INFO sqlalchemy.engine.Engine [raw sql] ("Princes Street / O'Connell Street", 1, 23, 0, 'dublin', "PRINCES STREET / O'CONNELL STREET", 33, 53.349013, -6.260311, 'OPEN')
2023-02-27 11:44:51,037 INFO sqlalchemy.engine.Engine COMMIT
{'number': 44, 'contract_name': 'dublin', 'name': 'UPPER SHERRARD STREET', 'address': 'Upper Sherrard Street', 'position': {'lat': 53.358437, 'lng': -6.260641}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 29, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677497975000}
2023-02-27 11:44:51,231 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:51,234 INFO sqlalchemy.engine.Engine [raw sql] ('Upper Sherrard Street', 0, 30, 0, 'dublin', 'UPPER SHERRARD STREET', 44, 53.358437, -6.260641, 'OPEN')
2023-02-27 11:44:51,347 INFO sqlalchemy.engine.Engine COMMIT
{'number': 89, 'contract_name': 'dublin', 'name': 'FITZWILLIAM SQUARE EAST', 'address': 'Fitzwilliam Square East', 'position': {'lat': 53.335211, 'lng': -6.2509}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 21, 'available_bikes': 18, 'status': 'OPEN', 'last_update': 1677498034000}
2023-02-27 11:44:51,553 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:51,555 INFO sqlalchemy.engine.Engine [raw sql] ('Fitzwilliam Square East', 0, 40, 0, 'dublin', 'FITZWILLIAM SQUARE EAST', 89, 53.335211, -6.2509, 'OPEN')
2023-02-27 11:44:51,717 INFO sqlalchemy.engine.Engine COMMIT
{'number': 57, 'contract_name': 'dublin', 'name': 'GRATTAN STREET', 'address': 'Grattan Street', 'position': {'lat': 53.339629, 'lng': -6.243778}, 'banking': False, 'bonus': False, 'bike_stands': 23, 'available_bike_stands': 7, 'available_bikes': 16, 'status': 'OPEN', 'last_update': 1677498005000}
2023-02-27 11:44:51,980 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:51,983 INFO sqlalchemy.engine.Engine [raw sql] ('Grattan Street', 0, 23, 0, 'dublin', 'GRATTAN STREET', 57, 53.339629, -6.243778, 'OPEN')
2023-02-27 11:44:52,082 INFO sqlalchemy.engine.Engine COMMIT
{'number': 80, 'contract_name': 'dublin', 'name': 'ST JAMES HOSPITAL (LUAS)', 'address': 'St James Hospital (Luas)', 'position': {'lat': 53.341359, 'lng': -6.292951}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 23, 'available_bikes': 17, 'status': 'OPEN', 'last_update': 1677498197000}
2023-02-27 11:44:52,279 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)

2023-02-27 11:44:52,281 INFO sqlalchemy.engine.Engine [raw sql] ('St James Hospital (Luas)', 0, 40, 0, 'dublin', 'ST JAMES HOSPITAL (LUAS)', 80, 53.341359, -6.292951, 'OPEN')
2023-02-27 11:44:52,378 INFO sqlalchemy.engine.Engine COMMIT
{'number': 41, 'contract_name': 'dublin', 'name': 'HARCOURT TERRACE', 'address': 'Harcourt Terrace', 'position': {'lat': 53.332763, 'lng': -6.257942}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 20, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677497906000}
2023-02-27 11:44:52,599 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:52,601 INFO sqlalchemy.engine.Engine [raw sql] ('Harcourt Terrace', 0, 20, 0, 'dublin', 'HARCOURT TERRACE', 41, 53.332763, -6.257942, 'OPEN')
2023-02-27 11:44:52,697 INFO sqlalchemy.engine.Engine COMMIT
{'number': 3, 'contract_name': 'dublin', 'name': 'BOLTON STREET', 'address': 'Bolton Street', 'position': {'lat': 53.351182, 'lng': -6.269859}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 9, 'available_bikes': 11, 'status': 'OPEN', 'last_update': 1677497900000}
2023-02-27 11:44:52,906 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:52,908 INFO sqlalchemy.engine.Engine [raw sql] ('Bolton Street', 0, 20, 0, 'dublin', 'BOLTON STREET', 3, 53.351182, -6.269859, 'OPEN')
2023-02-27 11:44:53,085 INFO sqlalchemy.engine.Engine COMMIT
{'number': 40, 'contract_name': 'dublin', 'name': 'JERVIS STREET', 'address': 'Jervis Street', 'position': {'lat': 53.3483, 'lng': -6.266651}, 'banking': False, 'bonus': False, 'bike_stands': 21, 'available_bike_stands': 17, 'available_bikes': 4, 'status': 'OPEN', 'last_update': 1677498060000}
2023-02-27 11:44:53,292 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:53,294 INFO sqlalchemy.engine.Engine [raw sql] ('Jervis Street', 0, 21, 0, 'dublin', 'JERVIS STREET', 40, 53.3483, -6.266651, 'OPEN')
2023-02-27 11:44:53,389 INFO sqlalchemy.engine.Engine COMMIT
{'number': 29, 'contract_name': 'dublin', 'name': 'ORMOND QUAY UPPER', 'address': 'Ormond Quay Upper', 'position': {'lat': 53.346057, 'lng': -6.268001}, 'banking': False, 'bonus': False, 'bike_stands': 29, 'available_bike_stands': 29, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677498114000}
2023-02-27 11:44:53,620 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:53,622 INFO sqlalchemy.engine.Engine [raw sql] ('Ormond Quay Upper', 0, 29, 0, 'dublin', 'ORMOND QUAY UPPER', 29, 53.346057, -6.268001, 'OPEN')
2023-02-27 11:44:53,716 INFO sqlalchemy.engine.Engine COMMIT
{'number': 103, 'contract_name': 'dublin', 'name': 'GRANGEGORMAN LOWER (SOUTH)', 'address': 'Grangegorman Lower (South)', 'position': {'lat': 53.354663, 'lng': -6.278681}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 37, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1677498201000}
2023-02-27 11:44:53,926 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:53,928 INFO sqlalchemy.engine.Engine [raw sql] ('Grangegorman Lower (South)', 0, 40, 0, 'dublin', 'GRANGEGORMAN LOWER (SOUTH)', 103, 53.354663, -6.278681, 'OPEN')
2023-02-27 11:44:54,035 INFO sqlalchemy.engine.Engine COMMIT
{'number': 28, 'contract_name': 'dublin', 'name': 'MOUNTJOY SQUARE WEST', 'address': 'Mountjoy Square West', 'position': {'lat': 53.356299, 'lng': -6.258586}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 11, 'available_bikes': 19, 'status': 'OPEN', 'last_update': 1677498004000}
2023-02-27 11:44:54,232 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:54,235 INFO sqlalchemy.engine.Engine [raw sql] ('Mountjoy Square West', 0, 30, 0, 'dublin', 'MOUNTJOY SQUARE WEST', 28, 53.356299, -6.258586, 'OPEN')
2023-02-27 11:44:54,333 INFO sqlalchemy.engine.Engine COMMIT
{'number': 39, 'contract_name': 'dublin', 'name': 'WILTON TERRACE', 'address': 'Wilton Terrace', 'position': {'lat': 53.332383, 'lng': -6.252717}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 17, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1677498061000}
2023-02-27 11:44:54,529 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:54,531 INFO sqlalchemy.engine.Engine [raw sql] ('Wilton Terrace', 0, 20, 0, 'dublin', 'WILTON TERRACE', 39, 53.332383, -6.252717, 'OPEN')
2023-02-27 11:44:54,655 INFO sqlalchemy.engine.Engine COMMIT
{'number': 83, 'contract_name': 'dublin', 'name': 'EMMET ROAD', 'address': 'Emmet Road', 'position': {'lat': 53.340714, 'lng': -6.308191}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 29, 'available_bikes': 11, 'status': 'OPEN', 'last_update': 1677497865000}
2023-02-27 11:44:54,853 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:54,855 INFO sqlalchemy.engine.Engine [raw sql] ('Emmet Road', 0, 40, 0, 'dublin', 'EMMET ROAD', 83, 53.340714, -6.308191, 'OPEN')
2023-02-27 11:44:54,957 INFO sqlalchemy.engine.Engine COMMIT
{'number': 92, 'contract_name': 'dublin', 'name': 'HEUSTON BRIDGE (NORTH)', 'address': 'Heuston Bridge (North)', 'position': {'lat': 53.347802, 'lng': -6.292432}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 38, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1677498103000}
2023-02-27 11:44:55,233 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:55,235 INFO sqlalchemy.engine.Engine [raw sql] ('Heuston Bridge (North)', 0, 40, 0, 'dublin', 'HEUSTON BRIDGE (NORTH)', 92, 53.347802, -6.292432, 'OPEN')
2023-02-27 11:44:55,331 INFO sqlalchemy.engine.Engine COMMIT
{'number': 21, 'contract_name': 'dublin', 'name': 'LEINSTER STREET SOUTH', 'address': 'Leinster Street South', 'position': {'lat': 53.34218, 'lng': -6.254485}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 9, 'available_bikes': 20, 'status': 'OPEN', 'last_update': 1677497954000}
2023-02-27 11:44:55,537 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:55,539 INFO sqlalchemy.engine.Engine [raw sql] ('Leinster Street South', 0, 30, 0, 'dublin', 'LEINSTER STREET SOUTH', 21, 53.34218, -6.254485, 'OPEN')
2023-02-27 11:44:55,651 INFO sqlalchemy.engine.Engine COMMIT
{'number': 88, 'contract_name': 'dublin', 'name': 'BLACKHALL PLACE', 'address': 'Blackhall Place', 'position': {'lat': 53.3488, 'lng': -6.281637}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 13, 'available_bikes': 17, 'status': 'OPEN', 'last_update': 1677497634000}
2023-02-27 11:44:55,914 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:44:55,916 INFO sqlalchemy.engine.Engine [raw sql] ('Blackhall Place', 0, 30, 0, 'dublin', 'BLACKHALL PLACE', 88, 53.3488, -6.281637, 'OPEN')
2023-02-27 11:44:56,012 INFO sqlalchemy.engine.Engine COMMIT
<Response [200]> 2023-02-27 11:44:56.220571
2023-02-27 11:44:56,407 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:44:56,408 INFO sqlalchemy.engine.Engine [raw sql] (42, 14, 16, 1677498075000)
2023-02-27 11:44:56,506 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:44:56,701 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:44:56,703 INFO sqlalchemy.engine.Engine [raw sql] (30, 0, 19, 1677497778000)
2023-02-27 11:44:56,800 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:44:56,999 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:44:57,000 INFO sqlalchemy.engine.Engine [raw sql] (54, 17, 16, 1677497701000)

2023-02-27 11:44:57,107 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:44:57,301 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:44:57,304 INFO sqlalchemy.engine.Engine [raw sql] (108, 16, 19, 1677498098000)
2023-02-27 11:44:57,397 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:44:57,591 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:44:57,594 INFO sqlalchemy.engine.Engine [raw sql] (20, 22, 8, 1677498259000)
2023-02-27 11:44:57,690 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:44:57,888 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:44:57,890 INFO sqlalchemy.engine.Engine [raw sql] (56, 33, 6, 1677497919000)
2023-02-27 11:44:57,986 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:44:58,326 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:44:58,328 INFO sqlalchemy.engine.Engine [raw sql] (6, 3, 17, 1677498047000)
2023-02-27 11:44:58,426 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:44:58,623 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:44:58,626 INFO sqlalchemy.engine.Engine [raw sql] (18, 0, 30, 1677497701000)
2023-02-27 11:44:58,722 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:44:58,923 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:44:58,926 INFO sqlalchemy.engine.Engine [raw sql] (32, 21, 6, 1677497820000)
2023-02-27 11:44:59,021 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:44:59,215 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:44:59,217 INFO sqlalchemy.engine.Engine [raw sql] (52, 24, 8, 1677498025000)
2023-02-27 11:44:59,312 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:44:59,521 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:44:59,523 INFO sqlalchemy.engine.Engine [raw sql] (48, 23, 16, 1677498028000)
2023-02-27 11:44:59,618 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:44:59,812 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:44:59,815 INFO sqlalchemy.engine.Engine [raw sql] (13, 20, 10, 1677498137000)
2023-02-27 11:44:59,911 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:00,104 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:00,106 INFO sqlalchemy.engine.Engine [raw sql] (43, 1, 29, 1677498184000)
2023-02-27 11:45:00,200 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:00,414 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:00,416 INFO sqlalchemy.engine.Engine [raw sql] (31, 2, 18, 1677498054000)
2023-02-27 11:45:00,513 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:00,724 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:00,726 INFO sqlalchemy.engine.Engine [raw sql] (98, 32, 7, 1677497871000)
2023-02-27 11:45:00,822 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:01,017 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:01,020 INFO sqlalchemy.engine.Engine [raw sql] (14, 15, 15, 1677498146000)
2023-02-27 11:45:01,132 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:01,328 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:01,330 INFO sqlalchemy.engine.Engine [raw sql] (1, 21, 10, 1677498074000)
2023-02-27 11:45:01,424 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:01,617 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:01,619 INFO sqlalchemy.engine.Engine [raw sql] (23, 25, 3, 1677497797000)
2023-02-27 11:45:01,716 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:01,909 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:01,911 INFO sqlalchemy.engine.Engine [raw sql] (106, 6, 34, 1677497774000)
2023-02-27 11:45:02,006 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:02,205 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:02,207 INFO sqlalchemy.engine.Engine [raw sql] (112, 0, 30, 1677497708000)
2023-02-27 11:45:02,304 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:02,498 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:02,501 INFO sqlalchemy.engine.Engine [raw sql] (68, 13, 27, 1677497710000)
2023-02-27 11:45:02,597 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:02,796 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:02,799 INFO sqlalchemy.engine.Engine [raw sql] (74, 1, 29, 1677498255000)
2023-02-27 11:45:02,897 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:03,095 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:03,097 INFO sqlalchemy.engine.Engine [raw sql] (87, 2, 36, 1677497676000)
2023-02-27 11:45:03,196 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:03,399 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:03,402 INFO sqlalchemy.engine.Engine [raw sql] (84, 0, 30, 1677498135000)
2023-02-27 11:45:03,498 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:03,690 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:03,693 INFO sqlalchemy.engine.Engine [raw sql] (90, 25, 15, 1677498046000)
2023-02-27 11:45:03,786 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:03,978 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:03,980 INFO sqlalchemy.engine.Engine [raw sql] (11, 13, 17, 1677497948000)
2023-02-27 11:45:04,075 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:04,401 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:04,404 INFO sqlalchemy.engine.Engine [raw sql] (17, 6, 14, 1677497732000)
2023-02-27 11:45:04,575 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:04,784 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:04,787 INFO sqlalchemy.engine.Engine [raw sql] (45, 9, 21, 1677498165000)
2023-02-27 11:45:04,890 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:05,095 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:05,097 INFO sqlalchemy.engine.Engine [raw sql] (114, 38, 2, 1677497846000)
2023-02-27 11:45:05,200 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:05,475 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:05,477 INFO sqlalchemy.engine.Engine [raw sql] (72, 0, 31, 1677498206000)
2023-02-27 11:45:05,571 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:05,772 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:05,775 INFO sqlalchemy.engine.Engine [raw sql] (63, 24, 11, 1677498182000)
2023-02-27 11:45:05,871 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:06,071 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:06,073 INFO sqlalchemy.engine.Engine [raw sql] (113, 22, 18, 1677497854000)
2023-02-27 11:45:06,180 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:06,387 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:06,389 INFO sqlalchemy.engine.Engine [raw sql] (91, 13, 16, 1677498130000)
2023-02-27 11:45:06,488 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:06,689 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)

2023-02-27 11:45:06,692 INFO sqlalchemy.engine.Engine [raw sql] (99, 26, 3, 1677497939000)
2023-02-27 11:45:06,787 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:06,986 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:06,989 INFO sqlalchemy.engine.Engine [raw sql] (9, 21, 3, 1677498119000)
2023-02-27 11:45:07,107 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:07,299 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:07,301 INFO sqlalchemy.engine.Engine [raw sql] (67, 0, 39, 1677497822000)
2023-02-27 11:45:07,403 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:07,608 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:07,611 INFO sqlalchemy.engine.Engine [raw sql] (116, 0, 30, 1677497798000)
2023-02-27 11:45:07,720 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:07,927 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:07,930 INFO sqlalchemy.engine.Engine [raw sql] (55, 15, 21, 1677498071000)
2023-02-27 11:45:08,025 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:08,242 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:08,244 INFO sqlalchemy.engine.Engine [raw sql] (62, 26, 14, 1677497701000)
2023-02-27 11:45:08,343 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:08,538 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:08,541 INFO sqlalchemy.engine.Engine [raw sql] (5, 5, 35, 1677498058000)
2023-02-27 11:45:08,640 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:08,895 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:08,898 INFO sqlalchemy.engine.Engine [raw sql] (97, 12, 28, 1677498215000)
2023-02-27 11:45:08,998 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:09,210 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:09,212 INFO sqlalchemy.engine.Engine [raw sql] (61, 5, 20, 1677498164000)
2023-02-27 11:45:09,309 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:09,501 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:09,504 INFO sqlalchemy.engine.Engine [raw sql] (77, 27, 2, 1677497930000)
2023-02-27 11:45:09,598 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:09,793 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:09,796 INFO sqlalchemy.engine.Engine [raw sql] (4, 15, 5, 1677498184000)
2023-02-27 11:45:09,890 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:10,100 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:10,102 INFO sqlalchemy.engine.Engine [raw sql] (49, 10, 30, 1677498015000)
2023-02-27 11:45:10,208 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:10,408 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:10,410 INFO sqlalchemy.engine.Engine [raw sql] (19, 23, 5, 1677498264000)
2023-02-27 11:45:10,509 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:10,703 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:10,705 INFO sqlalchemy.engine.Engine [raw sql] (7, 1, 28, 1677498059000)
2023-02-27 11:45:10,802 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:10,993 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:10,995 INFO sqlalchemy.engine.Engine [raw sql] (60, 10, 20, 1677498043000)
2023-02-27 11:45:11,095 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:11,300 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:11,303 INFO sqlalchemy.engine.Engine [raw sql] (102, 0, 39, 1677498183000)
2023-02-27 11:45:11,398 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:11,590 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:11,593 INFO sqlalchemy.engine.Engine [raw sql] (38, 33, 7, 1677498087000)
2023-02-27 11:45:11,687 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:11,882 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:11,884 INFO sqlalchemy.engine.Engine [raw sql] (53, 16, 23, 1677498029000)
2023-02-27 11:45:11,980 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:12,177 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:12,180 INFO sqlalchemy.engine.Engine [raw sql] (58, 29, 8, 1677498216000)
2023-02-27 11:45:12,273 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:12,466 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:12,469 INFO sqlalchemy.engine.Engine [raw sql] (66, 25, 15, 1677498188000)
2023-02-27 11:45:12,571 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:12,768 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:12,771 INFO sqlalchemy.engine.Engine [raw sql] (104, 0, 40, 1677497733000)
2023-02-27 11:45:12,864 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:13,056 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:13,059 INFO sqlalchemy.engine.Engine [raw sql] (101, 7, 23, 1677498180000)
2023-02-27 11:45:13,153 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:13,349 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:13,352 INFO sqlalchemy.engine.Engine [raw sql] (115, 1, 29, 1677498167000)
2023-02-27 11:45:13,448 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:13,649 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:13,651 INFO sqlalchemy.engine.Engine [raw sql] (47, 14, 26, 1677497951000)
2023-02-27 11:45:13,746 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:13,942 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:13,944 INFO sqlalchemy.engine.Engine [raw sql] (117, 21, 19, 1677497921000)
2023-02-27 11:45:14,037 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:14,242 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:14,245 INFO sqlalchemy.engine.Engine [raw sql] (8, 11, 18, 1677498123000)
2023-02-27 11:45:14,340 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:14,532 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:14,535 INFO sqlalchemy.engine.Engine [raw sql] (27, 19, 1, 1677497733000)
2023-02-27 11:45:14,630 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:14,838 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:14,840 INFO sqlalchemy.engine.Engine [raw sql] (16, 11, 9, 1677497905000)
2023-02-27 11:45:14,938 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:15,135 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:15,137 INFO sqlalchemy.engine.Engine [raw sql] (96, 0, 30, 1677498058000)
2023-02-27 11:45:15,234 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:15,426 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:15,429 INFO sqlalchemy.engine.Engine [raw sql] (82, 0, 8, 1677497968000)
2023-02-27 11:45:15,526 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:15,720 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:15,722 INFO sqlalchemy.engine.Engine [raw sql] (76, 7, 31, 1677497899000)
2023-02-27 11:45:15,818 INFO sqlalchemy.engine.Engine COMMIT

2023-02-27 11:45:16,013 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:16,016 INFO sqlalchemy.engine.Engine [raw sql] (71, 1, 38, 1677498024000)
2023-02-27 11:45:16,112 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:16,311 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:16,314 INFO sqlalchemy.engine.Engine [raw sql] (79, 2, 25, 1677498070000)
2023-02-27 11:45:16,408 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:16,603 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:16,606 INFO sqlalchemy.engine.Engine [raw sql] (69, 38, 1, 1677498251000)
2023-02-27 11:45:16,702 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:16,898 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:16,901 INFO sqlalchemy.engine.Engine [raw sql] (25, 14, 16, 1677497855000)
2023-02-27 11:45:17,011 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:17,205 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:17,207 INFO sqlalchemy.engine.Engine [raw sql] (51, 28, 10, 1677497813000)
2023-02-27 11:45:17,300 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:17,510 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:17,513 INFO sqlalchemy.engine.Engine [raw sql] (37, 12, 18, 1677498061000)
2023-02-27 11:45:17,609 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:17,822 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:17,825 INFO sqlalchemy.engine.Engine [raw sql] (59, 1, 19, 1677497950000)
2023-02-27 11:45:17,924 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:18,125 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:18,127 INFO sqlalchemy.engine.Engine [raw sql] (95, 2, 38, 1677497947000)
2023-02-27 11:45:18,223 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:18,418 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:18,420 INFO sqlalchemy.engine.Engine [raw sql] (94, 5, 35, 1677498005000)
2023-02-27 11:45:18,517 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:18,717 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:18,720 INFO sqlalchemy.engine.Engine [raw sql] (105, 1, 35, 1677497911000)
2023-02-27 11:45:18,815 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:19,013 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:19,015 INFO sqlalchemy.engine.Engine [raw sql] (36, 21, 19, 1677497730000)
2023-02-27 11:45:19,113 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:19,310 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:19,313 INFO sqlalchemy.engine.Engine [raw sql] (93, 0, 40, 1677498132000)
2023-02-27 11:45:19,417 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:19,625 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:19,627 INFO sqlalchemy.engine.Engine [raw sql] (22, 13, 6, 1677497730000)
2023-02-27 11:45:19,723 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:20,039 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:20,040 INFO sqlalchemy.engine.Engine [raw sql] (50, 3, 37, 1677498210000)
2023-02-27 11:45:20,136 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:20,327 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:20,328 INFO sqlalchemy.engine.Engine [raw sql] (110, 0, 40, 1677497952000)
2023-02-27 11:45:20,424 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:20,637 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:20,639 INFO sqlalchemy.engine.Engine [raw sql] (12, 2, 18, 1677498088000)
2023-02-27 11:45:20,759 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:21,000 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:21,001 INFO sqlalchemy.engine.Engine [raw sql] (34, 3, 27, 1677497810000)
2023-02-27 11:45:21,112 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:21,315 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:21,318 INFO sqlalchemy.engine.Engine [raw sql] (78, 0, 40, 1677497943000)
2023-02-27 11:45:21,422 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:21,621 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:21,624 INFO sqlalchemy.engine.Engine [raw sql] (2, 3, 17, 1677497850000)
2023-02-27 11:45:21,718 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:21,916 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:21,918 INFO sqlalchemy.engine.Engine [raw sql] (75, 3, 37, 1677498130000)
2023-02-27 11:45:22,012 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:22,296 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:22,300 INFO sqlalchemy.engine.Engine [raw sql] (507, 1, 0, 1675786128000)
2023-02-27 11:45:22,402 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:22,596 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:22,598 INFO sqlalchemy.engine.Engine [raw sql] (111, 0, 40, 1677497803000)
2023-02-27 11:45:22,693 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:22,891 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:22,892 INFO sqlalchemy.engine.Engine [raw sql] (26, 13, 7, 1677497855000)
2023-02-27 11:45:23,000 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:23,206 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:23,209 INFO sqlalchemy.engine.Engine [raw sql] (65, 34, 6, 1677498259000)
2023-02-27 11:45:23,312 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:23,507 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:23,509 INFO sqlalchemy.engine.Engine [raw sql] (15, 5, 8, 1677497800000)
2023-02-27 11:45:23,605 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:23,802 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:23,804 INFO sqlalchemy.engine.Engine [raw sql] (86, 0, 38, 1677497719000)
2023-02-27 11:45:23,907 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:24,107 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:24,109 INFO sqlalchemy.engine.Engine [raw sql] (35, 15, 14, 1677498085000)
2023-02-27 11:45:24,203 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:24,397 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:24,399 INFO sqlalchemy.engine.Engine [raw sql] (10, 4, 12, 1677498085000)
2023-02-27 11:45:24,494 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:24,687 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:24,690 INFO sqlalchemy.engine.Engine [raw sql] (100, 0, 25, 1677497838000)
2023-02-27 11:45:24,784 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:24,984 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:24,986 INFO sqlalchemy.engine.Engine [raw sql] (24, 11, 9, 1677497699000)
2023-02-27 11:45:25,081 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:25,277 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:25,280 INFO sqlalchemy.engine.Engine [raw sql] (64, 35, 4, 1677497855000)

2023-02-27 11:45:25,378 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:25,601 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:25,603 INFO sqlalchemy.engine.Engine [raw sql] (109, 23, 6, 1677498224000)
2023-02-27 11:45:25,696 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:25,923 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:25,925 INFO sqlalchemy.engine.Engine [raw sql] (85, 6, 29, 1677497794000)
2023-02-27 11:45:26,019 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:26,225 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:26,226 INFO sqlalchemy.engine.Engine [raw sql] (107, 18, 22, 1677497667000)
2023-02-27 11:45:26,321 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:26,521 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:26,523 INFO sqlalchemy.engine.Engine [raw sql] (33, 12, 11, 1677498240000)
2023-02-27 11:45:26,622 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:26,832 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:26,834 INFO sqlalchemy.engine.Engine [raw sql] (44, 1, 29, 1677497975000)
2023-02-27 11:45:26,936 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:27,138 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:27,139 INFO sqlalchemy.engine.Engine [raw sql] (89, 18, 21, 1677498034000)
2023-02-27 11:45:27,232 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:27,454 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:27,456 INFO sqlalchemy.engine.Engine [raw sql] (57, 16, 7, 1677498005000)
2023-02-27 11:45:27,550 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:27,791 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:27,792 INFO sqlalchemy.engine.Engine [raw sql] (80, 17, 23, 1677498197000)
2023-02-27 11:45:27,900 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:28,115 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:28,117 INFO sqlalchemy.engine.Engine [raw sql] (41, 0, 20, 1677497906000)
2023-02-27 11:45:28,210 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:28,419 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:28,421 INFO sqlalchemy.engine.Engine [raw sql] (3, 12, 8, 1677498264000)
2023-02-27 11:45:28,515 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:28,723 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:28,724 INFO sqlalchemy.engine.Engine [raw sql] (40, 4, 17, 1677498060000)
2023-02-27 11:45:28,816 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:29,015 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:29,017 INFO sqlalchemy.engine.Engine [raw sql] (29, 0, 29, 1677498114000)
2023-02-27 11:45:29,112 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:29,309 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:29,312 INFO sqlalchemy.engine.Engine [raw sql] (103, 3, 37, 1677498201000)
2023-02-27 11:45:29,418 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:29,651 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:29,652 INFO sqlalchemy.engine.Engine [raw sql] (28, 19, 11, 1677498004000)
2023-02-27 11:45:29,746 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:29,957 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:29,959 INFO sqlalchemy.engine.Engine [raw sql] (39, 2, 17, 1677498061000)
2023-02-27 11:45:30,069 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:30,267 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:30,269 INFO sqlalchemy.engine.Engine [raw sql] (83, 11, 29, 1677497865000)
2023-02-27 11:45:30,364 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:30,605 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:30,607 INFO sqlalchemy.engine.Engine [raw sql] (92, 2, 38, 1677498103000)
2023-02-27 11:45:30,749 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:31,086 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:31,088 INFO sqlalchemy.engine.Engine [raw sql] (21, 20, 9, 1677497954000)
2023-02-27 11:45:31,237 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:45:31,450 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:45:31,453 INFO sqlalchemy.engine.Engine [raw sql] (88, 17, 13, 1677498241000)
2023-02-27 11:45:31,554 INFO sqlalchemy.engine.Engine COMMIT
Traceback (most recent call last):
  File "/var/folders/fq/bzr8_90x2fz7g47x1rk7l_tm0000gn/T/ipykernel_22795/2467087439.py", line 45, in main
    time.sleep(5*60)
KeyboardInterrupt

In [21]:
NAME="Dublin"
STATIONS="https://api.jcdecaux.com/vls/v1/stations"
r = requests.get(STATIONS, params={"contract" : NAME, "apiKey": DubBike_API})

In [22]:
r.json()

[{'number': 42,
  'contract_name': 'dublin',
  'name': 'SMITHFIELD NORTH',
  'address': 'Smithfield North',
  'position': {'lat': 53.349562, 'lng': -6.278198},
  'banking': False,
  'bonus': False,
  'bike_stands': 30,
  'available_bike_stands': 16,
  'available_bikes': 14,
  'status': 'OPEN',
  'last_update': 1677498075000},
 {'number': 30,
  'contract_name': 'dublin',
  'name': 'PARNELL SQUARE NORTH',
  'address': 'Parnell Square North',
  'position': {'lat': 53.3537415547453, 'lng': -6.26530144781526},
  'banking': False,
  'bonus': False,
  'bike_stands': 20,
  'available_bike_stands': 19,
  'available_bikes': 0,
  'status': 'OPEN',
  'last_update': 1677498385000},
 {'number': 54,
  'contract_name': 'dublin',
  'name': 'CLONMEL STREET',
  'address': 'Clonmel Street',
  'position': {'lat': 53.336021, 'lng': -6.26298},
  'banking': False,
  'bonus': False,
  'bike_stands': 33,
  'available_bike_stands': 16,
  'available_bikes': 17,
  'status': 'OPEN',
  'last_update': 1677498307000},
 {'number': 108,
  'contract_name': 'dublin',
  'name': 'AVONDALE ROAD',
  'address': 'Avondale Road',
  'position': {'lat': 53.359405, 'lng': -6.276142},
  'banking': False,
  'bonus': False,
  'bike_stands': 35,
  'available_bike_stands': 19,
  'available_bikes': 16,
  'status': 'OPEN',
  'last_update': 1677498098000},
 {'number': 20,
  'contract_name': 'dublin',
  'name': 'JAMES STREET EAST',
  'address': 'James Street East',
  'position': {'lat': 53.336597, 'lng': -6.248109},
  'banking': False,
  'bonus': False,
  'bike_stands': 30,
  'available_bike_stands': 8,
  'available_bikes': 22,
  'status': 'OPEN',
  'last_update': 1677498259000},
 {'number': 56,
  'contract_name': 'dublin',
  'name': 'MOUNT STREET LOWER',
  'address': 'Mount Street Lower',
  'position': {'lat': 53.33796, 'lng': -6.24153},
  'banking': False,
  'bonus': False,
  'bike_stands': 40,
  'available_bike_stands': 6,
  'available_bikes': 33,
  'status': 'OPEN',
  'last_update': 1677497919000},
 {'number': 6,
  'contract_name': 'dublin',
  'name': 'CHRISTCHURCH PLACE',
  'address': 'Christchurch Place',
  'position': {'lat': 53.343368, 'lng': -6.27012},
  'banking': False,
  'bonus': False,
  'bike_stands': 20,
  'available_bike_stands': 17,
  'available_bikes': 3,
  'status': 'OPEN',
  'last_update': 1677498047000},
 {'number': 18,
  'contract_name': 'dublin',
  'name': 'GRANTHAM STREET',
  'address': 'Grantham Street',
  'position': {'lat': 53.334123, 'lng': -6.265436},
  'banking': False,
  'bonus': False,
  'bike_stands': 30,
  'available_bike_stands': 30,
  'available_bikes': 0,
  'status': 'OPEN',
  'last_update': 1677498307000},
 {'number': 32,
  'contract_name': 'dublin',
  'name': 'PEARSE STREET',
  'address': 'Pearse Street',
  'position': {'lat': 53.344304, 'lng': -6.250427},
  'banking': False,
  'bonus': False,
  'bike_stands': 30,
  'available_bike_stands': 5,
  'available_bikes': 22,
  'status': 'OPEN',
  'last_update': 1677498374000},
 {'number': 52,
  'contract_name': 'dublin',
  'name': 'YORK STREET EAST',
  'address': 'York Street East',
  'position': {'lat': 53.338755, 'lng': -6.262003},
  'banking': False,
  'bonus': False,
  'bike_stands': 32,
  'available_bike_stands': 8,
  'available_bikes': 24,
  'status': 'OPEN',
  'last_update': 1677498025000},
 {'number': 48,
  'contract_name': 'dublin',
  'name': 'EXCISE WALK',
  'address': 'Excise Walk',
  'position': {'lat': 53.347777, 'lng': -6.244239},
  'banking': False,
  'bonus': False,
  'bike_stands': 40,
  'available_bike_stands': 16,
  'available_bikes': 23,
  'status': 'OPEN',
  'last_update': 1677498028000},
 {'number': 13,
  'contract_name': 'dublin',
  'name': 'FITZWILLIAM SQUARE WEST',
  'address': 'Fitzwilliam Square West',
  'position': {'lat': 53.336074, 'lng': -6.252825},
  'banking': False,
  'bonus': False,
  'bike_stands': 30,
  'available_bike_stands': 10,
  'available_bikes': 20,
  'status': 'OPEN',
  'last_update': 1677498281000},
 {'number': 43,
  'contract_name': 'dublin',
  'name': 'PORTOBELLO ROAD',
  'address': 'Portobello Road',
  'position': {'lat': 53.330091, 'lng': -6.268044},
  'banking': False,
  'bonus': False,
  'bike_stands': 30,
  'available_bike_stands': 29,
  'available_bikes': 1,
  'status': 'OPEN',
  'last_update': 1677498184000},
 {'number': 31,
  'contract_name': 'dublin',
  'name': 'PARNELL STREET',
  'address': 'Parnell Street',
  'position': {'lat': 53.350929, 'lng': -6.265125},
  'banking': False,
  'bonus': False,
  'bike_stands': 20,
  'available_bike_stands': 18,
  'available_bikes': 2,
  'status': 'OPEN',
  'last_update': 1677498054000},
 {'number': 98,
  'contract_name': 'dublin',
  'name': 'FREDERICK STREET SOUTH',
  'address': 'Frederick Street South',
  'position': {'lat': 53.341515, 'lng': -6.256853},
  'banking': False,
  'bonus': False,
  'bike_stands': 40,
  'available_bike_stands': 7,
  'available_bikes': 32,
  'status': 'OPEN',
  'last_update': 1677497871000},
 {'number': 14,
  'contract_name': 'dublin',
  'name': 'FOWNES STREET UPPER',
  'address': 'Fownes Street Upper',
  'position': {'lat': 53.344603, 'lng': -6.263371},
  'banking': False,
  'bonus': False,
  'bike_stands': 30,
  'available_bike_stands': 15,
  'available_bikes': 15,
  'status': 'OPEN',
  'last_update': 1677498146000},
 {'number': 1,
  'contract_name': 'dublin',
  'name': 'CLARENDON ROW',
  'address': 'Clarendon Row',
  'position': {'lat': 53.340927, 'lng': -6.262501},
  'banking': False,
  'bonus': False,
  'bike_stands': 31,
  'available_bike_stands': 9,
  'available_bikes': 22,
  'status': 'OPEN',
  'last_update': 1677498341000},
 {'number': 23,
  'contract_name': 'dublin',
  'name': 'CUSTOM HOUSE',
  'address': 'Custom House',
  'position': {'lat': 53.348279, 'lng': -6.254662},
  'banking': False,
  'bonus': False,
  'bike_stands': 30,
  'available_bike_stands': 3,
  'available_bikes': 25,
  'status': 'OPEN',
  'last_update': 1677497797000},
 {'number': 106,
  'contract_name': 'dublin',
  'name': 'RATHDOWN ROAD',
  'address': 'Rathdown Road',
  'position': {'lat': 53.35893, 'lng': -6.280337},
  'banking': False,
  'bonus': False,
  'bike_stands': 40,
  'available_bike_stands': 34,
  'available_bikes': 6,
  'status': 'OPEN',
  'last_update': 1677498380000},
 {'number': 112,
  'contract_name': 'dublin',
  'name': "NORTH CIRCULAR ROAD (O'CONNELL'S)",
  'address': "North Circular Road (O'Connell's)",
  'position': {'lat': 53.357841, 'lng': -6.251557},
  'banking': False,
  'bonus': False,
  'bike_stands': 30,
  'available_bike_stands': 30,
  'available_bikes': 0,
  'status': 'OPEN',
  'last_update': 1677498314000},
 {'number': 68,
  'contract_name': 'dublin',
  'name': 'HANOVER QUAY',
  'address': 'Hanover Quay',
  'position': {'lat': 53.344115, 'lng': -6.237153},
  'banking': False,
  'bonus': False,
  'bike_stands': 40,
  'available_bike_stands': 27,
  'available_bikes': 13,
  'status': 'OPEN',
  'last_update': 1677498316000},
 {'number': 74,
  'contract_name': 'dublin',
  'name': 'OLIVER BOND STREET',
  'address': 'Oliver Bond Street',
  'position': {'lat': 53.343893, 'lng': -6.280531},
  'banking': False,
  'bonus': False,
  'bike_stands': 30,
  'available_bike_stands': 29,
  'available_bikes': 1,
  'status': 'OPEN',
  'last_update': 1677498255000},
 {'number': 87,
  'contract_name': 'dublin',
  'name': 'COLLINS BARRACKS MUSEUM',
  'address': 'Collins Barracks Museum',
  'position': {'lat': 53.347477, 'lng': -6.28525},
  'banking': False,
  'bonus': False,
  'bike_stands': 38,
  'available_bike_stands': 36,
  'available_bikes': 2,
  'status': 'OPEN',
  'last_update': 1677498283000},
 {'number': 84,
  'contract_name': 'dublin',
  'name': 'BROOKFIELD ROAD',
  'address': 'Brookfield Road',
  'position': {'lat': 53.339005, 'lng': -6.300217},
  'banking': False,
  'bonus': False,
  'bike_stands': 30,
  'available_bike_stands': 30,
  'available_bikes': 0,
  'status': 'OPEN',
  'last_update': 1677498135000},
 {'number': 90,
  'contract_name': 'dublin',
  'name': 'BENSON STREET',
  'address': 'Benson Street',
  'position': {'lat': 53.344153, 'lng': -6.233451},
  'banking': False,
  'bonus': False,
  'bike_stands': 40,
  'available_bike_stands': 15,
  'available_bikes': 25,
  'status': 'OPEN',
  'last_update': 1677498046000},
 {'number': 11,
  'contract_name': 'dublin',
  'name': 'EARLSFORT TERRACE',
  'address': 'Earlsfort Terrace',
  'position': {'lat': 53.334295, 'lng': -6.258503},
  'banking': False,
  'bonus': False,
  'bike_stands': 30,
  'available_bike_stands': 17,
  'available_bikes': 13,
  'status': 'OPEN',
  'last_update': 1677497948000},
 {'number': 17,
  'contract_name': 'dublin',
  'name': 'GOLDEN LANE',
  'address': 'Golden Lane',
  'position': {'lat': 53.340803, 'lng': -6.267732},
  'banking': False,
  'bonus': False,
  'bike_stands': 20,
  'available_bike_stands': 14,
  'available_bikes': 6,
  'status': 'OPEN',
  'last_update': 1677498338000},
 {'number': 45,
  'contract_name': 'dublin',
  'name': 'DEVERELL PLACE',
  'address': 'Deverell Place',
  'position': {'lat': 53.351464, 'lng': -6.255265},
  'banking': False,
  'bonus': False,
  'bike_stands': 30,
  'available_bike_stands': 21,
  'available_bikes': 9,
  'status': 'OPEN',
  'last_update': 1677498165000},
 {'number': 114,
  'contract_name': 'dublin',
  'name': 'WILTON TERRACE (PARK)',
  'address': 'Wilton Terrace (Park)',
  'position': {'lat': 53.333653, 'lng': -6.248345},
  'banking': False,
  'bonus': False,
  'bike_stands': 40,
  'available_bike_stands': 2,
  'available_bikes': 38,
  'status': 'OPEN',
  'last_update': 1677497846000},
 {'number': 72,
  'contract_name': 'dublin',
  'name': 'JOHN STREET WEST',
  'address': 'John Street West',
  'position': {'lat': 53.343105, 'lng': -6.277167},
  'banking': False,
  'bonus': False,
  'bike_stands': 31,
  'available_bike_stands': 31,
  'available_bikes': 0,
  'status': 'OPEN',
  'last_update': 1677498206000},
 {'number': 63,
  'contract_name': 'dublin',
  'name': 'FENIAN STREET',
  'address': 'Fenian Street',
  'position': {'lat': 53.341428, 'lng': -6.24672},
  'banking': False,
  'bonus': False,
  'bike_stands': 35,
  'available_bike_stands': 11,
  'available_bikes': 24,
  'status': 'OPEN',
  'last_update': 1677498182000},
 {'number': 113,
  'contract_name': 'dublin',
  'name': 'MERRION SQUARE SOUTH',
  'address': 'Merrion Square South',
  'position': {'lat': 53.338614, 'lng': -6.248606},
  'banking': False,
  'bonus': False,
  'bike_stands': 40,
  'available_bike_stands': 18,
  'available_bikes': 22,
  'status': 'OPEN',
  'last_update': 1677497854000},
 {'number': 91,
  'contract_name': 'dublin',
  'name': 'SOUTH DOCK ROAD',
  'address': 'South Dock Road',
  'position': {'lat': 53.341833, 'lng': -6.231291},
  'banking': False,
  'bonus': False,
  'bike_stands': 30,
  'available_bike_stands': 16,
  'available_bikes': 13,
  'status': 'OPEN',
  'last_update': 1677498130000},
 {'number': 99,
  'contract_name': 'dublin',
  'name': 'CITY QUAY',
  'address': 'City Quay',
  'position': {'lat': 53.346637, 'lng': -6.246154},
  'banking': False,
  'bonus': False,
  'bike_stands': 30,
  'available_bike_stands': 3,
  'available_bikes': 26,
  'status': 'OPEN',
  'last_update': 1677497939000},
 {'number': 9,
  'contract_name': 'dublin',
  'name': 'EXCHEQUER STREET',
  'address': 'Exchequer Street',
  'position': {'lat': 53.343034, 'lng': -6.263578},
  'banking': False,
  'bonus': False,
  'bike_stands': 24,
  'available_bike_stands': 3,
  'available_bikes': 21,
  'status': 'OPEN',
  'last_update': 1677498119000},
 {'number': 67,
  'contract_name': 'dublin',
  'name': 'THE POINT',
  'address': 'The Point',
  'position': {'lat': 53.346867, 'lng': -6.230852},
  'banking': False,
  'bonus': False,
  'bike_stands': 40,
  'available_bike_stands': 39,
  'available_bikes': 0,
  'status': 'OPEN',
  'last_update': 1677497822000},
 {'number': 116,
  'contract_name': 'dublin',
  'name': 'BROADSTONE',
  'address': 'Broadstone',
  'position': {'lat': 53.3547, 'lng': -6.272314},
  'banking': False,
  'bonus': False,
  'bike_stands': 30,
  'available_bike_stands': 30,
  'available_bikes': 0,
  'status': 'OPEN',
  'last_update': 1677497798000},
 {'number': 55,
  'contract_name': 'dublin',
  'name': 'HATCH STREET',
  'address': 'Hatch Street',
  'position': {'lat': 53.33403, 'lng': -6.260714},
  'banking': False,
  'bonus': False,
  'bike_stands': 36,
  'available_bike_stands': 21,
  'available_bikes': 15,
  'status': 'OPEN',
  'last_update': 1677498071000},
 {'number': 62,
  'contract_name': 'dublin',
  'name': 'LIME STREET',
  'address': 'Lime Street',
  'position': {'lat': 53.346026, 'lng': -6.243576},
  'banking': False,
  'bonus': False,
  'bike_stands': 40,
  'available_bike_stands': 14,
  'available_bikes': 26,
  'status': 'OPEN',
  'last_update': 1677498307000},
 {'number': 5,
  'contract_name': 'dublin',
  'name': 'CHARLEMONT PLACE',
  'address': 'Charlemont Street',
  'position': {'lat': 53.330662, 'lng': -6.260177},
  'banking': False,
  'bonus': False,
  'bike_stands': 40,
  'available_bike_stands': 35,
  'available_bikes': 5,
  'status': 'OPEN',
  'last_update': 1677498058000},
 {'number': 97,
  'contract_name': 'dublin',
  'name': 'KILMAINHAM GAOL',
  'address': 'Kilmainham Gaol',
  'position': {'lat': 53.342113, 'lng': -6.310015},
  'banking': False,
  'bonus': False,
  'bike_stands': 40,
  'available_bike_stands': 28,
  'available_bikes': 12,
  'status': 'OPEN',
  'last_update': 1677498215000},
 {'number': 61,
  'contract_name': 'dublin',
  'name': 'HARDWICKE PLACE',
  'address': 'Hardwicke Place',
  'position': {'lat': 53.357043, 'lng': -6.263232},
  'banking': False,
  'bonus': False,
  'bike_stands': 25,
  'available_bike_stands': 20,
  'available_bikes': 5,
  'status': 'OPEN',
  'last_update': 1677498164000},
 {'number': 77,
  'contract_name': 'dublin',
  'name': 'WOLFE TONE STREET',
  'address': 'Wolfe Tone Street',
  'position': {'lat': 53.348875, 'lng': -6.267459},
  'banking': False,
  'bonus': False,
  'bike_stands': 29,
  'available_bike_stands': 2,
  'available_bikes': 27,
  'status': 'OPEN',
  'last_update': 1677497930000},
 {'number': 4,
  'contract_name': 'dublin',
  'name': 'GREEK STREET',
  'address': 'Greek Street',
  'position': {'lat': 53.346874, 'lng': -6.272976},
  'banking': False,
  'bonus': False,
  'bike_stands': 20,
  'available_bike_stands': 5,
  'available_bikes': 15,
  'status': 'OPEN',
  'last_update': 1677498184000},
 {'number': 49,
  'contract_name': 'dublin',
  'name': 'GUILD STREET',
  'address': 'Guild Street',
  'position': {'lat': 53.347932, 'lng': -6.240928},
  'banking': False,
  'bonus': False,
  'bike_stands': 40,
  'available_bike_stands': 30,
  'available_bikes': 10,
  'status': 'OPEN',
  'last_update': 1677498015000},
 {'number': 19,
  'contract_name': 'dublin',
  'name': 'HERBERT PLACE',
  'address': 'Herbert Place',
  'position': {'lat': 53.334432, 'lng': -6.245575},
  'banking': False,
  'bonus': False,
  'bike_stands': 30,
  'available_bike_stands': 5,
  'available_bikes': 23,
  'status': 'OPEN',
  'last_update': 1677498264000},
 {'number': 7,
  'contract_name': 'dublin',
  'name': 'HIGH STREET',
  'address': 'High Street',
  'position': {'lat': 53.343565, 'lng': -6.275071},
  'banking': False,
  'bonus': False,
  'bike_stands': 29,
  'available_bike_stands': 28,
  'available_bikes': 1,
  'status': 'OPEN',
  'last_update': 1677498059000},
 {'number': 60,
  'contract_name': 'dublin',
  'name': 'NORTH CIRCULAR ROAD',
  'address': 'North Circular Road',
  'position': {'lat': 53.359624, 'lng': -6.260348},
  'banking': False,
  'bonus': False,
  'bike_stands': 30,
  'available_bike_stands': 20,
  'available_bikes': 10,
  'status': 'OPEN',
  'last_update': 1677498043000},
 {'number': 102,
  'contract_name': 'dublin',
  'name': 'WESTERN WAY',
  'address': 'Western Way',
  'position': {'lat': 53.354929, 'lng': -6.269425},
  'banking': False,
  'bonus': False,
  'bike_stands': 40,
  'available_bike_stands': 39,
  'available_bikes': 0,
  'status': 'OPEN',
  'last_update': 1677498183000},
 {'number': 38,
  'contract_name': 'dublin',
  'name': 'TALBOT STREET',
  'address': 'Talbot Street',
  'position': {'lat': 53.350974, 'lng': -6.25294},
  'banking': False,
  'bonus': False,
  'bike_stands': 40,
  'available_bike_stands': 7,
  'available_bikes': 33,
  'status': 'OPEN',
  'last_update': 1677498087000},
 {'number': 53,
  'contract_name': 'dublin',
  'name': 'NEWMAN HOUSE',
  'address': 'Newman House',
  'position': {'lat': 53.337132, 'lng': -6.26059},
  'banking': False,
  'bonus': False,
  'bike_stands': 40,
  'available_bike_stands': 23,
  'available_bikes': 16,
  'status': 'OPEN',
  'last_update': 1677498029000},
 {'number': 58,
  'contract_name': 'dublin',
  'name': "SIR PATRICK DUN'S",
  'address': "Sir Patrick's Dun",
  'position': {'lat': 53.339218, 'lng': -6.240642},
  'banking': False,
  'bonus': False,
  'bike_stands': 40,
  'available_bike_stands': 8,
  'available_bikes': 29,
  'status': 'OPEN',
  'last_update': 1677498216000},
 {'number': 66,
  'contract_name': 'dublin',
  'name': 'NEW CENTRAL BANK',
  'address': 'New Central Bank',
  'position': {'lat': 53.347122, 'lng': -6.234749},
  'banking': False,
  'bonus': False,
  'bike_stands': 40,
  'available_bike_stands': 15,
  'available_bikes': 25,
  'status': 'OPEN',
  'last_update': 1677498381000},
 {'number': 104,
  'contract_name': 'dublin',
  'name': 'GRANGEGORMAN LOWER (CENTRAL)',
  'address': 'Grangegorman Lower (Central)',
  'position': {'lat': 53.355173, 'lng': -6.278424},
  'banking': False,
  'bonus': False,
  'bike_stands': 40,
  'available_bike_stands': 40,
  'available_bikes': 0,
  'status': 'OPEN',
  'last_update': 1677498339000},
 {'number': 101,
  'contract_name': 'dublin',
  'name': 'KING STREET NORTH',
  'address': 'King Street North',
  'position': {'lat': 53.350291, 'lng': -6.273507},
  'banking': False,
  'bonus': False,
  'bike_stands': 30,
  'available_bike_stands': 23,
  'available_bikes': 7,
  'status': 'OPEN',
  'last_update': 1677498180000},
 {'number': 115,
  'contract_name': 'dublin',
  'name': 'KILLARNEY STREET',
  'address': 'Killarney Street',
  'position': {'lat': 53.354845, 'lng': -6.247579},
  'banking': False,
  'bonus': False,
  'bike_stands': 30,
  'available_bike_stands': 29,
  'available_bikes': 1,
  'status': 'OPEN',
  'last_update': 1677498167000},
 {'number': 47,
  'contract_name': 'dublin',
  'name': 'HERBERT STREET',
  'address': 'Herbert Street',
  'position': {'lat': 53.335742, 'lng': -6.24551},
  'banking': False,
  'bonus': False,
  'bike_stands': 40,
  'available_bike_stands': 26,
  'available_bikes': 14,
  'status': 'OPEN',
  'last_update': 1677497951000},
 {'number': 117,
  'contract_name': 'dublin',
  'name': 'HANOVER QUAY EAST',
  'address': 'Hanover Quay East',
  'position': {'lat': 53.343653, 'lng': -6.231755},
  'banking': False,
  'bonus': False,
  'bike_stands': 40,
  'available_bike_stands': 19,
  'available_bikes': 21,
  'status': 'OPEN',
  'last_update': 1677497921000},
 {'number': 8,
  'contract_name': 'dublin',
  'name': 'CUSTOM HOUSE QUAY',
  'address': 'Custom House Quay',
  'position': {'lat': 53.347884, 'lng': -6.248048},
  'banking': False,
  'bonus': False,
  'bike_stands': 30,
  'available_bike_stands': 18,
  'available_bikes': 11,
  'status': 'OPEN',
  'last_update': 1677498123000},
 {'number': 27,
  'contract_name': 'dublin',
  'name': 'MOLESWORTH STREET',
  'address': 'Molesworth Street',
  'position': {'lat': 53.341288, 'lng': -6.258117},
  'banking': False,
  'bonus': False,
  'bike_stands': 20,
  'available_bike_stands': 1,
  'available_bikes': 19,
  'status': 'OPEN',
  'last_update': 1677498338000},
 {'number': 16,
  'contract_name': 'dublin',
  'name': 'GEORGES QUAY',
  'address': 'Georges Quay',
  'position': {'lat': 53.347508, 'lng': -6.252192},
  'banking': False,
  'bonus': False,
  'bike_stands': 20,
  'available_bike_stands': 9,
  'available_bikes': 11,
  'status': 'OPEN',
  'last_update': 1677497905000},
 {'number': 96,
  'contract_name': 'dublin',
  'name': 'KILMAINHAM LANE',

In [23]:
def availability_to_db(text):
    stations = json.loads(text)
    #print(availability)
    for station in stations:
        #print(station.get("name"))
        #print(station.get("number"))
        #print(station.get("available_bikes"))
        #print(station.get("available_bike_stands"))
        #print(station.get("last_update"))
        vals = (int(station.get("number")), int(station.get("available_bikes")), int(station.get("available_bike_stands")), int(station.get("last_update")))
        engine.execute("INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)", vals)
    return

In [24]:
# just testing out function works here
availability_to_db(r.text)

2023-02-27 11:47:06,106 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:06,108 INFO sqlalchemy.engine.Engine [raw sql] (42, 14, 16, 1677498075000)
2023-02-27 11:47:06,201 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:06,391 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:06,394 INFO sqlalchemy.engine.Engine [raw sql] (30, 0, 19, 1677498385000)
2023-02-27 11:47:06,487 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:06,678 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:06,680 INFO sqlalchemy.engine.Engine [raw sql] (54, 17, 16, 1677498307000)
2023-02-27 11:47:06,776 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:07,005 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:07,007 INFO sqlalchemy.engine.Engine [raw sql] (108, 16, 19, 1677498098000)
2023-02-27 11:47:07,103 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:07,293 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:07,295 INFO sqlalchemy.engine.Engine [raw sql] (20, 22, 8, 1677498259000)
2023-02-27 11:47:07,389 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:07,580 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:07,581 INFO sqlalchemy.engine.Engine [raw sql] (56, 33, 6, 1677497919000)
2023-02-27 11:47:07,675 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:07,877 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:07,878 INFO sqlalchemy.engine.Engine [raw sql] (6, 3, 17, 1677498047000)
2023-02-27 11:47:07,974 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:08,170 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:08,172 INFO sqlalchemy.engine.Engine [raw sql] (18, 0, 30, 1677498307000)
2023-02-27 11:47:08,269 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:08,469 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:08,470 INFO sqlalchemy.engine.Engine [raw sql] (32, 22, 5, 1677498374000)
2023-02-27 11:47:08,591 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:08,804 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:08,805 INFO sqlalchemy.engine.Engine [raw sql] (52, 24, 8, 1677498025000)
2023-02-27 11:47:08,904 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:09,159 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:09,160 INFO sqlalchemy.engine.Engine [raw sql] (48, 23, 16, 1677498028000)
2023-02-27 11:47:09,254 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:09,462 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:09,463 INFO sqlalchemy.engine.Engine [raw sql] (13, 20, 10, 1677498281000)
2023-02-27 11:47:09,762 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:09,954 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:09,957 INFO sqlalchemy.engine.Engine [raw sql] (43, 1, 29, 1677498184000)
2023-02-27 11:47:10,082 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:10,300 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:10,301 INFO sqlalchemy.engine.Engine [raw sql] (31, 2, 18, 1677498054000)
2023-02-27 11:47:10,432 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:10,625 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:10,626 INFO sqlalchemy.engine.Engine [raw sql] (98, 32, 7, 1677497871000)
2023-02-27 11:47:10,719 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:10,926 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:10,929 INFO sqlalchemy.engine.Engine [raw sql] (14, 15, 15, 1677498146000)
2023-02-27 11:47:11,022 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:11,214 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:11,216 INFO sqlalchemy.engine.Engine [raw sql] (1, 22, 9, 1677498341000)
2023-02-27 11:47:11,318 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:11,508 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:11,509 INFO sqlalchemy.engine.Engine [raw sql] (23, 25, 3, 1677497797000)
2023-02-27 11:47:11,601 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:11,838 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:11,839 INFO sqlalchemy.engine.Engine [raw sql] (106, 6, 34, 1677498380000)
2023-02-27 11:47:11,932 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:12,123 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:12,124 INFO sqlalchemy.engine.Engine [raw sql] (112, 0, 30, 1677498314000)
2023-02-27 11:47:12,216 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:12,412 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:12,414 INFO sqlalchemy.engine.Engine [raw sql] (68, 13, 27, 1677498316000)
2023-02-27 11:47:12,510 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:12,706 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:12,706 INFO sqlalchemy.engine.Engine [raw sql] (74, 1, 29, 1677498255000)
2023-02-27 11:47:12,799 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:12,990 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:12,992 INFO sqlalchemy.engine.Engine [raw sql] (87, 2, 36, 1677498283000)
2023-02-27 11:47:13,097 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:13,327 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:13,328 INFO sqlalchemy.engine.Engine [raw sql] (84, 0, 30, 1677498135000)
2023-02-27 11:47:13,428 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:13,624 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:13,626 INFO sqlalchemy.engine.Engine [raw sql] (90, 25, 15, 1677498046000)
2023-02-27 11:47:13,723 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:13,921 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:13,922 INFO sqlalchemy.engine.Engine [raw sql] (11, 13, 17, 1677497948000)
2023-02-27 11:47:14,014 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:14,204 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:14,205 INFO sqlalchemy.engine.Engine [raw sql] (17, 6, 14, 1677498338000)
2023-02-27 11:47:14,300 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:14,494 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:14,495 INFO sqlalchemy.engine.Engine [raw sql] (45, 9, 21, 1677498165000)
2023-02-27 11:47:14,603 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:14,829 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:14,832 INFO sqlalchemy.engine.Engine [raw sql] (114, 38, 2, 1677497846000)
2023-02-27 11:47:14,927 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:15,134 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:15,137 INFO sqlalchemy.engine.Engine [raw sql] (72, 0, 31, 1677498206000)
2023-02-27 11:47:15,242 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:15,443 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:15,444 INFO sqlalchemy.engine.Engine [raw sql] (63, 24, 11, 1677498182000)

2023-02-27 11:47:15,539 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:15,753 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:15,755 INFO sqlalchemy.engine.Engine [raw sql] (113, 22, 18, 1677497854000)
2023-02-27 11:47:15,852 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:16,061 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:16,062 INFO sqlalchemy.engine.Engine [raw sql] (91, 13, 16, 1677498130000)
2023-02-27 11:47:16,162 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:16,358 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:16,359 INFO sqlalchemy.engine.Engine [raw sql] (99, 26, 3, 1677497939000)
2023-02-27 11:47:16,473 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:16,669 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:16,671 INFO sqlalchemy.engine.Engine [raw sql] (9, 21, 3, 1677498119000)
2023-02-27 11:47:16,775 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:16,981 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:16,984 INFO sqlalchemy.engine.Engine [raw sql] (67, 0, 39, 1677497822000)
2023-02-27 11:47:17,081 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:17,283 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:17,286 INFO sqlalchemy.engine.Engine [raw sql] (116, 0, 30, 1677497798000)
2023-02-27 11:47:17,387 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:17,591 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:17,593 INFO sqlalchemy.engine.Engine [raw sql] (55, 15, 21, 1677498071000)
2023-02-27 11:47:17,692 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:17,904 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:17,905 INFO sqlalchemy.engine.Engine [raw sql] (62, 26, 14, 1677498307000)
2023-02-27 11:47:17,999 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:18,192 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:18,193 INFO sqlalchemy.engine.Engine [raw sql] (5, 5, 35, 1677498058000)
2023-02-27 11:47:18,292 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:18,485 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:18,486 INFO sqlalchemy.engine.Engine [raw sql] (97, 12, 28, 1677498215000)
2023-02-27 11:47:18,583 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:18,782 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:18,783 INFO sqlalchemy.engine.Engine [raw sql] (61, 5, 20, 1677498164000)
2023-02-27 11:47:18,880 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:19,084 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:19,090 INFO sqlalchemy.engine.Engine [raw sql] (77, 27, 2, 1677497930000)
2023-02-27 11:47:19,187 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:19,393 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:19,395 INFO sqlalchemy.engine.Engine [raw sql] (4, 15, 5, 1677498184000)
2023-02-27 11:47:19,537 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:19,729 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:19,730 INFO sqlalchemy.engine.Engine [raw sql] (49, 10, 30, 1677498015000)
2023-02-27 11:47:19,834 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:20,042 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:20,043 INFO sqlalchemy.engine.Engine [raw sql] (19, 23, 5, 1677498264000)
2023-02-27 11:47:20,141 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:20,340 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:20,341 INFO sqlalchemy.engine.Engine [raw sql] (7, 1, 28, 1677498059000)
2023-02-27 11:47:20,436 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:20,664 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:20,666 INFO sqlalchemy.engine.Engine [raw sql] (60, 10, 20, 1677498043000)
2023-02-27 11:47:20,769 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:20,963 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:20,966 INFO sqlalchemy.engine.Engine [raw sql] (102, 0, 39, 1677498183000)
2023-02-27 11:47:21,062 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:21,266 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:21,268 INFO sqlalchemy.engine.Engine [raw sql] (38, 33, 7, 1677498087000)
2023-02-27 11:47:21,417 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:21,729 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:21,731 INFO sqlalchemy.engine.Engine [raw sql] (53, 16, 23, 1677498029000)
2023-02-27 11:47:21,858 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:22,079 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:22,082 INFO sqlalchemy.engine.Engine [raw sql] (58, 29, 8, 1677498216000)
2023-02-27 11:47:22,181 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:22,437 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:22,441 INFO sqlalchemy.engine.Engine [raw sql] (66, 25, 15, 1677498381000)
2023-02-27 11:47:22,638 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:22,882 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:22,883 INFO sqlalchemy.engine.Engine [raw sql] (104, 0, 40, 1677498339000)
2023-02-27 11:47:22,977 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:23,207 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:23,209 INFO sqlalchemy.engine.Engine [raw sql] (101, 7, 23, 1677498180000)
2023-02-27 11:47:23,302 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:23,495 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:23,497 INFO sqlalchemy.engine.Engine [raw sql] (115, 1, 29, 1677498167000)
2023-02-27 11:47:23,593 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:23,791 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:23,793 INFO sqlalchemy.engine.Engine [raw sql] (47, 14, 26, 1677497951000)
2023-02-27 11:47:23,896 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:24,104 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:24,105 INFO sqlalchemy.engine.Engine [raw sql] (117, 21, 19, 1677497921000)
2023-02-27 11:47:24,202 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:24,410 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:24,411 INFO sqlalchemy.engine.Engine [raw sql] (8, 11, 18, 1677498123000)
2023-02-27 11:47:24,651 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:24,952 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:24,954 INFO sqlalchemy.engine.Engine [raw sql] (27, 19, 1, 1677498338000)
2023-02-27 11:47:25,059 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:25,254 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:25,257 INFO sqlalchemy.engine.Engine [raw sql] (16, 11, 9, 1677497905000)
2023-02-27 11:47:25,354 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:25,543 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)

2023-02-27 11:47:25,544 INFO sqlalchemy.engine.Engine [raw sql] (96, 0, 30, 1677498058000)
2023-02-27 11:47:25,637 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:25,827 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:25,831 INFO sqlalchemy.engine.Engine [raw sql] (82, 0, 8, 1677497968000)
2023-02-27 11:47:25,926 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:26,154 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:26,155 INFO sqlalchemy.engine.Engine [raw sql] (76, 7, 31, 1677497899000)
2023-02-27 11:47:26,251 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:26,445 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:26,448 INFO sqlalchemy.engine.Engine [raw sql] (71, 1, 38, 1677498024000)
2023-02-27 11:47:26,550 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:26,748 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:26,750 INFO sqlalchemy.engine.Engine [raw sql] (79, 3, 24, 1677498337000)
2023-02-27 11:47:26,843 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:27,046 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:27,048 INFO sqlalchemy.engine.Engine [raw sql] (69, 37, 2, 1677498307000)
2023-02-27 11:47:27,145 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:27,336 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:27,338 INFO sqlalchemy.engine.Engine [raw sql] (25, 14, 16, 1677497855000)
2023-02-27 11:47:27,433 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:27,635 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:27,637 INFO sqlalchemy.engine.Engine [raw sql] (51, 28, 10, 1677497813000)
2023-02-27 11:47:27,731 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:27,934 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:27,937 INFO sqlalchemy.engine.Engine [raw sql] (37, 12, 18, 1677498061000)
2023-02-27 11:47:28,042 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:28,240 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:28,242 INFO sqlalchemy.engine.Engine [raw sql] (59, 1, 19, 1677497950000)
2023-02-27 11:47:28,359 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:28,559 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:28,560 INFO sqlalchemy.engine.Engine [raw sql] (95, 2, 38, 1677497947000)
2023-02-27 11:47:28,659 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:28,865 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:28,866 INFO sqlalchemy.engine.Engine [raw sql] (94, 5, 35, 1677498005000)
2023-02-27 11:47:28,961 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:29,155 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:29,156 INFO sqlalchemy.engine.Engine [raw sql] (105, 1, 35, 1677497911000)
2023-02-27 11:47:29,250 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:29,464 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:29,466 INFO sqlalchemy.engine.Engine [raw sql] (36, 21, 19, 1677498336000)
2023-02-27 11:47:29,563 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:29,764 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:29,767 INFO sqlalchemy.engine.Engine [raw sql] (93, 0, 40, 1677498132000)
2023-02-27 11:47:29,870 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:30,078 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:30,080 INFO sqlalchemy.engine.Engine [raw sql] (22, 13, 6, 1677498335000)
2023-02-27 11:47:30,181 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:30,388 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:30,391 INFO sqlalchemy.engine.Engine [raw sql] (50, 2, 38, 1677498312000)
2023-02-27 11:47:30,521 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:30,719 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:30,720 INFO sqlalchemy.engine.Engine [raw sql] (110, 0, 40, 1677497952000)
2023-02-27 11:47:30,814 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:31,013 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:31,015 INFO sqlalchemy.engine.Engine [raw sql] (12, 1, 19, 1677498351000)
2023-02-27 11:47:31,120 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:31,324 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:31,326 INFO sqlalchemy.engine.Engine [raw sql] (34, 3, 27, 1677497810000)
2023-02-27 11:47:31,423 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:31,632 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:31,634 INFO sqlalchemy.engine.Engine [raw sql] (78, 0, 40, 1677497943000)
2023-02-27 11:47:31,753 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:31,948 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:31,950 INFO sqlalchemy.engine.Engine [raw sql] (2, 3, 17, 1677497850000)
2023-02-27 11:47:32,063 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:32,268 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:32,270 INFO sqlalchemy.engine.Engine [raw sql] (75, 3, 37, 1677498130000)
2023-02-27 11:47:32,367 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:32,564 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:32,566 INFO sqlalchemy.engine.Engine [raw sql] (507, 1, 0, 1675786128000)
2023-02-27 11:47:32,661 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:32,856 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:32,859 INFO sqlalchemy.engine.Engine [raw sql] (111, 0, 40, 1677497803000)
2023-02-27 11:47:32,955 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:33,177 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:33,178 INFO sqlalchemy.engine.Engine [raw sql] (26, 13, 7, 1677497855000)
2023-02-27 11:47:33,283 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:33,480 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:33,482 INFO sqlalchemy.engine.Engine [raw sql] (65, 34, 6, 1677498259000)
2023-02-27 11:47:33,580 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:33,778 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:33,780 INFO sqlalchemy.engine.Engine [raw sql] (15, 5, 8, 1677497800000)
2023-02-27 11:47:33,904 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:34,101 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:34,102 INFO sqlalchemy.engine.Engine [raw sql] (86, 0, 38, 1677498325000)
2023-02-27 11:47:34,200 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:34,401 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:34,402 INFO sqlalchemy.engine.Engine [raw sql] (35, 15, 14, 1677498085000)
2023-02-27 11:47:34,501 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:34,702 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:34,704 INFO sqlalchemy.engine.Engine [raw sql] (10, 4, 12, 1677498085000)
2023-02-27 11:47:34,806 INFO sqlalchemy.engine.Engine COMMIT

2023-02-27 11:47:35,015 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:35,016 INFO sqlalchemy.engine.Engine [raw sql] (100, 0, 25, 1677497838000)
2023-02-27 11:47:35,143 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:35,379 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:35,380 INFO sqlalchemy.engine.Engine [raw sql] (24, 11, 9, 1677498306000)
2023-02-27 11:47:35,476 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:35,754 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:35,755 INFO sqlalchemy.engine.Engine [raw sql] (64, 35, 4, 1677497855000)
2023-02-27 11:47:35,892 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:36,408 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:36,411 INFO sqlalchemy.engine.Engine [raw sql] (109, 23, 6, 1677498224000)
2023-02-27 11:47:36,506 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:36,704 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:36,706 INFO sqlalchemy.engine.Engine [raw sql] (85, 6, 29, 1677497794000)
2023-02-27 11:47:36,799 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:36,993 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:36,995 INFO sqlalchemy.engine.Engine [raw sql] (107, 18, 22, 1677498273000)
2023-02-27 11:47:37,089 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:37,283 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:37,285 INFO sqlalchemy.engine.Engine [raw sql] (33, 12, 11, 1677498376000)
2023-02-27 11:47:37,380 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:37,576 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:37,579 INFO sqlalchemy.engine.Engine [raw sql] (44, 1, 29, 1677497975000)
2023-02-27 11:47:37,675 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:37,871 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:37,874 INFO sqlalchemy.engine.Engine [raw sql] (89, 18, 21, 1677498034000)
2023-02-27 11:47:37,969 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:38,166 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:38,168 INFO sqlalchemy.engine.Engine [raw sql] (57, 16, 7, 1677498005000)
2023-02-27 11:47:38,262 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:38,457 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:38,459 INFO sqlalchemy.engine.Engine [raw sql] (80, 17, 23, 1677498197000)
2023-02-27 11:47:38,614 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:38,819 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:38,821 INFO sqlalchemy.engine.Engine [raw sql] (41, 0, 20, 1677497906000)
2023-02-27 11:47:38,918 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:39,133 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:39,135 INFO sqlalchemy.engine.Engine [raw sql] (3, 12, 8, 1677498264000)
2023-02-27 11:47:39,230 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:39,434 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:39,436 INFO sqlalchemy.engine.Engine [raw sql] (40, 4, 17, 1677498060000)
2023-02-27 11:47:39,531 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:39,735 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:39,736 INFO sqlalchemy.engine.Engine [raw sql] (29, 0, 29, 1677498114000)
2023-02-27 11:47:39,834 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:40,026 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:40,027 INFO sqlalchemy.engine.Engine [raw sql] (103, 3, 37, 1677498201000)
2023-02-27 11:47:40,121 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:40,322 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:40,325 INFO sqlalchemy.engine.Engine [raw sql] (28, 18, 12, 1677498371000)
2023-02-27 11:47:40,422 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:40,619 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:40,622 INFO sqlalchemy.engine.Engine [raw sql] (39, 3, 16, 1677498371000)
2023-02-27 11:47:40,718 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:40,918 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:40,922 INFO sqlalchemy.engine.Engine [raw sql] (83, 11, 29, 1677497865000)
2023-02-27 11:47:41,025 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:41,237 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:41,238 INFO sqlalchemy.engine.Engine [raw sql] (92, 2, 38, 1677498103000)
2023-02-27 11:47:41,346 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:41,550 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:41,551 INFO sqlalchemy.engine.Engine [raw sql] (21, 20, 9, 1677497954000)
2023-02-27 11:47:41,646 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:41,839 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:41,841 INFO sqlalchemy.engine.Engine [raw sql] (88, 17, 13, 1677498241000)
2023-02-27 11:47:41,944 INFO sqlalchemy.engine.Engine COMMIT

In [25]:
def stations_to_db(text):
    stations = json.loads(text)
    print(type(stations), len(stations))
    for station in stations:
        print(station)
        vals = (station.get("address"),int(station.get("banking")), int(station.get("bike_stands")), int(station.get("bonus")),station.get("contract_name"), station.get("name"), station.get("number"), station.get("position").get("lat"), station.get("position").get("lng"), station.get("status"))
        engine.execute("INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)", vals)
    return

In [26]:
# just testing out function works here
availability_to_db(r.text)

2023-02-27 11:47:42,210 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:42,211 INFO sqlalchemy.engine.Engine [raw sql] (42, 14, 16, 1677498075000)
2023-02-27 11:47:42,306 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:42,500 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:42,502 INFO sqlalchemy.engine.Engine [raw sql] (30, 0, 19, 1677498385000)
2023-02-27 11:47:42,609 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:42,817 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:42,819 INFO sqlalchemy.engine.Engine [raw sql] (54, 17, 16, 1677498307000)
2023-02-27 11:47:42,927 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:43,129 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:43,131 INFO sqlalchemy.engine.Engine [raw sql] (108, 16, 19, 1677498098000)
2023-02-27 11:47:43,225 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:43,425 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:43,427 INFO sqlalchemy.engine.Engine [raw sql] (20, 22, 8, 1677498259000)
2023-02-27 11:47:43,546 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:43,783 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:43,785 INFO sqlalchemy.engine.Engine [raw sql] (56, 33, 6, 1677497919000)
2023-02-27 11:47:43,881 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:44,075 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:44,078 INFO sqlalchemy.engine.Engine [raw sql] (6, 3, 17, 1677498047000)
2023-02-27 11:47:44,172 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:44,382 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:44,384 INFO sqlalchemy.engine.Engine [raw sql] (18, 0, 30, 1677498307000)
2023-02-27 11:47:44,503 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:44,699 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:44,701 INFO sqlalchemy.engine.Engine [raw sql] (32, 22, 5, 1677498374000)
2023-02-27 11:47:44,803 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:44,999 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:45,001 INFO sqlalchemy.engine.Engine [raw sql] (52, 24, 8, 1677498025000)
2023-02-27 11:47:45,095 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:45,309 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:45,311 INFO sqlalchemy.engine.Engine [raw sql] (48, 23, 16, 1677498028000)
2023-02-27 11:47:45,409 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:45,602 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:45,605 INFO sqlalchemy.engine.Engine [raw sql] (13, 20, 10, 1677498281000)
2023-02-27 11:47:45,699 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:45,914 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:45,916 INFO sqlalchemy.engine.Engine [raw sql] (43, 1, 29, 1677498184000)
2023-02-27 11:47:46,011 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:46,214 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:46,216 INFO sqlalchemy.engine.Engine [raw sql] (31, 2, 18, 1677498054000)
2023-02-27 11:47:46,311 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:46,503 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:46,506 INFO sqlalchemy.engine.Engine [raw sql] (98, 32, 7, 1677497871000)
2023-02-27 11:47:46,601 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:46,794 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:46,796 INFO sqlalchemy.engine.Engine [raw sql] (14, 15, 15, 1677498146000)
2023-02-27 11:47:46,891 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:47,109 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:47,111 INFO sqlalchemy.engine.Engine [raw sql] (1, 22, 9, 1677498341000)
2023-02-27 11:47:47,207 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:47,410 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:47,412 INFO sqlalchemy.engine.Engine [raw sql] (23, 25, 3, 1677497797000)
2023-02-27 11:47:47,508 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:47,707 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:47,711 INFO sqlalchemy.engine.Engine [raw sql] (106, 6, 34, 1677498380000)
2023-02-27 11:47:47,806 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:48,010 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:48,013 INFO sqlalchemy.engine.Engine [raw sql] (112, 0, 30, 1677498314000)
2023-02-27 11:47:48,148 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:48,359 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:48,360 INFO sqlalchemy.engine.Engine [raw sql] (68, 13, 27, 1677498316000)
2023-02-27 11:47:48,480 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:48,694 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:48,697 INFO sqlalchemy.engine.Engine [raw sql] (74, 1, 29, 1677498255000)
2023-02-27 11:47:48,794 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:48,993 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:48,995 INFO sqlalchemy.engine.Engine [raw sql] (87, 2, 36, 1677498283000)
2023-02-27 11:47:49,092 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:49,306 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:49,308 INFO sqlalchemy.engine.Engine [raw sql] (84, 0, 30, 1677498135000)
2023-02-27 11:47:49,408 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:49,614 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:49,616 INFO sqlalchemy.engine.Engine [raw sql] (90, 25, 15, 1677498046000)
2023-02-27 11:47:49,711 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:49,906 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:49,908 INFO sqlalchemy.engine.Engine [raw sql] (11, 13, 17, 1677497948000)
2023-02-27 11:47:50,008 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:50,205 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:50,207 INFO sqlalchemy.engine.Engine [raw sql] (17, 6, 14, 1677498338000)
2023-02-27 11:47:50,302 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:50,505 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:50,508 INFO sqlalchemy.engine.Engine [raw sql] (45, 9, 21, 1677498165000)
2023-02-27 11:47:50,607 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:50,802 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:50,805 INFO sqlalchemy.engine.Engine [raw sql] (114, 38, 2, 1677497846000)
2023-02-27 11:47:50,899 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:51,097 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:51,099 INFO sqlalchemy.engine.Engine [raw sql] (72, 0, 31, 1677498206000)
2023-02-27 11:47:51,194 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:51,387 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:51,389 INFO sqlalchemy.engine.Engine [raw sql] (63, 24, 11, 1677498182000)

2023-02-27 11:47:51,491 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:51,696 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:51,698 INFO sqlalchemy.engine.Engine [raw sql] (113, 22, 18, 1677497854000)
2023-02-27 11:47:51,803 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:52,003 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:52,005 INFO sqlalchemy.engine.Engine [raw sql] (91, 13, 16, 1677498130000)
2023-02-27 11:47:52,103 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:52,317 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:52,319 INFO sqlalchemy.engine.Engine [raw sql] (99, 26, 3, 1677497939000)
2023-02-27 11:47:52,413 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:52,630 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:52,632 INFO sqlalchemy.engine.Engine [raw sql] (9, 21, 3, 1677498119000)
2023-02-27 11:47:52,728 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:52,924 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:52,927 INFO sqlalchemy.engine.Engine [raw sql] (67, 0, 39, 1677497822000)
2023-02-27 11:47:53,021 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:53,224 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:53,227 INFO sqlalchemy.engine.Engine [raw sql] (116, 0, 30, 1677497798000)
2023-02-27 11:47:53,323 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:53,522 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:53,525 INFO sqlalchemy.engine.Engine [raw sql] (55, 15, 21, 1677498071000)
2023-02-27 11:47:53,623 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:53,829 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:53,832 INFO sqlalchemy.engine.Engine [raw sql] (62, 26, 14, 1677498307000)
2023-02-27 11:47:53,927 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:54,126 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:54,128 INFO sqlalchemy.engine.Engine [raw sql] (5, 5, 35, 1677498058000)
2023-02-27 11:47:54,326 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:54,596 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:54,599 INFO sqlalchemy.engine.Engine [raw sql] (97, 12, 28, 1677498215000)
2023-02-27 11:47:54,695 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:54,906 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:54,907 INFO sqlalchemy.engine.Engine [raw sql] (61, 5, 20, 1677498164000)
2023-02-27 11:47:55,001 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:55,194 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:55,195 INFO sqlalchemy.engine.Engine [raw sql] (77, 27, 2, 1677497930000)
2023-02-27 11:47:55,301 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:55,540 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:55,542 INFO sqlalchemy.engine.Engine [raw sql] (4, 15, 5, 1677498184000)
2023-02-27 11:47:55,674 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:55,943 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:55,944 INFO sqlalchemy.engine.Engine [raw sql] (49, 10, 30, 1677498015000)
2023-02-27 11:47:56,124 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:56,354 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:56,356 INFO sqlalchemy.engine.Engine [raw sql] (19, 23, 5, 1677498264000)
2023-02-27 11:47:56,452 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:56,687 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:56,689 INFO sqlalchemy.engine.Engine [raw sql] (7, 1, 28, 1677498059000)
2023-02-27 11:47:56,802 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:57,043 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:57,045 INFO sqlalchemy.engine.Engine [raw sql] (60, 10, 20, 1677498043000)
2023-02-27 11:47:57,222 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:57,484 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:57,486 INFO sqlalchemy.engine.Engine [raw sql] (102, 0, 39, 1677498183000)
2023-02-27 11:47:57,629 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:57,884 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:57,886 INFO sqlalchemy.engine.Engine [raw sql] (38, 33, 7, 1677498087000)
2023-02-27 11:47:58,019 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:58,315 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:58,317 INFO sqlalchemy.engine.Engine [raw sql] (53, 16, 23, 1677498029000)
2023-02-27 11:47:58,425 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:58,633 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:58,636 INFO sqlalchemy.engine.Engine [raw sql] (58, 29, 8, 1677498216000)
2023-02-27 11:47:58,733 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:58,934 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:58,937 INFO sqlalchemy.engine.Engine [raw sql] (66, 25, 15, 1677498381000)
2023-02-27 11:47:59,051 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:59,253 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:59,256 INFO sqlalchemy.engine.Engine [raw sql] (104, 0, 40, 1677498339000)
2023-02-27 11:47:59,358 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:59,555 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:59,557 INFO sqlalchemy.engine.Engine [raw sql] (101, 7, 23, 1677498180000)
2023-02-27 11:47:59,668 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:47:59,977 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:47:59,980 INFO sqlalchemy.engine.Engine [raw sql] (115, 1, 29, 1677498167000)
2023-02-27 11:48:00,101 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:48:00,327 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:48:00,329 INFO sqlalchemy.engine.Engine [raw sql] (47, 14, 26, 1677497951000)
2023-02-27 11:48:00,442 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:48:00,719 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:48:00,720 INFO sqlalchemy.engine.Engine [raw sql] (117, 21, 19, 1677497921000)
2023-02-27 11:48:00,873 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:48:01,077 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:48:01,079 INFO sqlalchemy.engine.Engine [raw sql] (8, 11, 18, 1677498123000)
2023-02-27 11:48:01,190 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:48:01,397 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:48:01,399 INFO sqlalchemy.engine.Engine [raw sql] (27, 19, 1, 1677498338000)
2023-02-27 11:48:01,498 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:48:01,696 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:48:01,699 INFO sqlalchemy.engine.Engine [raw sql] (16, 11, 9, 1677497905000)
2023-02-27 11:48:01,796 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:48:01,999 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)

2023-02-27 11:48:02,001 INFO sqlalchemy.engine.Engine [raw sql] (96, 0, 30, 1677498058000)
2023-02-27 11:48:02,098 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:48:02,291 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:48:02,294 INFO sqlalchemy.engine.Engine [raw sql] (82, 0, 8, 1677497968000)
2023-02-27 11:48:02,391 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:48:02,590 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:48:02,592 INFO sqlalchemy.engine.Engine [raw sql] (76, 7, 31, 1677497899000)
2023-02-27 11:48:02,687 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:48:02,888 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:48:02,891 INFO sqlalchemy.engine.Engine [raw sql] (71, 1, 38, 1677498024000)
2023-02-27 11:48:02,988 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:48:03,200 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:48:03,202 INFO sqlalchemy.engine.Engine [raw sql] (79, 3, 24, 1677498337000)
2023-02-27 11:48:03,297 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:48:03,497 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:48:03,499 INFO sqlalchemy.engine.Engine [raw sql] (69, 37, 2, 1677498307000)
2023-02-27 11:48:03,601 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:48:03,793 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:48:03,795 INFO sqlalchemy.engine.Engine [raw sql] (25, 14, 16, 1677497855000)
2023-02-27 11:48:03,894 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:48:04,089 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:48:04,091 INFO sqlalchemy.engine.Engine [raw sql] (51, 28, 10, 1677497813000)
2023-02-27 11:48:04,186 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:48:04,388 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:48:04,391 INFO sqlalchemy.engine.Engine [raw sql] (37, 12, 18, 1677498061000)
2023-02-27 11:48:04,489 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:48:04,684 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:48:04,687 INFO sqlalchemy.engine.Engine [raw sql] (59, 1, 19, 1677497950000)
2023-02-27 11:48:04,782 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:48:04,976 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:48:04,979 INFO sqlalchemy.engine.Engine [raw sql] (95, 2, 38, 1677497947000)
2023-02-27 11:48:05,074 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:48:05,276 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:48:05,278 INFO sqlalchemy.engine.Engine [raw sql] (94, 5, 35, 1677498005000)
2023-02-27 11:48:05,383 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:48:05,579 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:48:05,582 INFO sqlalchemy.engine.Engine [raw sql] (105, 1, 35, 1677497911000)
2023-02-27 11:48:05,680 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:48:05,882 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:48:05,885 INFO sqlalchemy.engine.Engine [raw sql] (36, 21, 19, 1677498336000)
2023-02-27 11:48:05,984 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:48:06,184 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:48:06,187 INFO sqlalchemy.engine.Engine [raw sql] (93, 0, 40, 1677498132000)
2023-02-27 11:48:06,309 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:48:06,502 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:48:06,504 INFO sqlalchemy.engine.Engine [raw sql] (22, 13, 6, 1677498335000)
2023-02-27 11:48:06,598 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:48:06,880 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:48:06,883 INFO sqlalchemy.engine.Engine [raw sql] (50, 2, 38, 1677498312000)
2023-02-27 11:48:06,977 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:48:07,171 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:48:07,174 INFO sqlalchemy.engine.Engine [raw sql] (110, 0, 40, 1677497952000)
2023-02-27 11:48:07,279 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:48:07,482 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:48:07,484 INFO sqlalchemy.engine.Engine [raw sql] (12, 1, 19, 1677498351000)
2023-02-27 11:48:07,586 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:48:07,795 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:48:07,797 INFO sqlalchemy.engine.Engine [raw sql] (34, 3, 27, 1677497810000)
2023-02-27 11:48:07,893 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:48:08,087 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:48:08,089 INFO sqlalchemy.engine.Engine [raw sql] (78, 0, 40, 1677497943000)
2023-02-27 11:48:08,184 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:48:08,389 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:48:08,392 INFO sqlalchemy.engine.Engine [raw sql] (2, 3, 17, 1677497850000)
2023-02-27 11:48:08,487 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:48:08,683 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:48:08,685 INFO sqlalchemy.engine.Engine [raw sql] (75, 3, 37, 1677498130000)
2023-02-27 11:48:08,797 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:48:09,002 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:48:09,005 INFO sqlalchemy.engine.Engine [raw sql] (507, 1, 0, 1675786128000)
2023-02-27 11:48:09,108 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:48:09,301 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:48:09,304 INFO sqlalchemy.engine.Engine [raw sql] (111, 0, 40, 1677497803000)
2023-02-27 11:48:09,400 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:48:09,595 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:48:09,598 INFO sqlalchemy.engine.Engine [raw sql] (26, 13, 7, 1677497855000)
2023-02-27 11:48:09,692 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:48:09,916 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:48:09,918 INFO sqlalchemy.engine.Engine [raw sql] (65, 34, 6, 1677498259000)
2023-02-27 11:48:10,095 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:48:10,294 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:48:10,296 INFO sqlalchemy.engine.Engine [raw sql] (15, 5, 8, 1677497800000)
2023-02-27 11:48:10,398 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:48:10,640 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:48:10,642 INFO sqlalchemy.engine.Engine [raw sql] (86, 0, 38, 1677498325000)
2023-02-27 11:48:10,741 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:48:10,936 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:48:10,938 INFO sqlalchemy.engine.Engine [raw sql] (35, 15, 14, 1677498085000)
2023-02-27 11:48:11,039 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:48:11,248 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:48:11,250 INFO sqlalchemy.engine.Engine [raw sql] (10, 4, 12, 1677498085000)
2023-02-27 11:48:11,352 INFO sqlalchemy.engine.Engine COMMIT

2023-02-27 11:48:11,557 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:48:11,559 INFO sqlalchemy.engine.Engine [raw sql] (100, 0, 25, 1677497838000)
2023-02-27 11:48:11,665 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:48:11,881 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:48:11,884 INFO sqlalchemy.engine.Engine [raw sql] (24, 11, 9, 1677498306000)
2023-02-27 11:48:11,980 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:48:12,197 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:48:12,200 INFO sqlalchemy.engine.Engine [raw sql] (64, 35, 4, 1677497855000)
2023-02-27 11:48:12,294 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:48:12,518 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:48:12,521 INFO sqlalchemy.engine.Engine [raw sql] (109, 23, 6, 1677498224000)
2023-02-27 11:48:12,616 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:48:12,811 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:48:12,813 INFO sqlalchemy.engine.Engine [raw sql] (85, 6, 29, 1677497794000)
2023-02-27 11:48:12,915 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:48:13,173 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:48:13,175 INFO sqlalchemy.engine.Engine [raw sql] (107, 18, 22, 1677498273000)
2023-02-27 11:48:13,278 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:48:13,496 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:48:13,499 INFO sqlalchemy.engine.Engine [raw sql] (33, 12, 11, 1677498376000)
2023-02-27 11:48:13,612 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:48:13,822 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:48:13,824 INFO sqlalchemy.engine.Engine [raw sql] (44, 1, 29, 1677497975000)
2023-02-27 11:48:13,922 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:48:14,119 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:48:14,122 INFO sqlalchemy.engine.Engine [raw sql] (89, 18, 21, 1677498034000)
2023-02-27 11:48:14,217 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:48:14,433 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:48:14,435 INFO sqlalchemy.engine.Engine [raw sql] (57, 16, 7, 1677498005000)
2023-02-27 11:48:14,532 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:48:14,737 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:48:14,740 INFO sqlalchemy.engine.Engine [raw sql] (80, 17, 23, 1677498197000)
2023-02-27 11:48:14,839 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:48:15,084 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:48:15,086 INFO sqlalchemy.engine.Engine [raw sql] (41, 0, 20, 1677497906000)
2023-02-27 11:48:15,183 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:48:15,385 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:48:15,387 INFO sqlalchemy.engine.Engine [raw sql] (3, 12, 8, 1677498264000)
2023-02-27 11:48:15,483 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:48:15,682 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:48:15,685 INFO sqlalchemy.engine.Engine [raw sql] (40, 4, 17, 1677498060000)
2023-02-27 11:48:15,784 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:48:15,983 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:48:15,985 INFO sqlalchemy.engine.Engine [raw sql] (29, 0, 29, 1677498114000)
2023-02-27 11:48:16,081 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:48:16,338 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:48:16,341 INFO sqlalchemy.engine.Engine [raw sql] (103, 3, 37, 1677498201000)
2023-02-27 11:48:16,436 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:48:16,658 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:48:16,661 INFO sqlalchemy.engine.Engine [raw sql] (28, 18, 12, 1677498371000)
2023-02-27 11:48:16,765 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:48:17,018 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:48:17,020 INFO sqlalchemy.engine.Engine [raw sql] (39, 3, 16, 1677498371000)
2023-02-27 11:48:17,114 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:48:17,343 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:48:17,345 INFO sqlalchemy.engine.Engine [raw sql] (83, 11, 29, 1677497865000)
2023-02-27 11:48:17,442 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:48:17,636 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:48:17,638 INFO sqlalchemy.engine.Engine [raw sql] (92, 2, 38, 1677498103000)
2023-02-27 11:48:17,747 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:48:17,957 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:48:17,960 INFO sqlalchemy.engine.Engine [raw sql] (21, 20, 9, 1677497954000)
2023-02-27 11:48:18,072 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 11:48:18,267 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`availability` values(%s,%s,%s,%s)
2023-02-27 11:48:18,269 INFO sqlalchemy.engine.Engine [raw sql] (88, 17, 13, 1677498241000)
2023-02-27 11:48:18,364 INFO sqlalchemy.engine.Engine COMMIT

In [27]:
# just testing out function works here
stations_to_db(r.text)

<class 'list'> 114
{'number': 42, 'contract_name': 'dublin', 'name': 'SMITHFIELD NORTH', 'address': 'Smithfield North', 'position': {'lat': 53.349562, 'lng': -6.278198}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 16, 'available_bikes': 14, 'status': 'OPEN', 'last_update': 1677498075000}
2023-02-27 11:48:18,604 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:18,606 INFO sqlalchemy.engine.Engine [raw sql] ('Smithfield North', 0, 30, 0, 'dublin', 'SMITHFIELD NORTH', 42, 53.349562, -6.278198, 'OPEN')
2023-02-27 11:48:18,710 INFO sqlalchemy.engine.Engine COMMIT
{'number': 30, 'contract_name': 'dublin', 'name': 'PARNELL SQUARE NORTH', 'address': 'Parnell Square North', 'position': {'lat': 53.3537415547453, 'lng': -6.26530144781526}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 19, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677498385000}
2023-02-27 11:48:18,922 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:18,924 INFO sqlalchemy.engine.Engine [raw sql] ('Parnell Square North', 0, 20, 0, 'dublin', 'PARNELL SQUARE NORTH', 30, 53.3537415547453, -6.26530144781526, 'OPEN')
2023-02-27 11:48:19,021 INFO sqlalchemy.engine.Engine COMMIT
{'number': 54, 'contract_name': 'dublin', 'name': 'CLONMEL STREET', 'address': 'Clonmel Street', 'position': {'lat': 53.336021, 'lng': -6.26298}, 'banking': False, 'bonus': False, 'bike_stands': 33, 'available_bike_stands': 16, 'available_bikes': 17, 'status': 'OPEN', 'last_update': 1677498307000}
2023-02-27 11:48:19,223 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:19,225 INFO sqlalchemy.engine.Engine [raw sql] ('Clonmel Street', 0, 33, 0, 'dublin', 'CLONMEL STREET', 54, 53.336021, -6.26298, 'OPEN')
2023-02-27 11:48:19,332 INFO sqlalchemy.engine.Engine COMMIT
{'number': 108, 'contract_name': 'dublin', 'name': 'AVONDALE ROAD', 'address': 'Avondale Road', 'position': {'lat': 53.359405, 'lng': -6.276142}, 'banking': False, 'bonus': False, 'bike_stands': 35, 'available_bike_stands': 19, 'available_bikes': 16, 'status': 'OPEN', 'last_update': 1677498098000}
2023-02-27 11:48:19,544 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:19,547 INFO sqlalchemy.engine.Engine [raw sql] ('Avondale Road', 0, 35, 0, 'dublin', 'AVONDALE ROAD', 108, 53.359405, -6.276142, 'OPEN')
2023-02-27 11:48:19,643 INFO sqlalchemy.engine.Engine COMMIT
{'number': 20, 'contract_name': 'dublin', 'name': 'JAMES STREET EAST', 'address': 'James Street East', 'position': {'lat': 53.336597, 'lng': -6.248109}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 8, 'available_bikes': 22, 'status': 'OPEN', 'last_update': 1677498259000}
2023-02-27 11:48:19,857 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:19,858 INFO sqlalchemy.engine.Engine [raw sql] ('James Street East', 0, 30, 0, 'dublin', 'JAMES STREET EAST', 20, 53.336597, -6.248109, 'OPEN')
2023-02-27 11:48:19,958 INFO sqlalchemy.engine.Engine COMMIT
{'number': 56, 'contract_name': 'dublin', 'name': 'MOUNT STREET LOWER', 'address': 'Mount Street Lower', 'position': {'lat': 53.33796, 'lng': -6.24153}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 6, 'available_bikes': 33, 'status': 'OPEN', 'last_update': 1677497919000}
2023-02-27 11:48:20,154 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:20,156 INFO sqlalchemy.engine.Engine [raw sql] ('Mount Street Lower', 0, 40, 0, 'dublin', 'MOUNT STREET LOWER', 56, 53.33796, -6.24153, 'OPEN')
2023-02-27 11:48:20,262 INFO sqlalchemy.engine.Engine COMMIT
{'number': 6, 'contract_name': 'dublin', 'name': 'CHRISTCHURCH PLACE', 'address': 'Christchurch Place', 'position': {'lat': 53.343368, 'lng': -6.27012}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 17, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1677498047000}
2023-02-27 11:48:20,481 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:20,484 INFO sqlalchemy.engine.Engine [raw sql] ('Christchurch Place', 0, 20, 0, 'dublin', 'CHRISTCHURCH PLACE', 6, 53.343368, -6.27012, 'OPEN')
2023-02-27 11:48:20,590 INFO sqlalchemy.engine.Engine COMMIT
{'number': 18, 'contract_name': 'dublin', 'name': 'GRANTHAM STREET', 'address': 'Grantham Street', 'position': {'lat': 53.334123, 'lng': -6.265436}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 30, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677498307000}
2023-02-27 11:48:20,830 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:20,832 INFO sqlalchemy.engine.Engine [raw sql] ('Grantham Street', 0, 30, 0, 'dublin', 'GRANTHAM STREET', 18, 53.334123, -6.265436, 'OPEN')
2023-02-27 11:48:20,926 INFO sqlalchemy.engine.Engine COMMIT
{'number': 32, 'contract_name': 'dublin', 'name': 'PEARSE STREET', 'address': 'Pearse Street', 'position': {'lat': 53.344304, 'lng': -6.250427}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 5, 'available_bikes': 22, 'status': 'OPEN', 'last_update': 1677498374000}
2023-02-27 11:48:21,125 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:21,127 INFO sqlalchemy.engine.Engine [raw sql] ('Pearse Street', 0, 30, 0, 'dublin', 'PEARSE STREET', 32, 53.344304, -6.250427, 'OPEN')
2023-02-27 11:48:21,227 INFO sqlalchemy.engine.Engine COMMIT
{'number': 52, 'contract_name': 'dublin', 'name': 'YORK STREET EAST', 'address': 'York Street East', 'position': {'lat': 53.338755, 'lng': -6.262003}, 'banking': False, 'bonus': False, 'bike_stands': 32, 'available_bike_stands': 8, 'available_bikes': 24, 'status': 'OPEN', 'last_update': 1677498025000}
2023-02-27 11:48:21,437 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:21,439 INFO sqlalchemy.engine.Engine [raw sql] ('York Street East', 0, 32, 0, 'dublin', 'YORK STREET EAST', 52, 53.338755, -6.262003, 'OPEN')
2023-02-27 11:48:21,559 INFO sqlalchemy.engine.Engine COMMIT
{'number': 48, 'contract_name': 'dublin', 'name': 'EXCISE WALK', 'address': 'Excise Walk', 'position': {'lat': 53.347777, 'lng': -6.244239}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 16, 'available_bikes': 23, 'status': 'OPEN', 'last_update': 1677498028000}
2023-02-27 11:48:21,771 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:21,773 INFO sqlalchemy.engine.Engine [raw sql] ('Excise Walk', 0, 40, 0, 'dublin', 'EXCISE WALK', 48, 53.347777, -6.244239, 'OPEN')
2023-02-27 11:48:21,887 INFO sqlalchemy.engine.Engine COMMIT
{'number': 13, 'contract_name': 'dublin', 'name': 'FITZWILLIAM SQUARE WEST', 'address': 'Fitzwilliam Square West', 'position': {'lat': 53.336074, 'lng': -6.252825}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 10, 'available_bikes': 20, 'status': 'OPEN', 'last_update': 1677498281000}
2023-02-27 11:48:22,171 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:22,173 INFO sqlalchemy.engine.Engine [raw sql] ('Fitzwilliam Square West', 0, 30, 0, 'dublin', 'FITZWILLIAM SQUARE WEST', 13, 53.336074, -6.252825, 'OPEN')
2023-02-27 11:48:22,270 INFO sqlalchemy.engine.Engine COMMIT
{'number': 43, 'contract_name': 'dublin', 'name': 'PORTOBELLO ROAD', 'address': 'Portobello Road', 'position': {'lat': 53.330091, 'lng': -6.268044}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 29, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677498184000}
2023-02-27 11:48:22,469 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)

2023-02-27 11:48:22,471 INFO sqlalchemy.engine.Engine [raw sql] ('Portobello Road', 0, 30, 0, 'dublin', 'PORTOBELLO ROAD', 43, 53.330091, -6.268044, 'OPEN')
2023-02-27 11:48:22,576 INFO sqlalchemy.engine.Engine COMMIT
{'number': 31, 'contract_name': 'dublin', 'name': 'PARNELL STREET', 'address': 'Parnell Street', 'position': {'lat': 53.350929, 'lng': -6.265125}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 18, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1677498054000}
2023-02-27 11:48:22,774 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:22,776 INFO sqlalchemy.engine.Engine [raw sql] ('Parnell Street', 0, 20, 0, 'dublin', 'PARNELL STREET', 31, 53.350929, -6.265125, 'OPEN')
2023-02-27 11:48:22,871 INFO sqlalchemy.engine.Engine COMMIT
{'number': 98, 'contract_name': 'dublin', 'name': 'FREDERICK STREET SOUTH', 'address': 'Frederick Street South', 'position': {'lat': 53.341515, 'lng': -6.256853}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 7, 'available_bikes': 32, 'status': 'OPEN', 'last_update': 1677497871000}
2023-02-27 11:48:23,070 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:23,073 INFO sqlalchemy.engine.Engine [raw sql] ('Frederick Street South', 0, 40, 0, 'dublin', 'FREDERICK STREET SOUTH', 98, 53.341515, -6.256853, 'OPEN')
2023-02-27 11:48:23,169 INFO sqlalchemy.engine.Engine COMMIT
{'number': 14, 'contract_name': 'dublin', 'name': 'FOWNES STREET UPPER', 'address': 'Fownes Street Upper', 'position': {'lat': 53.344603, 'lng': -6.263371}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 15, 'available_bikes': 15, 'status': 'OPEN', 'last_update': 1677498146000}
2023-02-27 11:48:23,369 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:23,371 INFO sqlalchemy.engine.Engine [raw sql] ('Fownes Street Upper', 0, 30, 0, 'dublin', 'FOWNES STREET UPPER', 14, 53.344603, -6.263371, 'OPEN')
2023-02-27 11:48:23,471 INFO sqlalchemy.engine.Engine COMMIT
{'number': 1, 'contract_name': 'dublin', 'name': 'CLARENDON ROW', 'address': 'Clarendon Row', 'position': {'lat': 53.340927, 'lng': -6.262501}, 'banking': False, 'bonus': False, 'bike_stands': 31, 'available_bike_stands': 9, 'available_bikes': 22, 'status': 'OPEN', 'last_update': 1677498341000}
2023-02-27 11:48:23,685 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:23,687 INFO sqlalchemy.engine.Engine [raw sql] ('Clarendon Row', 0, 31, 0, 'dublin', 'CLARENDON ROW', 1, 53.340927, -6.262501, 'OPEN')
2023-02-27 11:48:23,785 INFO sqlalchemy.engine.Engine COMMIT
{'number': 23, 'contract_name': 'dublin', 'name': 'CUSTOM HOUSE', 'address': 'Custom House', 'position': {'lat': 53.348279, 'lng': -6.254662}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 3, 'available_bikes': 25, 'status': 'OPEN', 'last_update': 1677497797000}
2023-02-27 11:48:23,983 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:23,986 INFO sqlalchemy.engine.Engine [raw sql] ('Custom House', 0, 30, 0, 'dublin', 'CUSTOM HOUSE', 23, 53.348279, -6.254662, 'OPEN')
2023-02-27 11:48:24,082 INFO sqlalchemy.engine.Engine COMMIT
{'number': 106, 'contract_name': 'dublin', 'name': 'RATHDOWN ROAD', 'address': 'Rathdown Road', 'position': {'lat': 53.35893, 'lng': -6.280337}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 34, 'available_bikes': 6, 'status': 'OPEN', 'last_update': 1677498380000}
2023-02-27 11:48:24,288 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:24,290 INFO sqlalchemy.engine.Engine [raw sql] ('Rathdown Road', 0, 40, 0, 'dublin', 'RATHDOWN ROAD', 106, 53.35893, -6.280337, 'OPEN')
2023-02-27 11:48:24,403 INFO sqlalchemy.engine.Engine COMMIT
{'number': 112, 'contract_name': 'dublin', 'name': "NORTH CIRCULAR ROAD (O'CONNELL'S)", 'address': "North Circular Road (O'Connell's)", 'position': {'lat': 53.357841, 'lng': -6.251557}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 30, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677498314000}
2023-02-27 11:48:24,616 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:24,618 INFO sqlalchemy.engine.Engine [raw sql] ("North Circular Road (O'Connell's)", 0, 30, 0, 'dublin', "NORTH CIRCULAR ROAD (O'CONNELL'S)", 112, 53.357841, -6.251557, 'OPEN')
2023-02-27 11:48:24,716 INFO sqlalchemy.engine.Engine COMMIT
{'number': 68, 'contract_name': 'dublin', 'name': 'HANOVER QUAY', 'address': 'Hanover Quay', 'position': {'lat': 53.344115, 'lng': -6.237153}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 27, 'available_bikes': 13, 'status': 'OPEN', 'last_update': 1677498316000}
2023-02-27 11:48:24,916 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:24,918 INFO sqlalchemy.engine.Engine [raw sql] ('Hanover Quay', 0, 40, 0, 'dublin', 'HANOVER QUAY', 68, 53.344115, -6.237153, 'OPEN')
2023-02-27 11:48:25,086 INFO sqlalchemy.engine.Engine COMMIT
{'number': 74, 'contract_name': 'dublin', 'name': 'OLIVER BOND STREET', 'address': 'Oliver Bond Street', 'position': {'lat': 53.343893, 'lng': -6.280531}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 29, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677498255000}
2023-02-27 11:48:25,285 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:25,286 INFO sqlalchemy.engine.Engine [raw sql] ('Oliver Bond Street', 0, 30, 0, 'dublin', 'OLIVER BOND STREET', 74, 53.343893, -6.280531, 'OPEN')
2023-02-27 11:48:25,383 INFO sqlalchemy.engine.Engine COMMIT
{'number': 87, 'contract_name': 'dublin', 'name': 'COLLINS BARRACKS MUSEUM', 'address': 'Collins Barracks Museum', 'position': {'lat': 53.347477, 'lng': -6.28525}, 'banking': False, 'bonus': False, 'bike_stands': 38, 'available_bike_stands': 36, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1677498283000}
2023-02-27 11:48:25,599 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:25,602 INFO sqlalchemy.engine.Engine [raw sql] ('Collins Barracks Museum', 0, 38, 0, 'dublin', 'COLLINS BARRACKS MUSEUM', 87, 53.347477, -6.28525, 'OPEN')
2023-02-27 11:48:25,704 INFO sqlalchemy.engine.Engine COMMIT
{'number': 84, 'contract_name': 'dublin', 'name': 'BROOKFIELD ROAD', 'address': 'Brookfield Road', 'position': {'lat': 53.339005, 'lng': -6.300217}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 30, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677498135000}
2023-02-27 11:48:25,904 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:25,907 INFO sqlalchemy.engine.Engine [raw sql] ('Brookfield Road', 0, 30, 0, 'dublin', 'BROOKFIELD ROAD', 84, 53.339005, -6.300217, 'OPEN')
2023-02-27 11:48:26,013 INFO sqlalchemy.engine.Engine COMMIT
{'number': 90, 'contract_name': 'dublin', 'name': 'BENSON STREET', 'address': 'Benson Street', 'position': {'lat': 53.344153, 'lng': -6.233451}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 15, 'available_bikes': 25, 'status': 'OPEN', 'last_update': 1677498046000}
2023-02-27 11:48:26,227 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:26,229 INFO sqlalchemy.engine.Engine [raw sql] ('Benson Street', 0, 40, 0, 'dublin', 'BENSON STREET', 90, 53.344153, -6.233451, 'OPEN')
2023-02-27 11:48:26,350 INFO sqlalchemy.engine.Engine COMMIT
{'number': 11, 'contract_name': 'dublin', 'name': 'EARLSFORT TERRACE', 'address': 'Earlsfort Terrace', 'position': {'lat': 53.334295, 'lng': -6.258503}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 17, 'available_bikes': 13, 'status': 'OPEN', 'last_update': 1677497948000}
2023-02-27 11:48:26,569 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)

2023-02-27 11:48:26,572 INFO sqlalchemy.engine.Engine [raw sql] ('Earlsfort Terrace', 0, 30, 0, 'dublin', 'EARLSFORT TERRACE', 11, 53.334295, -6.258503, 'OPEN')
2023-02-27 11:48:26,674 INFO sqlalchemy.engine.Engine COMMIT
{'number': 17, 'contract_name': 'dublin', 'name': 'GOLDEN LANE', 'address': 'Golden Lane', 'position': {'lat': 53.340803, 'lng': -6.267732}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 14, 'available_bikes': 6, 'status': 'OPEN', 'last_update': 1677498338000}
2023-02-27 11:48:26,893 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:26,895 INFO sqlalchemy.engine.Engine [raw sql] ('Golden Lane', 0, 20, 0, 'dublin', 'GOLDEN LANE', 17, 53.340803, -6.267732, 'OPEN')
2023-02-27 11:48:26,998 INFO sqlalchemy.engine.Engine COMMIT
{'number': 45, 'contract_name': 'dublin', 'name': 'DEVERELL PLACE', 'address': 'Deverell Place', 'position': {'lat': 53.351464, 'lng': -6.255265}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 21, 'available_bikes': 9, 'status': 'OPEN', 'last_update': 1677498165000}
2023-02-27 11:48:27,210 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:27,212 INFO sqlalchemy.engine.Engine [raw sql] ('Deverell Place', 0, 30, 0, 'dublin', 'DEVERELL PLACE', 45, 53.351464, -6.255265, 'OPEN')
2023-02-27 11:48:27,310 INFO sqlalchemy.engine.Engine COMMIT
{'number': 114, 'contract_name': 'dublin', 'name': 'WILTON TERRACE (PARK)', 'address': 'Wilton Terrace (Park)', 'position': {'lat': 53.333653, 'lng': -6.248345}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 2, 'available_bikes': 38, 'status': 'OPEN', 'last_update': 1677497846000}
2023-02-27 11:48:27,553 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:27,555 INFO sqlalchemy.engine.Engine [raw sql] ('Wilton Terrace (Park)', 0, 40, 0, 'dublin', 'WILTON TERRACE (PARK)', 114, 53.333653, -6.248345, 'OPEN')
2023-02-27 11:48:27,651 INFO sqlalchemy.engine.Engine COMMIT
{'number': 72, 'contract_name': 'dublin', 'name': 'JOHN STREET WEST', 'address': 'John Street West', 'position': {'lat': 53.343105, 'lng': -6.277167}, 'banking': False, 'bonus': False, 'bike_stands': 31, 'available_bike_stands': 31, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677498206000}
2023-02-27 11:48:27,882 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:27,883 INFO sqlalchemy.engine.Engine [raw sql] ('John Street West', 0, 31, 0, 'dublin', 'JOHN STREET WEST', 72, 53.343105, -6.277167, 'OPEN')
2023-02-27 11:48:27,983 INFO sqlalchemy.engine.Engine COMMIT
{'number': 63, 'contract_name': 'dublin', 'name': 'FENIAN STREET', 'address': 'Fenian Street', 'position': {'lat': 53.341428, 'lng': -6.24672}, 'banking': False, 'bonus': False, 'bike_stands': 35, 'available_bike_stands': 11, 'available_bikes': 24, 'status': 'OPEN', 'last_update': 1677498182000}
2023-02-27 11:48:28,199 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:28,200 INFO sqlalchemy.engine.Engine [raw sql] ('Fenian Street', 0, 35, 0, 'dublin', 'FENIAN STREET', 63, 53.341428, -6.24672, 'OPEN')
2023-02-27 11:48:28,293 INFO sqlalchemy.engine.Engine COMMIT
{'number': 113, 'contract_name': 'dublin', 'name': 'MERRION SQUARE SOUTH', 'address': 'Merrion Square South', 'position': {'lat': 53.338614, 'lng': -6.248606}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 18, 'available_bikes': 22, 'status': 'OPEN', 'last_update': 1677497854000}
2023-02-27 11:48:28,489 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:28,491 INFO sqlalchemy.engine.Engine [raw sql] ('Merrion Square South', 0, 40, 0, 'dublin', 'MERRION SQUARE SOUTH', 113, 53.338614, -6.248606, 'OPEN')
2023-02-27 11:48:28,585 INFO sqlalchemy.engine.Engine COMMIT
{'number': 91, 'contract_name': 'dublin', 'name': 'SOUTH DOCK ROAD', 'address': 'South Dock Road', 'position': {'lat': 53.341833, 'lng': -6.231291}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 16, 'available_bikes': 13, 'status': 'OPEN', 'last_update': 1677498130000}
2023-02-27 11:48:28,780 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:28,782 INFO sqlalchemy.engine.Engine [raw sql] ('South Dock Road', 0, 30, 0, 'dublin', 'SOUTH DOCK ROAD', 91, 53.341833, -6.231291, 'OPEN')
2023-02-27 11:48:28,877 INFO sqlalchemy.engine.Engine COMMIT
{'number': 99, 'contract_name': 'dublin', 'name': 'CITY QUAY', 'address': 'City Quay', 'position': {'lat': 53.346637, 'lng': -6.246154}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 3, 'available_bikes': 26, 'status': 'OPEN', 'last_update': 1677497939000}
2023-02-27 11:48:29,083 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:29,085 INFO sqlalchemy.engine.Engine [raw sql] ('City Quay', 0, 30, 0, 'dublin', 'CITY QUAY', 99, 53.346637, -6.246154, 'OPEN')
2023-02-27 11:48:29,181 INFO sqlalchemy.engine.Engine COMMIT
{'number': 9, 'contract_name': 'dublin', 'name': 'EXCHEQUER STREET', 'address': 'Exchequer Street', 'position': {'lat': 53.343034, 'lng': -6.263578}, 'banking': False, 'bonus': False, 'bike_stands': 24, 'available_bike_stands': 3, 'available_bikes': 21, 'status': 'OPEN', 'last_update': 1677498119000}
2023-02-27 11:48:29,386 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:29,388 INFO sqlalchemy.engine.Engine [raw sql] ('Exchequer Street', 0, 24, 0, 'dublin', 'EXCHEQUER STREET', 9, 53.343034, -6.263578, 'OPEN')
2023-02-27 11:48:29,485 INFO sqlalchemy.engine.Engine COMMIT
{'number': 67, 'contract_name': 'dublin', 'name': 'THE POINT', 'address': 'The Point', 'position': {'lat': 53.346867, 'lng': -6.230852}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 39, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677497822000}
2023-02-27 11:48:29,683 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:29,685 INFO sqlalchemy.engine.Engine [raw sql] ('The Point', 0, 40, 0, 'dublin', 'THE POINT', 67, 53.346867, -6.230852, 'OPEN')
2023-02-27 11:48:29,787 INFO sqlalchemy.engine.Engine COMMIT
{'number': 116, 'contract_name': 'dublin', 'name': 'BROADSTONE', 'address': 'Broadstone', 'position': {'lat': 53.3547, 'lng': -6.272314}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 30, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677497798000}
2023-02-27 11:48:30,005 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:30,008 INFO sqlalchemy.engine.Engine [raw sql] ('Broadstone', 0, 30, 0, 'dublin', 'BROADSTONE', 116, 53.3547, -6.272314, 'OPEN')
2023-02-27 11:48:30,106 INFO sqlalchemy.engine.Engine COMMIT
{'number': 55, 'contract_name': 'dublin', 'name': 'HATCH STREET', 'address': 'Hatch Street', 'position': {'lat': 53.33403, 'lng': -6.260714}, 'banking': False, 'bonus': False, 'bike_stands': 36, 'available_bike_stands': 21, 'available_bikes': 15, 'status': 'OPEN', 'last_update': 1677498071000}
2023-02-27 11:48:30,311 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:30,313 INFO sqlalchemy.engine.Engine [raw sql] ('Hatch Street', 0, 36, 0, 'dublin', 'HATCH STREET', 55, 53.33403, -6.260714, 'OPEN')
2023-02-27 11:48:30,411 INFO sqlalchemy.engine.Engine COMMIT
{'number': 62, 'contract_name': 'dublin', 'name': 'LIME STREET', 'address': 'Lime Street', 'position': {'lat': 53.346026, 'lng': -6.243576}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 14, 'available_bikes': 26, 'status': 'OPEN', 'last_update': 1677498307000}
2023-02-27 11:48:30,630 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)

2023-02-27 11:48:30,632 INFO sqlalchemy.engine.Engine [raw sql] ('Lime Street', 0, 40, 0, 'dublin', 'LIME STREET', 62, 53.346026, -6.243576, 'OPEN')
2023-02-27 11:48:30,728 INFO sqlalchemy.engine.Engine COMMIT
{'number': 5, 'contract_name': 'dublin', 'name': 'CHARLEMONT PLACE', 'address': 'Charlemont Street', 'position': {'lat': 53.330662, 'lng': -6.260177}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 35, 'available_bikes': 5, 'status': 'OPEN', 'last_update': 1677498058000}
2023-02-27 11:48:30,941 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:30,943 INFO sqlalchemy.engine.Engine [raw sql] ('Charlemont Street', 0, 40, 0, 'dublin', 'CHARLEMONT PLACE', 5, 53.330662, -6.260177, 'OPEN')
2023-02-27 11:48:31,044 INFO sqlalchemy.engine.Engine COMMIT
{'number': 97, 'contract_name': 'dublin', 'name': 'KILMAINHAM GAOL', 'address': 'Kilmainham Gaol', 'position': {'lat': 53.342113, 'lng': -6.310015}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 28, 'available_bikes': 12, 'status': 'OPEN', 'last_update': 1677498215000}
2023-02-27 11:48:31,236 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:31,238 INFO sqlalchemy.engine.Engine [raw sql] ('Kilmainham Gaol', 0, 40, 0, 'dublin', 'KILMAINHAM GAOL', 97, 53.342113, -6.310015, 'OPEN')
2023-02-27 11:48:31,331 INFO sqlalchemy.engine.Engine COMMIT
{'number': 61, 'contract_name': 'dublin', 'name': 'HARDWICKE PLACE', 'address': 'Hardwicke Place', 'position': {'lat': 53.357043, 'lng': -6.263232}, 'banking': False, 'bonus': False, 'bike_stands': 25, 'available_bike_stands': 20, 'available_bikes': 5, 'status': 'OPEN', 'last_update': 1677498164000}
2023-02-27 11:48:31,591 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:31,594 INFO sqlalchemy.engine.Engine [raw sql] ('Hardwicke Place', 0, 25, 0, 'dublin', 'HARDWICKE PLACE', 61, 53.357043, -6.263232, 'OPEN')
2023-02-27 11:48:31,701 INFO sqlalchemy.engine.Engine COMMIT
{'number': 77, 'contract_name': 'dublin', 'name': 'WOLFE TONE STREET', 'address': 'Wolfe Tone Street', 'position': {'lat': 53.348875, 'lng': -6.267459}, 'banking': False, 'bonus': False, 'bike_stands': 29, 'available_bike_stands': 2, 'available_bikes': 27, 'status': 'OPEN', 'last_update': 1677497930000}
2023-02-27 11:48:31,932 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:31,934 INFO sqlalchemy.engine.Engine [raw sql] ('Wolfe Tone Street', 0, 29, 0, 'dublin', 'WOLFE TONE STREET', 77, 53.348875, -6.267459, 'OPEN')
2023-02-27 11:48:32,049 INFO sqlalchemy.engine.Engine COMMIT
{'number': 4, 'contract_name': 'dublin', 'name': 'GREEK STREET', 'address': 'Greek Street', 'position': {'lat': 53.346874, 'lng': -6.272976}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 5, 'available_bikes': 15, 'status': 'OPEN', 'last_update': 1677498184000}
2023-02-27 11:48:32,325 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:32,327 INFO sqlalchemy.engine.Engine [raw sql] ('Greek Street', 0, 20, 0, 'dublin', 'GREEK STREET', 4, 53.346874, -6.272976, 'OPEN')
2023-02-27 11:48:32,423 INFO sqlalchemy.engine.Engine COMMIT
{'number': 49, 'contract_name': 'dublin', 'name': 'GUILD STREET', 'address': 'Guild Street', 'position': {'lat': 53.347932, 'lng': -6.240928}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 30, 'available_bikes': 10, 'status': 'OPEN', 'last_update': 1677498015000}
2023-02-27 11:48:32,730 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:32,732 INFO sqlalchemy.engine.Engine [raw sql] ('Guild Street', 0, 40, 0, 'dublin', 'GUILD STREET', 49, 53.347932, -6.240928, 'OPEN')
2023-02-27 11:48:32,841 INFO sqlalchemy.engine.Engine COMMIT
{'number': 19, 'contract_name': 'dublin', 'name': 'HERBERT PLACE', 'address': 'Herbert Place', 'position': {'lat': 53.334432, 'lng': -6.245575}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 5, 'available_bikes': 23, 'status': 'OPEN', 'last_update': 1677498264000}
2023-02-27 11:48:33,375 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:33,378 INFO sqlalchemy.engine.Engine [raw sql] ('Herbert Place', 0, 30, 0, 'dublin', 'HERBERT PLACE', 19, 53.334432, -6.245575, 'OPEN')
2023-02-27 11:48:33,479 INFO sqlalchemy.engine.Engine COMMIT
{'number': 7, 'contract_name': 'dublin', 'name': 'HIGH STREET', 'address': 'High Street', 'position': {'lat': 53.343565, 'lng': -6.275071}, 'banking': False, 'bonus': False, 'bike_stands': 29, 'available_bike_stands': 28, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677498059000}
2023-02-27 11:48:33,769 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:33,771 INFO sqlalchemy.engine.Engine [raw sql] ('High Street', 0, 29, 0, 'dublin', 'HIGH STREET', 7, 53.343565, -6.275071, 'OPEN')
2023-02-27 11:48:33,955 INFO sqlalchemy.engine.Engine COMMIT
{'number': 60, 'contract_name': 'dublin', 'name': 'NORTH CIRCULAR ROAD', 'address': 'North Circular Road', 'position': {'lat': 53.359624, 'lng': -6.260348}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 20, 'available_bikes': 10, 'status': 'OPEN', 'last_update': 1677498043000}
2023-02-27 11:48:34,236 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:34,239 INFO sqlalchemy.engine.Engine [raw sql] ('North Circular Road', 0, 30, 0, 'dublin', 'NORTH CIRCULAR ROAD', 60, 53.359624, -6.260348, 'OPEN')
2023-02-27 11:48:34,338 INFO sqlalchemy.engine.Engine COMMIT
{'number': 102, 'contract_name': 'dublin', 'name': 'WESTERN WAY', 'address': 'Western Way', 'position': {'lat': 53.354929, 'lng': -6.269425}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 39, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677498183000}
2023-02-27 11:48:34,609 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:34,611 INFO sqlalchemy.engine.Engine [raw sql] ('Western Way', 0, 40, 0, 'dublin', 'WESTERN WAY', 102, 53.354929, -6.269425, 'OPEN')
2023-02-27 11:48:34,705 INFO sqlalchemy.engine.Engine COMMIT
{'number': 38, 'contract_name': 'dublin', 'name': 'TALBOT STREET', 'address': 'Talbot Street', 'position': {'lat': 53.350974, 'lng': -6.25294}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 7, 'available_bikes': 33, 'status': 'OPEN', 'last_update': 1677498087000}
2023-02-27 11:48:34,909 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:34,910 INFO sqlalchemy.engine.Engine [raw sql] ('Talbot Street', 0, 40, 0, 'dublin', 'TALBOT STREET', 38, 53.350974, -6.25294, 'OPEN')
2023-02-27 11:48:35,003 INFO sqlalchemy.engine.Engine COMMIT
{'number': 53, 'contract_name': 'dublin', 'name': 'NEWMAN HOUSE', 'address': 'Newman House', 'position': {'lat': 53.337132, 'lng': -6.26059}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 23, 'available_bikes': 16, 'status': 'OPEN', 'last_update': 1677498029000}
2023-02-27 11:48:35,289 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:35,291 INFO sqlalchemy.engine.Engine [raw sql] ('Newman House', 0, 40, 0, 'dublin', 'NEWMAN HOUSE', 53, 53.337132, -6.26059, 'OPEN')
2023-02-27 11:48:35,395 INFO sqlalchemy.engine.Engine COMMIT
{'number': 58, 'contract_name': 'dublin', 'name': "SIR PATRICK DUN'S", 'address': "Sir Patrick's Dun", 'position': {'lat': 53.339218, 'lng': -6.240642}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 8, 'available_bikes': 29, 'status': 'OPEN', 'last_update': 1677498216000}
2023-02-27 11:48:35,602 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)

2023-02-27 11:48:35,604 INFO sqlalchemy.engine.Engine [raw sql] ("Sir Patrick's Dun", 0, 40, 0, 'dublin', "SIR PATRICK DUN'S", 58, 53.339218, -6.240642, 'OPEN')
2023-02-27 11:48:35,701 INFO sqlalchemy.engine.Engine COMMIT
{'number': 66, 'contract_name': 'dublin', 'name': 'NEW CENTRAL BANK', 'address': 'New Central Bank', 'position': {'lat': 53.347122, 'lng': -6.234749}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 15, 'available_bikes': 25, 'status': 'OPEN', 'last_update': 1677498381000}
2023-02-27 11:48:35,901 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:35,902 INFO sqlalchemy.engine.Engine [raw sql] ('New Central Bank', 0, 40, 0, 'dublin', 'NEW CENTRAL BANK', 66, 53.347122, -6.234749, 'OPEN')
2023-02-27 11:48:36,024 INFO sqlalchemy.engine.Engine COMMIT
{'number': 104, 'contract_name': 'dublin', 'name': 'GRANGEGORMAN LOWER (CENTRAL)', 'address': 'Grangegorman Lower (Central)', 'position': {'lat': 53.355173, 'lng': -6.278424}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 40, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677498339000}
2023-02-27 11:48:36,300 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:36,302 INFO sqlalchemy.engine.Engine [raw sql] ('Grangegorman Lower (Central)', 0, 40, 0, 'dublin', 'GRANGEGORMAN LOWER (CENTRAL)', 104, 53.355173, -6.278424, 'OPEN')
2023-02-27 11:48:36,415 INFO sqlalchemy.engine.Engine COMMIT
{'number': 101, 'contract_name': 'dublin', 'name': 'KING STREET NORTH', 'address': 'King Street North', 'position': {'lat': 53.350291, 'lng': -6.273507}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 23, 'available_bikes': 7, 'status': 'OPEN', 'last_update': 1677498180000}
2023-02-27 11:48:36,630 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:36,633 INFO sqlalchemy.engine.Engine [raw sql] ('King Street North', 0, 30, 0, 'dublin', 'KING STREET NORTH', 101, 53.350291, -6.273507, 'OPEN')
2023-02-27 11:48:36,736 INFO sqlalchemy.engine.Engine COMMIT
{'number': 115, 'contract_name': 'dublin', 'name': 'KILLARNEY STREET', 'address': 'Killarney Street', 'position': {'lat': 53.354845, 'lng': -6.247579}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 29, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677498167000}
2023-02-27 11:48:36,930 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:36,932 INFO sqlalchemy.engine.Engine [raw sql] ('Killarney Street', 0, 30, 0, 'dublin', 'KILLARNEY STREET', 115, 53.354845, -6.247579, 'OPEN')
2023-02-27 11:48:37,032 INFO sqlalchemy.engine.Engine COMMIT
{'number': 47, 'contract_name': 'dublin', 'name': 'HERBERT STREET', 'address': 'Herbert Street', 'position': {'lat': 53.335742, 'lng': -6.24551}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 26, 'available_bikes': 14, 'status': 'OPEN', 'last_update': 1677497951000}
2023-02-27 11:48:37,255 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:37,257 INFO sqlalchemy.engine.Engine [raw sql] ('Herbert Street', 0, 40, 0, 'dublin', 'HERBERT STREET', 47, 53.335742, -6.24551, 'OPEN')
2023-02-27 11:48:37,367 INFO sqlalchemy.engine.Engine COMMIT
{'number': 117, 'contract_name': 'dublin', 'name': 'HANOVER QUAY EAST', 'address': 'Hanover Quay East', 'position': {'lat': 53.343653, 'lng': -6.231755}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 19, 'available_bikes': 21, 'status': 'OPEN', 'last_update': 1677497921000}
2023-02-27 11:48:37,577 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:37,578 INFO sqlalchemy.engine.Engine [raw sql] ('Hanover Quay East', 0, 40, 0, 'dublin', 'HANOVER QUAY EAST', 117, 53.343653, -6.231755, 'OPEN')
2023-02-27 11:48:37,685 INFO sqlalchemy.engine.Engine COMMIT
{'number': 8, 'contract_name': 'dublin', 'name': 'CUSTOM HOUSE QUAY', 'address': 'Custom House Quay', 'position': {'lat': 53.347884, 'lng': -6.248048}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 18, 'available_bikes': 11, 'status': 'OPEN', 'last_update': 1677498123000}
2023-02-27 11:48:37,904 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:37,906 INFO sqlalchemy.engine.Engine [raw sql] ('Custom House Quay', 0, 30, 0, 'dublin', 'CUSTOM HOUSE QUAY', 8, 53.347884, -6.248048, 'OPEN')
2023-02-27 11:48:38,000 INFO sqlalchemy.engine.Engine COMMIT
{'number': 27, 'contract_name': 'dublin', 'name': 'MOLESWORTH STREET', 'address': 'Molesworth Street', 'position': {'lat': 53.341288, 'lng': -6.258117}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 1, 'available_bikes': 19, 'status': 'OPEN', 'last_update': 1677498338000}
2023-02-27 11:48:38,210 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:38,211 INFO sqlalchemy.engine.Engine [raw sql] ('Molesworth Street', 0, 20, 0, 'dublin', 'MOLESWORTH STREET', 27, 53.341288, -6.258117, 'OPEN')
2023-02-27 11:48:38,438 INFO sqlalchemy.engine.Engine COMMIT
{'number': 16, 'contract_name': 'dublin', 'name': 'GEORGES QUAY', 'address': 'Georges Quay', 'position': {'lat': 53.347508, 'lng': -6.252192}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 9, 'available_bikes': 11, 'status': 'OPEN', 'last_update': 1677497905000}
2023-02-27 11:48:38,679 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:38,681 INFO sqlalchemy.engine.Engine [raw sql] ('Georges Quay', 0, 20, 0, 'dublin', 'GEORGES QUAY', 16, 53.347508, -6.252192, 'OPEN')
2023-02-27 11:48:38,797 INFO sqlalchemy.engine.Engine COMMIT
{'number': 96, 'contract_name': 'dublin', 'name': 'KILMAINHAM LANE', 'address': 'Kilmainham Lane', 'position': {'lat': 53.341805, 'lng': -6.305085}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 30, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677498058000}
2023-02-27 11:48:39,009 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:39,011 INFO sqlalchemy.engine.Engine [raw sql] ('Kilmainham Lane', 0, 30, 0, 'dublin', 'KILMAINHAM LANE', 96, 53.341805, -6.305085, 'OPEN')
2023-02-27 11:48:39,107 INFO sqlalchemy.engine.Engine COMMIT
{'number': 82, 'contract_name': 'dublin', 'name': 'MOUNT BROWN', 'address': 'Mount Brown', 'position': {'lat': 53.341645, 'lng': -6.29719}, 'banking': False, 'bonus': False, 'bike_stands': 22, 'available_bike_stands': 8, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677497968000}
2023-02-27 11:48:39,355 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:39,359 INFO sqlalchemy.engine.Engine [raw sql] ('Mount Brown', 0, 22, 0, 'dublin', 'MOUNT BROWN', 82, 53.341645, -6.29719, 'OPEN')
2023-02-27 11:48:39,479 INFO sqlalchemy.engine.Engine COMMIT
{'number': 76, 'contract_name': 'dublin', 'name': 'MARKET STREET SOUTH', 'address': 'Market Street South', 'position': {'lat': 53.342296, 'lng': -6.287661}, 'banking': False, 'bonus': False, 'bike_stands': 38, 'available_bike_stands': 31, 'available_bikes': 7, 'status': 'OPEN', 'last_update': 1677497899000}
2023-02-27 11:48:39,730 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:39,733 INFO sqlalchemy.engine.Engine [raw sql] ('Market Street South', 0, 38, 0, 'dublin', 'MARKET STREET SOUTH', 76, 53.342296, -6.287661, 'OPEN')
2023-02-27 11:48:39,850 INFO sqlalchemy.engine.Engine COMMIT
{'number': 71, 'contract_name': 'dublin', 'name': 'KEVIN STREET', 'address': 'Kevin Street', 'position': {'lat': 53.337757, 'lng': -6.267699}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 38, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677498024000}
2023-02-27 11:48:40,056 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)

2023-02-27 11:48:40,060 INFO sqlalchemy.engine.Engine [raw sql] ('Kevin Street', 0, 40, 0, 'dublin', 'KEVIN STREET', 71, 53.337757, -6.267699, 'OPEN')
2023-02-27 11:48:40,155 INFO sqlalchemy.engine.Engine COMMIT
{'number': 79, 'contract_name': 'dublin', 'name': 'ECCLES STREET EAST', 'address': 'Eccles Street East', 'position': {'lat': 53.358115, 'lng': -6.265601}, 'banking': False, 'bonus': False, 'bike_stands': 27, 'available_bike_stands': 24, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1677498337000}
2023-02-27 11:48:40,428 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:40,429 INFO sqlalchemy.engine.Engine [raw sql] ('Eccles Street East', 0, 27, 0, 'dublin', 'ECCLES STREET EAST', 79, 53.358115, -6.265601, 'OPEN')
2023-02-27 11:48:40,529 INFO sqlalchemy.engine.Engine COMMIT
{'number': 69, 'contract_name': 'dublin', 'name': 'GRAND CANAL DOCK', 'address': 'Grand Canal Dock', 'position': {'lat': 53.342638, 'lng': -6.238695}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 2, 'available_bikes': 37, 'status': 'OPEN', 'last_update': 1677498307000}
2023-02-27 11:48:40,744 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:40,747 INFO sqlalchemy.engine.Engine [raw sql] ('Grand Canal Dock', 0, 40, 0, 'dublin', 'GRAND CANAL DOCK', 69, 53.342638, -6.238695, 'OPEN')
2023-02-27 11:48:40,842 INFO sqlalchemy.engine.Engine COMMIT
{'number': 25, 'contract_name': 'dublin', 'name': 'MERRION SQUARE EAST', 'address': 'Merrion Square East', 'position': {'lat': 53.339434, 'lng': -6.246548}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 16, 'available_bikes': 14, 'status': 'OPEN', 'last_update': 1677497855000}
2023-02-27 11:48:41,093 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:41,095 INFO sqlalchemy.engine.Engine [raw sql] ('Merrion Square East', 0, 30, 0, 'dublin', 'MERRION SQUARE EAST', 25, 53.339434, -6.246548, 'OPEN')
2023-02-27 11:48:41,189 INFO sqlalchemy.engine.Engine COMMIT
{'number': 51, 'contract_name': 'dublin', 'name': 'YORK STREET WEST', 'address': 'York Street West', 'position': {'lat': 53.339334, 'lng': -6.264699}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 10, 'available_bikes': 28, 'status': 'OPEN', 'last_update': 1677497813000}
2023-02-27 11:48:41,481 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:41,483 INFO sqlalchemy.engine.Engine [raw sql] ('York Street West', 0, 40, 0, 'dublin', 'YORK STREET WEST', 51, 53.339334, -6.264699, 'OPEN')
2023-02-27 11:48:41,759 INFO sqlalchemy.engine.Engine COMMIT
{'number': 37, 'contract_name': 'dublin', 'name': "ST. STEPHEN'S GREEN SOUTH", 'address': "St. Stephen's Green South", 'position': {'lat': 53.337494, 'lng': -6.26199}, 'banking': True, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 18, 'available_bikes': 12, 'status': 'OPEN', 'last_update': 1677498061000}
2023-02-27 11:48:41,996 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:41,998 INFO sqlalchemy.engine.Engine [raw sql] ("St. Stephen's Green South", 1, 30, 0, 'dublin', "ST. STEPHEN'S GREEN SOUTH", 37, 53.337494, -6.26199, 'OPEN')
2023-02-27 11:48:42,122 INFO sqlalchemy.engine.Engine COMMIT
{'number': 59, 'contract_name': 'dublin', 'name': 'DENMARK STREET GREAT', 'address': 'Denmark Street Great', 'position': {'lat': 53.35561, 'lng': -6.261397}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 19, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677497950000}
2023-02-27 11:48:42,542 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:42,547 INFO sqlalchemy.engine.Engine [raw sql] ('Denmark Street Great', 0, 20, 0, 'dublin', 'DENMARK STREET GREAT', 59, 53.35561, -6.261397, 'OPEN')
2023-02-27 11:48:42,654 INFO sqlalchemy.engine.Engine COMMIT
{'number': 95, 'contract_name': 'dublin', 'name': 'ROYAL HOSPITAL', 'address': 'Royal Hospital', 'position': {'lat': 53.343897, 'lng': -6.29706}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 38, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1677497947000}
2023-02-27 11:48:42,921 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:42,922 INFO sqlalchemy.engine.Engine [raw sql] ('Royal Hospital', 0, 40, 0, 'dublin', 'ROYAL HOSPITAL', 95, 53.343897, -6.29706, 'OPEN')
2023-02-27 11:48:43,045 INFO sqlalchemy.engine.Engine COMMIT
{'number': 94, 'contract_name': 'dublin', 'name': 'HEUSTON STATION (CAR PARK)', 'address': 'Heuston Station (Car Park)', 'position': {'lat': 53.346985, 'lng': -6.297804}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 35, 'available_bikes': 5, 'status': 'OPEN', 'last_update': 1677498005000}
2023-02-27 11:48:43,456 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:43,458 INFO sqlalchemy.engine.Engine [raw sql] ('Heuston Station (Car Park)', 0, 40, 0, 'dublin', 'HEUSTON STATION (CAR PARK)', 94, 53.346985, -6.297804, 'OPEN')
2023-02-27 11:48:43,846 INFO sqlalchemy.engine.Engine COMMIT
{'number': 105, 'contract_name': 'dublin', 'name': 'GRANGEGORMAN LOWER (NORTH)', 'address': 'Grangegorman Lower (North)', 'position': {'lat': 53.355954, 'lng': -6.278378}, 'banking': False, 'bonus': False, 'bike_stands': 36, 'available_bike_stands': 35, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677497911000}
2023-02-27 11:48:44,249 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:44,251 INFO sqlalchemy.engine.Engine [raw sql] ('Grangegorman Lower (North)', 0, 36, 0, 'dublin', 'GRANGEGORMAN LOWER (NORTH)', 105, 53.355954, -6.278378, 'OPEN')
2023-02-27 11:48:44,960 INFO sqlalchemy.engine.Engine COMMIT
{'number': 36, 'contract_name': 'dublin', 'name': "ST. STEPHEN'S GREEN EAST", 'address': "St. Stephen's Green East", 'position': {'lat': 53.337824, 'lng': -6.256035}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 19, 'available_bikes': 21, 'status': 'OPEN', 'last_update': 1677498336000}
2023-02-27 11:48:45,366 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:45,367 INFO sqlalchemy.engine.Engine [raw sql] ("St. Stephen's Green East", 0, 40, 0, 'dublin', "ST. STEPHEN'S GREEN EAST", 36, 53.337824, -6.256035, 'OPEN')
2023-02-27 11:48:45,474 INFO sqlalchemy.engine.Engine COMMIT
{'number': 93, 'contract_name': 'dublin', 'name': 'HEUSTON STATION (CENTRAL)', 'address': 'Heuston Station (Central)', 'position': {'lat': 53.346603, 'lng': -6.296924}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 40, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677498132000}
2023-02-27 11:48:45,842 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:45,844 INFO sqlalchemy.engine.Engine [raw sql] ('Heuston Station (Central)', 0, 40, 0, 'dublin', 'HEUSTON STATION (CENTRAL)', 93, 53.346603, -6.296924, 'OPEN')
2023-02-27 11:48:46,211 INFO sqlalchemy.engine.Engine COMMIT
{'number': 22, 'contract_name': 'dublin', 'name': 'TOWNSEND STREET', 'address': 'Townsend Street', 'position': {'lat': 53.345922, 'lng': -6.254614}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 6, 'available_bikes': 13, 'status': 'OPEN', 'last_update': 1677498335000}
2023-02-27 11:48:46,462 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:46,464 INFO sqlalchemy.engine.Engine [raw sql] ('Townsend Street', 0, 20, 0, 'dublin', 'TOWNSEND STREET', 22, 53.345922, -6.254614, 'OPEN')
2023-02-27 11:48:46,593 INFO sqlalchemy.engine.Engine COMMIT

{'number': 50, 'contract_name': 'dublin', 'name': 'GEORGES LANE', 'address': "George's Lane", 'position': {'lat': 53.35023, 'lng': -6.279696}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 38, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1677498312000}
2023-02-27 11:48:46,871 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:46,874 INFO sqlalchemy.engine.Engine [raw sql] ("George's Lane", 0, 40, 0, 'dublin', 'GEORGES LANE', 50, 53.35023, -6.279696, 'OPEN')
2023-02-27 11:48:46,998 INFO sqlalchemy.engine.Engine COMMIT
{'number': 110, 'contract_name': 'dublin', 'name': 'PHIBSBOROUGH ROAD', 'address': 'Phibsborough Road', 'position': {'lat': 53.356307, 'lng': -6.273717}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 40, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677497952000}
2023-02-27 11:48:47,242 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:47,245 INFO sqlalchemy.engine.Engine [raw sql] ('Phibsborough Road', 0, 40, 0, 'dublin', 'PHIBSBOROUGH ROAD', 110, 53.356307, -6.273717, 'OPEN')
2023-02-27 11:48:47,395 INFO sqlalchemy.engine.Engine COMMIT
{'number': 12, 'contract_name': 'dublin', 'name': 'ECCLES STREET', 'address': 'Eccles Street', 'position': {'lat': 53.359246, 'lng': -6.269779}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 19, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677498351000}
2023-02-27 11:48:47,609 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:47,611 INFO sqlalchemy.engine.Engine [raw sql] ('Eccles Street', 0, 20, 0, 'dublin', 'ECCLES STREET', 12, 53.359246, -6.269779, 'OPEN')
2023-02-27 11:48:47,749 INFO sqlalchemy.engine.Engine COMMIT
{'number': 34, 'contract_name': 'dublin', 'name': 'PORTOBELLO HARBOUR', 'address': 'Portobello Harbour', 'position': {'lat': 53.330362, 'lng': -6.265163}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 27, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1677497810000}
2023-02-27 11:48:47,943 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:47,945 INFO sqlalchemy.engine.Engine [raw sql] ('Portobello Harbour', 0, 30, 0, 'dublin', 'PORTOBELLO HARBOUR', 34, 53.330362, -6.265163, 'OPEN')
2023-02-27 11:48:48,042 INFO sqlalchemy.engine.Engine COMMIT
{'number': 78, 'contract_name': 'dublin', 'name': 'MATER HOSPITAL', 'address': 'Mater Hospital', 'position': {'lat': 53.359967, 'lng': -6.264828}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 40, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677497943000}
2023-02-27 11:48:48,245 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:48,247 INFO sqlalchemy.engine.Engine [raw sql] ('Mater Hospital', 0, 40, 0, 'dublin', 'MATER HOSPITAL', 78, 53.359967, -6.264828, 'OPEN')
2023-02-27 11:48:48,345 INFO sqlalchemy.engine.Engine COMMIT
{'number': 2, 'contract_name': 'dublin', 'name': 'BLESSINGTON STREET', 'address': 'Blessington Street', 'position': {'lat': 53.356769, 'lng': -6.26814}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 17, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1677497850000}
2023-02-27 11:48:48,547 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:48,550 INFO sqlalchemy.engine.Engine [raw sql] ('Blessington Street', 0, 20, 0, 'dublin', 'BLESSINGTON STREET', 2, 53.356769, -6.26814, 'OPEN')
2023-02-27 11:48:48,656 INFO sqlalchemy.engine.Engine COMMIT
{'number': 75, 'contract_name': 'dublin', 'name': 'JAMES STREET', 'address': 'James Street', 'position': {'lat': 53.343456, 'lng': -6.287409}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 37, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1677498130000}
2023-02-27 11:48:48,881 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:48,883 INFO sqlalchemy.engine.Engine [raw sql] ('James Street', 0, 40, 0, 'dublin', 'JAMES STREET', 75, 53.343456, -6.287409, 'OPEN')
2023-02-27 11:48:48,977 INFO sqlalchemy.engine.Engine COMMIT
{'number': 507, 'contract_name': 'dublin', 'name': 'ORIEL STREET TEST TERMINAL', 'address': 'JCDecaux Ireland, 52 Oriel Street Lower, Dublin 1', 'position': {'lat': 53.35463, 'lng': -6.242615}, 'banking': False, 'bonus': False, 'bike_stands': 1, 'available_bike_stands': 0, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1675786128000}
2023-02-27 11:48:49,174 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:49,176 INFO sqlalchemy.engine.Engine [raw sql] ('JCDecaux Ireland, 52 Oriel Street Lower, Dublin 1', 0, 1, 0, 'dublin', 'ORIEL STREET TEST TERMINAL', 507, 53.35463, -6.242615, 'OPEN')
2023-02-27 11:48:49,328 INFO sqlalchemy.engine.Engine COMMIT
{'number': 111, 'contract_name': 'dublin', 'name': 'MOUNTJOY SQUARE EAST', 'address': 'Mountjoy Square East', 'position': {'lat': 53.356717, 'lng': -6.256359}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 40, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677497803000}
2023-02-27 11:48:49,539 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:49,541 INFO sqlalchemy.engine.Engine [raw sql] ('Mountjoy Square East', 0, 40, 0, 'dublin', 'MOUNTJOY SQUARE EAST', 111, 53.356717, -6.256359, 'OPEN')
2023-02-27 11:48:49,641 INFO sqlalchemy.engine.Engine COMMIT
{'number': 26, 'contract_name': 'dublin', 'name': 'MERRION SQUARE WEST', 'address': 'Merrion Square West', 'position': {'lat': 53.339764, 'lng': -6.251988}, 'banking': True, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 7, 'available_bikes': 13, 'status': 'OPEN', 'last_update': 1677497855000}
2023-02-27 11:48:49,842 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:49,844 INFO sqlalchemy.engine.Engine [raw sql] ('Merrion Square West', 1, 20, 0, 'dublin', 'MERRION SQUARE WEST', 26, 53.339764, -6.251988, 'OPEN')
2023-02-27 11:48:49,949 INFO sqlalchemy.engine.Engine COMMIT
{'number': 65, 'contract_name': 'dublin', 'name': 'CONVENTION CENTRE', 'address': 'Convention Centre', 'position': {'lat': 53.34744, 'lng': -6.238523}, 'banking': True, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 6, 'available_bikes': 34, 'status': 'OPEN', 'last_update': 1677498259000}
2023-02-27 11:48:50,204 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:50,206 INFO sqlalchemy.engine.Engine [raw sql] ('Convention Centre', 1, 40, 0, 'dublin', 'CONVENTION CENTRE', 65, 53.34744, -6.238523, 'OPEN')
2023-02-27 11:48:50,312 INFO sqlalchemy.engine.Engine COMMIT
{'number': 15, 'contract_name': 'dublin', 'name': 'HARDWICKE STREET', 'address': 'Hardwicke Street', 'position': {'lat': 53.355473, 'lng': -6.264423}, 'banking': False, 'bonus': False, 'bike_stands': 16, 'available_bike_stands': 8, 'available_bikes': 5, 'status': 'OPEN', 'last_update': 1677497800000}
2023-02-27 11:48:50,555 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:50,557 INFO sqlalchemy.engine.Engine [raw sql] ('Hardwicke Street', 0, 16, 0, 'dublin', 'HARDWICKE STREET', 15, 53.355473, -6.264423, 'OPEN')
2023-02-27 11:48:50,660 INFO sqlalchemy.engine.Engine COMMIT
{'number': 86, 'contract_name': 'dublin', 'name': 'PARKGATE STREET', 'address': 'Parkgate Street', 'position': {'lat': 53.347972, 'lng': -6.291804}, 'banking': False, 'bonus': False, 'bike_stands': 38, 'available_bike_stands': 38, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677498325000}
2023-02-27 11:48:50,998 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)

2023-02-27 11:48:51,000 INFO sqlalchemy.engine.Engine [raw sql] ('Parkgate Street', 0, 38, 0, 'dublin', 'PARKGATE STREET', 86, 53.347972, -6.291804, 'OPEN')
2023-02-27 11:48:51,109 INFO sqlalchemy.engine.Engine COMMIT
{'number': 35, 'contract_name': 'dublin', 'name': 'SMITHFIELD', 'address': 'Smithfield', 'position': {'lat': 53.347692, 'lng': -6.278214}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 14, 'available_bikes': 15, 'status': 'OPEN', 'last_update': 1677498085000}
2023-02-27 11:48:51,302 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:51,304 INFO sqlalchemy.engine.Engine [raw sql] ('Smithfield', 0, 30, 0, 'dublin', 'SMITHFIELD', 35, 53.347692, -6.278214, 'OPEN')
2023-02-27 11:48:51,405 INFO sqlalchemy.engine.Engine COMMIT
{'number': 10, 'contract_name': 'dublin', 'name': 'DAME STREET', 'address': 'Dame Street', 'position': {'lat': 53.344007, 'lng': -6.266802}, 'banking': True, 'bonus': False, 'bike_stands': 16, 'available_bike_stands': 12, 'available_bikes': 4, 'status': 'OPEN', 'last_update': 1677498085000}
2023-02-27 11:48:51,598 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:51,601 INFO sqlalchemy.engine.Engine [raw sql] ('Dame Street', 1, 16, 0, 'dublin', 'DAME STREET', 10, 53.344007, -6.266802, 'OPEN')
2023-02-27 11:48:51,705 INFO sqlalchemy.engine.Engine COMMIT
{'number': 100, 'contract_name': 'dublin', 'name': 'HEUSTON BRIDGE (SOUTH)', 'address': 'Heuston Bridge (South)', 'position': {'lat': 53.347106, 'lng': -6.292041}, 'banking': False, 'bonus': False, 'bike_stands': 25, 'available_bike_stands': 25, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677497838000}
2023-02-27 11:48:51,941 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:51,943 INFO sqlalchemy.engine.Engine [raw sql] ('Heuston Bridge (South)', 0, 25, 0, 'dublin', 'HEUSTON BRIDGE (SOUTH)', 100, 53.347106, -6.292041, 'OPEN')
2023-02-27 11:48:52,037 INFO sqlalchemy.engine.Engine COMMIT
{'number': 24, 'contract_name': 'dublin', 'name': 'CATHAL BRUGHA STREET', 'address': 'Cathal Brugha Street', 'position': {'lat': 53.352149, 'lng': -6.260533}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 9, 'available_bikes': 11, 'status': 'OPEN', 'last_update': 1677498306000}
2023-02-27 11:48:52,238 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:52,240 INFO sqlalchemy.engine.Engine [raw sql] ('Cathal Brugha Street', 0, 20, 0, 'dublin', 'CATHAL BRUGHA STREET', 24, 53.352149, -6.260533, 'OPEN')
2023-02-27 11:48:52,349 INFO sqlalchemy.engine.Engine COMMIT
{'number': 64, 'contract_name': 'dublin', 'name': 'SANDWITH STREET', 'address': 'Sandwith Street', 'position': {'lat': 53.345203, 'lng': -6.247163}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 4, 'available_bikes': 35, 'status': 'OPEN', 'last_update': 1677497855000}
2023-02-27 11:48:52,544 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:52,546 INFO sqlalchemy.engine.Engine [raw sql] ('Sandwith Street', 0, 40, 0, 'dublin', 'SANDWITH STREET', 64, 53.345203, -6.247163, 'OPEN')
2023-02-27 11:48:52,763 INFO sqlalchemy.engine.Engine COMMIT
{'number': 109, 'contract_name': 'dublin', 'name': 'BUCKINGHAM STREET LOWER', 'address': 'Buckingham Street Lower', 'position': {'lat': 53.353331, 'lng': -6.249319}, 'banking': False, 'bonus': False, 'bike_stands': 29, 'available_bike_stands': 6, 'available_bikes': 23, 'status': 'OPEN', 'last_update': 1677498224000}
2023-02-27 11:48:52,990 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:52,990 INFO sqlalchemy.engine.Engine [raw sql] ('Buckingham Street Lower', 0, 29, 0, 'dublin', 'BUCKINGHAM STREET LOWER', 109, 53.353331, -6.249319, 'OPEN')
2023-02-27 11:48:53,100 INFO sqlalchemy.engine.Engine COMMIT
{'number': 85, 'contract_name': 'dublin', 'name': 'ROTHE ABBEY', 'address': 'Rothe Abbey', 'position': {'lat': 53.338776, 'lng': -6.30395}, 'banking': False, 'bonus': False, 'bike_stands': 35, 'available_bike_stands': 29, 'available_bikes': 6, 'status': 'OPEN', 'last_update': 1677497794000}
2023-02-27 11:48:53,345 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:53,346 INFO sqlalchemy.engine.Engine [raw sql] ('Rothe Abbey', 0, 35, 0, 'dublin', 'ROTHE ABBEY', 85, 53.338776, -6.30395, 'OPEN')
2023-02-27 11:48:53,456 INFO sqlalchemy.engine.Engine COMMIT
{'number': 107, 'contract_name': 'dublin', 'name': 'CHARLEVILLE ROAD', 'address': 'Charleville Road', 'position': {'lat': 53.359157, 'lng': -6.281866}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 22, 'available_bikes': 18, 'status': 'OPEN', 'last_update': 1677498273000}
2023-02-27 11:48:53,668 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:53,670 INFO sqlalchemy.engine.Engine [raw sql] ('Charleville Road', 0, 40, 0, 'dublin', 'CHARLEVILLE ROAD', 107, 53.359157, -6.281866, 'OPEN')
2023-02-27 11:48:53,767 INFO sqlalchemy.engine.Engine COMMIT
{'number': 33, 'contract_name': 'dublin', 'name': "PRINCES STREET / O'CONNELL STREET", 'address': "Princes Street / O'Connell Street", 'position': {'lat': 53.349013, 'lng': -6.260311}, 'banking': True, 'bonus': False, 'bike_stands': 23, 'available_bike_stands': 11, 'available_bikes': 12, 'status': 'OPEN', 'last_update': 1677498376000}
2023-02-27 11:48:54,037 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:54,039 INFO sqlalchemy.engine.Engine [raw sql] ("Princes Street / O'Connell Street", 1, 23, 0, 'dublin', "PRINCES STREET / O'CONNELL STREET", 33, 53.349013, -6.260311, 'OPEN')
2023-02-27 11:48:54,134 INFO sqlalchemy.engine.Engine COMMIT
{'number': 44, 'contract_name': 'dublin', 'name': 'UPPER SHERRARD STREET', 'address': 'Upper Sherrard Street', 'position': {'lat': 53.358437, 'lng': -6.260641}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 29, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677497975000}
2023-02-27 11:48:54,334 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:54,335 INFO sqlalchemy.engine.Engine [raw sql] ('Upper Sherrard Street', 0, 30, 0, 'dublin', 'UPPER SHERRARD STREET', 44, 53.358437, -6.260641, 'OPEN')
2023-02-27 11:48:54,449 INFO sqlalchemy.engine.Engine COMMIT
{'number': 89, 'contract_name': 'dublin', 'name': 'FITZWILLIAM SQUARE EAST', 'address': 'Fitzwilliam Square East', 'position': {'lat': 53.335211, 'lng': -6.2509}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 21, 'available_bikes': 18, 'status': 'OPEN', 'last_update': 1677498034000}
2023-02-27 11:48:54,654 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:54,655 INFO sqlalchemy.engine.Engine [raw sql] ('Fitzwilliam Square East', 0, 40, 0, 'dublin', 'FITZWILLIAM SQUARE EAST', 89, 53.335211, -6.2509, 'OPEN')
2023-02-27 11:48:54,752 INFO sqlalchemy.engine.Engine COMMIT
{'number': 57, 'contract_name': 'dublin', 'name': 'GRATTAN STREET', 'address': 'Grattan Street', 'position': {'lat': 53.339629, 'lng': -6.243778}, 'banking': False, 'bonus': False, 'bike_stands': 23, 'available_bike_stands': 7, 'available_bikes': 16, 'status': 'OPEN', 'last_update': 1677498005000}
2023-02-27 11:48:54,973 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:54,974 INFO sqlalchemy.engine.Engine [raw sql] ('Grattan Street', 0, 23, 0, 'dublin', 'GRATTAN STREET', 57, 53.339629, -6.243778, 'OPEN')
2023-02-27 11:48:55,133 INFO sqlalchemy.engine.Engine COMMIT
{'number': 80, 'contract_name': 'dublin', 'name': 'ST JAMES HOSPITAL (LUAS)', 'address': 'St James Hospital (Luas)', 'position': {'lat': 53.341359, 'lng': -6.292951}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 23, 'available_bikes': 17, 'status': 'OPEN', 'last_update': 1677498197000}
2023-02-27 11:48:55,364 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)

2023-02-27 11:48:55,377 INFO sqlalchemy.engine.Engine [raw sql] ('St James Hospital (Luas)', 0, 40, 0, 'dublin', 'ST JAMES HOSPITAL (LUAS)', 80, 53.341359, -6.292951, 'OPEN')
2023-02-27 11:48:55,475 INFO sqlalchemy.engine.Engine COMMIT
{'number': 41, 'contract_name': 'dublin', 'name': 'HARCOURT TERRACE', 'address': 'Harcourt Terrace', 'position': {'lat': 53.332763, 'lng': -6.257942}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 20, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677497906000}
2023-02-27 11:48:55,682 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:55,683 INFO sqlalchemy.engine.Engine [raw sql] ('Harcourt Terrace', 0, 20, 0, 'dublin', 'HARCOURT TERRACE', 41, 53.332763, -6.257942, 'OPEN')
2023-02-27 11:48:55,778 INFO sqlalchemy.engine.Engine COMMIT
{'number': 3, 'contract_name': 'dublin', 'name': 'BOLTON STREET', 'address': 'Bolton Street', 'position': {'lat': 53.351182, 'lng': -6.269859}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 8, 'available_bikes': 12, 'status': 'OPEN', 'last_update': 1677498264000}
2023-02-27 11:48:55,974 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:55,975 INFO sqlalchemy.engine.Engine [raw sql] ('Bolton Street', 0, 20, 0, 'dublin', 'BOLTON STREET', 3, 53.351182, -6.269859, 'OPEN')
2023-02-27 11:48:56,142 INFO sqlalchemy.engine.Engine COMMIT
{'number': 40, 'contract_name': 'dublin', 'name': 'JERVIS STREET', 'address': 'Jervis Street', 'position': {'lat': 53.3483, 'lng': -6.266651}, 'banking': False, 'bonus': False, 'bike_stands': 21, 'available_bike_stands': 17, 'available_bikes': 4, 'status': 'OPEN', 'last_update': 1677498060000}
2023-02-27 11:48:56,357 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:56,358 INFO sqlalchemy.engine.Engine [raw sql] ('Jervis Street', 0, 21, 0, 'dublin', 'JERVIS STREET', 40, 53.3483, -6.266651, 'OPEN')
2023-02-27 11:48:56,500 INFO sqlalchemy.engine.Engine COMMIT
{'number': 29, 'contract_name': 'dublin', 'name': 'ORMOND QUAY UPPER', 'address': 'Ormond Quay Upper', 'position': {'lat': 53.346057, 'lng': -6.268001}, 'banking': False, 'bonus': False, 'bike_stands': 29, 'available_bike_stands': 29, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677498114000}
2023-02-27 11:48:56,703 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:56,705 INFO sqlalchemy.engine.Engine [raw sql] ('Ormond Quay Upper', 0, 29, 0, 'dublin', 'ORMOND QUAY UPPER', 29, 53.346057, -6.268001, 'OPEN')
2023-02-27 11:48:56,819 INFO sqlalchemy.engine.Engine COMMIT
{'number': 103, 'contract_name': 'dublin', 'name': 'GRANGEGORMAN LOWER (SOUTH)', 'address': 'Grangegorman Lower (South)', 'position': {'lat': 53.354663, 'lng': -6.278681}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 37, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1677498201000}
2023-02-27 11:48:57,015 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:57,017 INFO sqlalchemy.engine.Engine [raw sql] ('Grangegorman Lower (South)', 0, 40, 0, 'dublin', 'GRANGEGORMAN LOWER (SOUTH)', 103, 53.354663, -6.278681, 'OPEN')
2023-02-27 11:48:57,185 INFO sqlalchemy.engine.Engine COMMIT
{'number': 28, 'contract_name': 'dublin', 'name': 'MOUNTJOY SQUARE WEST', 'address': 'Mountjoy Square West', 'position': {'lat': 53.356299, 'lng': -6.258586}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 12, 'available_bikes': 18, 'status': 'OPEN', 'last_update': 1677498371000}
2023-02-27 11:48:57,408 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:57,409 INFO sqlalchemy.engine.Engine [raw sql] ('Mountjoy Square West', 0, 30, 0, 'dublin', 'MOUNTJOY SQUARE WEST', 28, 53.356299, -6.258586, 'OPEN')
2023-02-27 11:48:57,510 INFO sqlalchemy.engine.Engine COMMIT
{'number': 39, 'contract_name': 'dublin', 'name': 'WILTON TERRACE', 'address': 'Wilton Terrace', 'position': {'lat': 53.332383, 'lng': -6.252717}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 16, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1677498371000}
2023-02-27 11:48:57,717 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:57,719 INFO sqlalchemy.engine.Engine [raw sql] ('Wilton Terrace', 0, 20, 0, 'dublin', 'WILTON TERRACE', 39, 53.332383, -6.252717, 'OPEN')
2023-02-27 11:48:57,816 INFO sqlalchemy.engine.Engine COMMIT
{'number': 83, 'contract_name': 'dublin', 'name': 'EMMET ROAD', 'address': 'Emmet Road', 'position': {'lat': 53.340714, 'lng': -6.308191}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 29, 'available_bikes': 11, 'status': 'OPEN', 'last_update': 1677497865000}
2023-02-27 11:48:58,040 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:58,042 INFO sqlalchemy.engine.Engine [raw sql] ('Emmet Road', 0, 40, 0, 'dublin', 'EMMET ROAD', 83, 53.340714, -6.308191, 'OPEN')
2023-02-27 11:48:58,271 INFO sqlalchemy.engine.Engine COMMIT
{'number': 92, 'contract_name': 'dublin', 'name': 'HEUSTON BRIDGE (NORTH)', 'address': 'Heuston Bridge (North)', 'position': {'lat': 53.347802, 'lng': -6.292432}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 38, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1677498103000}
2023-02-27 11:48:58,472 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:58,473 INFO sqlalchemy.engine.Engine [raw sql] ('Heuston Bridge (North)', 0, 40, 0, 'dublin', 'HEUSTON BRIDGE (NORTH)', 92, 53.347802, -6.292432, 'OPEN')
2023-02-27 11:48:58,567 INFO sqlalchemy.engine.Engine COMMIT
{'number': 21, 'contract_name': 'dublin', 'name': 'LEINSTER STREET SOUTH', 'address': 'Leinster Street South', 'position': {'lat': 53.34218, 'lng': -6.254485}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 9, 'available_bikes': 20, 'status': 'OPEN', 'last_update': 1677497954000}
2023-02-27 11:48:58,789 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:58,790 INFO sqlalchemy.engine.Engine [raw sql] ('Leinster Street South', 0, 30, 0, 'dublin', 'LEINSTER STREET SOUTH', 21, 53.34218, -6.254485, 'OPEN')
2023-02-27 11:48:58,884 INFO sqlalchemy.engine.Engine COMMIT
{'number': 88, 'contract_name': 'dublin', 'name': 'BLACKHALL PLACE', 'address': 'Blackhall Place', 'position': {'lat': 53.3488, 'lng': -6.281637}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 13, 'available_bikes': 17, 'status': 'OPEN', 'last_update': 1677498241000}
2023-02-27 11:48:59,099 INFO sqlalchemy.engine.Engine INSERT INTO `dublin_bikes`.`station` values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 11:48:59,101 INFO sqlalchemy.engine.Engine [raw sql] ('Blackhall Place', 0, 30, 0, 'dublin', 'BLACKHALL PLACE', 88, 53.3488, -6.281637, 'OPEN')
2023-02-27 11:48:59,281 INFO sqlalchemy.engine.Engine COMMIT