In [15]:
import sqlalchemy as sqla
from sqlalchemy import create_engine
import traceback
import glob
import os
from pprint import pprint
#import simplejson as json
import requests
import time
from IPython.display import display

In [17]:
URI="dbikes.cilfi4edpsps.eu-west-1.rds.amazonaws.com"
PORT="3306"
DB="dbikes"
USER="cmcelduff"

In [19]:
engine = create_engine("mysql+mysqldb://{}:{}@{}:{}/{}".format(USER, URI, PORT, DB), echo=True)

IndexError: Replacement index 4 out of range for positional args tuple